/* Generic Form Style Pages 2 */
.genericForm2 div#MainContentArea { margin-left:10px; }
.genericForm2 div.form2 ul li input.radio { width:20px; }
.genericForm2 div.form2 ul li span.checkbox { float:left; margin-left: 0px; }
.genericForm2 div.form2 ul li span.checkbox input { width:20px; float:none;}
.genericForm2 div.form2 ul li span.checkbox label { font-weight:normal; float:none; margin-left:10px; width:150px; color:#676767; text-align:left; }
.genericForm2 div.form2 ul li input { width:250px; }
.genericForm2 div.form2 ul li select { width:250px; }
.genericForm2 div.form2 ul li textarea { width:250px; font-size:1.1em; font-family:Arial, Helvetica, Sans-Serif; }
.genericForm2 div.form2 ul li { width:408px; }
.genericForm2 div.form2 fieldset { margin-bottom:1em; }

.genericForm2 div.form2 ul ul { float:left; margin:0; padding:0; margin-left:10px;  }
.genericForm2 div.form2 ul ul li { list-style:circle outside; }


.sfdcPageText { margin:0; padding:0.6em 0; background:url(/Resources/img/css/dotted_bg_reverse.gif) left bottom repeat-x; float:left; width:408px; margin-bottom:0.1em; margin-top:0.9em; }
.sfdcDivider { border-top: 2px solid #EEAA22; margin-bottom:-0.9em; display:none;}

div.form2 { background-image:none; }
div.form2 ul { list-style:none; float:left; padding:0; margin-left:0 }
div.form2 ul li { margin:0; padding:0.6em 0; background:url(/Resources/img/css/dotted_bg_reverse.gif) left bottom repeat-x; float:left; font-size:1em; width:358px; }
div.form2 p.intro { margin:0.5em 0; }
div.form2 fieldset p.intro { color:#676767; font-size:1.1em; }
div.form2 div.contentZone fieldset p.intro { padding-top:1em; margin-bottom:0; }
div.form2 ul { list-style:none; float:left; padding:0; margin-bottom:-1.2em; }
div.form2 ul li { margin:0; padding:0.6em 0; background:url(/Resources/img/css/dotted_bg_reverse.gif) left bottom repeat-x; float:left; font-size:1em; width:358px; }
div.form2 ul li p { font-size:1.1em; }
div.form2 ul li.last { background-image:none; }
div.form2 ul li label, div.form ul li p.label  { font-weight:bold; float:left; margin:0; width:150px; color:#676767; text-align:left; }
div.form2 ul li input { width:200px; }
div.form2 ul li input.shortField { width:93px; }
div.form2 ul li textarea { width:200px; font-size:1.1em; font-family:Arial, Helvetica, Sans-Serif; }
#Page div.form2 ul li.checkbox input { width:auto; float:left; margin:0; vertical-align:-25%; }
div.form2 ul li.checkbox label { width:auto; margin-left:10px; float:left; display:inline; max-width:355px; }
div.form2 ul li.checkbox div.extra { margin-top:0.5em; }
div.form2 ul li.checkbox div.extra label { margin-left:0; margin-right:10px; }
div.form2 ul li.checkbox div.extra input { width:50px; }
div.form2 ul .dateSelect{ width:95px;}
div.form2 ul li select { font-size:1.1em; width:225px;}
div.form2 ul li img { float:right;margin:0 5px 0 0;}
div.form2 ul li select.auto { width:auto; min-width:50px; }
div.form2 ul li p.info { float:left; width:33%; clear:left; margin-bottom:0; color:#676767; }
div.form2 ul li p.help { color:#666; }
div.form2 ul ul { float:right; width:208px; display:inline; margin:0; padding:0; }
div.form2 ul ul li { padding-top:0; background-image:none; float:left; width:100%; }
div.form2 ul ul li input { width:auto; }
div.form2 ul ul li label { float:none; font-weight:normal; }

div.form2 ul li span.error{ float:left; clear:both; width:100%; font-weight:bold; font-size:1.1em; text-transform:uppercase; margin:0.2em 0;  color:#cc0000; }
.error2,
p.error2 { float:left; clear:both; width:100%; font-weight:bold; font-size:1.1em; text-transform:uppercase; margin-top:0;  color:#cc0000; }
.error2	{ margin-top:0px}
.error2Empty { height: 1px; }
div.form2 ul li input.error,
div.form2 ul li select.error { border:#c00 solid 1px; background:#FAE5E5; }

.form-item label label{float:left;width:200px;margin:0 20px 0 0;font-size:1.3em;color:#333;padding:6px 0 0 0;font-weight:normal;text-align:right;display:block;}
.form-item label input[type="text"],
.form-item label select,
.form-item label textarea{float:left;width:300px;}

.form-item span.label-wrapper label{float:left;width:200px;margin:0 20px 0 0;font-size:1.3em;color:#333;padding:6px 0 0 0;font-weight:normal;text-align:right;display:block;}
.form-item span.label-wrapper input[type="text"],
.form-item span.label-wrapper select,
.form-item span.label-wrapper textarea{float:left;width:300px;}

.lt-ie8 .form-item.signup-email label input[type="text"]{width:167px;}


.form-item span.checkbox{display:block;float:left;width:300px;padding:6px 0 0 0;}
.form-item span.checkbox input[type="radio"]{float:left;width:auto;margin:5px 10px 5px 0;clear:left;background:transparent;border:0;padding:0;}
.form-item span.checkbox label{float:left;width:auto;text-align:left;padding:0;display:block;padding:0 0 5px 0;}
.form-item span.checkbox br{display:none;}

.lt-ie8 .form-item span.checkbox br{display:block;}

.newForm .form-item:after{clear:both;content:".";display:block;height:0;visibility:hidden;/*IE6*/}
.newForm .form-item{display:block;}

.newForm .form-block fieldset{padding:20px;}

input[type="submit"]{  padding: 8px 10px;
  font-size: 16px;
  font-size: 1.6rem;
  color:#fff;
  background: #d73000 url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2MzMwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q3MzAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: #d73000 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e63300), color-stop(100%, #d73000));
  background: #d73000 -webkit-linear-gradient(#e63300, #d73000);
  background: #d73000 -moz-linear-gradient(#e63300, #d73000);
  background: #d73000 -o-linear-gradient(#e63300, #d73000);
  background: #d73000 linear-gradient(#e63300, #d73000);
  text-shadow: 0 0 1px #8c1900;
  position: relative;
  overflow: hidden;
  border-color: #c73e2d;}

input[type="submit"]:hover{
  background: #be2a00;
}

input[type="button"]{  padding: 8px 10px;
  font-size: 16px;
  font-size: 1.6rem;
  color:#fff;
  background: #d73000 url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2MzMwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q3MzAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: #d73000 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e63300), color-stop(100%, #d73000));
  background: #d73000 -webkit-linear-gradient(#e63300, #d73000);
  background: #d73000 -moz-linear-gradient(#e63300, #d73000);
  background: #d73000 -o-linear-gradient(#e63300, #d73000);
  background: #d73000 linear-gradient(#e63300, #d73000);
  text-shadow: 0 0 1px #8c1900;
  position: relative;
  overflow: hidden;
  border-color: #c73e2d;}

input[type="button"]:hover{
  background: #be2a00;
}


.tabbed-fields .form-item .checkbox-replaced{padding-left:0;}


label.checkbox-replaced,
label.checkbox-replaced label,
label.checkbox-replaced.checked,
label.checkbox-replaced.checked label{background:transparent;}

label.checkbox-replaced .checkbox input{position:static;left:0;top:0;float:left;width:auto;clear:both;margin:2px 10px 0 0;background:transparent;border:0;padding:0;}
label.checkbox-replaced .checkbox label{float:left;width:auto;margin:-2px 0 0 0;}

label.checkbox-replaced .checkbox br{display:none;}
.lt-ie8 label.checkbox-replaced .checkbox{display:block;}

.form-block label .selectBox-inline {height:150px;margin:5px 0 0 0;}
.selectBox-options{box-shadow:none;}

.lt-ie8 select{font-size:1.4em;}


.form-item label label.label-error{color:#ff0000;}

.form-item span.label-wrapper label.label-error{color:#ff0000;}


/*
label.checkbox-replaced .checkbox label, label.checkbox-replaced.checked .checkbox label{
  background: url('/ui/css/img/checkboxes-sa9d5f98f86.png') no-repeat;
}

label.checkbox-replaced .checkbox label {
  min-height: 24px;
  overflow: hidden;
  padding-left: 40px;
  background-position: 0 -242px;
}
label.checkbox-replaced .checkbox input {
  position: absolute;
  left: -1000px;
  width: auto!important;
  // This line is necessary to stop bogus input boxes appearing off-left in IE9! @see https://trello.com/card/ie9-checkbox-visibility-bug/4ff33e8323fc47565c6a6502/99 
}
label.checkbox-replaced.checked .checkbox label {
  background-position: 0 0;
}
*/

