<html lang="en"><head>
  <meta charset="UTF-8">  
  <title>tutorial === Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/tutorial.css">
  <link rel="stylesheet" href="css/tooltip.css">
</head>
<body translate="no">
<div class="l-site">
  <div class="l-nav">
    <nav class="nav">
      <input type="text" placeholder="Search" id="search">
      <div style="clear: both;"></div>
      <!-- nunjucks loop-->
            
<ul class="links">
<!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts">check if type is array</a><span class="tooltiptext">check if type is array</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts">Ways of creating arrays</a><span class="tooltiptext">Ways of creating arrays</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>by simple Constructor SPARSE array: Array(number) or Array(arg,arg....)</a><span class="tooltiptext">by simple Constructor SPARSE array: Array(number) or Array(arg,arg....)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>by Function.proototype.apply: Array.apply(null, Array(number))</a><span class="tooltiptext">by Function.proototype.apply: Array.apply(null, Array(number))</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts">Array methods()</a><span class="tooltiptext">Array methods()</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts">spread Oberators in Array</a><span class="tooltiptext">spread Oberators in Array</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Spread oparator how it works</a><span class="tooltiptext">Spread oparator how it works</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Spread Operator as array joiner</a><span class="tooltiptext">Spread Operator as array joiner</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>spread operator as array.push(); or array.unshift();</a><span class="tooltiptext">spread operator as array.push(); or array.unshift();</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts">Desctructuring Assigment in Arrays</a><span class="tooltiptext">Desctructuring Assigment in Arrays</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Desctructuring Assigment in Arrays</a><span class="tooltiptext">Desctructuring Assigment in Arrays</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Desctructuring Assigment in nested structure Arrays</a><span class="tooltiptext">Desctructuring Assigment in nested structure Arrays</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Desctructuring Assigment in Arrays with (Spread Operator)</a><span class="tooltiptext">Desctructuring Assigment in Arrays with (Spread Operator)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Desctructuring Assigment in Arrays with (default value)</a><span class="tooltiptext">Desctructuring Assigment in Arrays with (default value)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts">Array.prototype.splice(startIndex,[endIndex])</a><span class="tooltiptext">Array.prototype.splice(startIndex,[endIndex])</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Array.prototype.splice(startIndex,[endIndex])</a><span class="tooltiptext">Array.prototype.splice(startIndex,[endIndex])</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Array.prototype.splice(startIndex,[endIndex,replacedRangeInSplice]</a><span class="tooltiptext">Array.prototype.splice(startIndex,[endIndex,replacedRangeInSplice]</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Array.prototype.splice(-1)</a><span class="tooltiptext">Array.prototype.splice(-1)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Array.prototype.splice(-1,1,replaceLastfromOriginal)</a><span class="tooltiptext">Array.prototype.splice(-1,1,replaceLastfromOriginal)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts">Array.prototype.sort()</a><span class="tooltiptext">Array.prototype.sort()</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Array.prototype.sort()</a><span class="tooltiptext">Array.prototype.sort()</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Array.prototype.sort(callback) integers</a><span class="tooltiptext">Array.prototype.sort(callback) integers</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Array.prototype.sort(callback) non-integers</a><span class="tooltiptext">Array.prototype.sort(callback) non-integers</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>Array.prototype.sort() nested Objects (summary)</a><span class="tooltiptext">Array.prototype.sort() nested Objects (summary)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts">ES5/ES6 array.map(callback)</a><span class="tooltiptext">ES5/ES6 array.map(callback)</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts">ES6 array methods</a><span class="tooltiptext">ES6 array methods</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>array.some(callback)</a><span class="tooltiptext">array.some(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>array.every(callback)</a><span class="tooltiptext">array.every(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>array.find(callback)</a><span class="tooltiptext">array.find(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>array.findIndex(callback)</a><span class="tooltiptext">array.findIndex(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>array.filter(callback)</a><span class="tooltiptext">array.filter(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>copyWithin(target, start, end)</a><span class="tooltiptext">copyWithin(target, start, end)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>array.fill(value,[startIndex, endIndex])</a><span class="tooltiptext">array.fill(value,[startIndex, endIndex])</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>array.includes(value)</a><span class="tooltiptext">array.includes(value)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts">array.reduce(callback(a,e,i){return a},startPoint)</a><span class="tooltiptext">array.reduce(callback(a,e,i){return a},startPoint)</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>array.reduce(callback) interator couter</a><span class="tooltiptext">array.reduce(callback) interator couter</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>array.reduce(callback) array calculor with starting point</a><span class="tooltiptext">array.reduce(callback) array calculor with starting point</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/array_tuts" partition>array.reduce(callback) Object transformation</a><span class="tooltiptext">array.reduce(callback) Object transformation</span>
                        
                    </ul>
                
      </li>
    
<!--end-list-tag-->
</ul>

       <!-- nunjucks loop-->
    </nav>
  </div>
  <div class="l-page">
    <div class="menu">
      <div class="menu-hamburger"></div>
    </div>
      <!-- nunjucks loop-->
          
<div class="sectionWrapper">
  <div class="sectionContainer">
   
      
      <section  class="band band-b activeSection"  class="band band-b">
          <h1> check if type is array </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>type is array</p>
                  <div class="codeWraper">
                    <code>-------------array ------------------

myArray  = [1,2,3]

-------------check if array is array------------------

1 Array.isArray(myArray)
2 myArray.constructor.name === &quot;Array&quot;
3 Object.prototype.toString.call(myArray) === &quot;[object Array]&quot;
4 (myArray instanceof Array)

-----------------</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Ways of creating arrays </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>SPARSE array is a array with empty pockets. Array(number) doesnt need a &#39;new&#39; keyword will make an array with empty entries. Array(5) will creates this [,,,,,] This could be handy an example below:</p>
                  <div class="codeWraper">
                    <code>/*********************************************/

  //Lest say you need to create an Array of 5 pocket each fill with numbers from 1,5 

  /*

    look the diffrence Array(5) create an array of (5 x empty) this will be skipped by any
     Array method as map, forEach... 

  */
    Array(5).map((e,n)=&gt;n) //still (5 x empty) nothing to interate on !

  //but if we fill array first and then we can interate on it
   Array(5).fill(&#39;&#39;).map((e,n)=&gt;n) same as Array(1, 2, 3, 4, 5);


/*********************************************/</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>Array.apply inherits this method from Function.prototype like any other Object so it will apply Array Constructor to the array itselft so it creates an array (outcome similar to above)</p>
                  <div class="codeWraper">
                    <code>/*********************************************/

//Lets say you need to create an Array of 5 pocket each fill with numbers from 1,5 


//this it will fill array first with undefined
Array.apply( null, Array(5) ) //crates [ 5 x undefined]; (not empty) so we got something to interate on!

Array.apply(null, Array(5) ).map((e,n)=&gt;n) same as  Array(0, 1, 2, 3, 4);

//and the exmple above same result
Array(5).fill(&#39;&#39;).map((e,n)=&gt;n) same as  Array(1, 2, 3, 4, 5);


/*********************************************/</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Array methods() </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>Array methods (most popular)</p>
                  <div class="codeWraper">
                    <code>----------------Array methods()----------------------


//removing
1 fruits.shift() = removes first elemnet from Array

2 fruits.pop(); === removes last elemnet from Array

//adding
3 fruits.push(&quot;Grapes&quot;);  = inserts element to end of Array;

4 fruits.unshift(&quot;Lemon&quot;)  === adds element to begining of the Array;

//concatinating
5 arr1.concat(arr2,arr3)  === Concatenates (joins) arr1 and arr2,arr3&#39;);

//slicing and copying
6.fruits.slice() === it will create a new Array from all elements (startIndex is 0 by default if not specified);

//slicing from the end
6a. fruits.slice(-2) === it will create a new Array from last 2 elements or original array;

6b fruits.slice(1,4)  === it will create a new Array from index 1 to index 3 


------------convert Array to string------------


1 arr.toString();  = converts array to String with comma seperated values;

2 arr.join(&quot;*&quot;) = creates String from Array seperated with * sign;

2a arr.toString() = arr.join(&quot;,&quot;)  //same outcome;


------------convert Array-like objec to regular javascirp Array ------------


  quite a few object in Dom are &quot;array-like&quot; that means they are act as array but not all arrey methods can be run on them (especially Array.map() loop)

  Array-like object are for example
              NodeList = document.getElementsByTagName(), document.getElementsByClassName, document.querySelectorAll(&#39;css selector&#39;);
              HTML collections = window.getComputedStyle(document.documentElement, &#39;&#39;)

  //to convert them in regular array you need to run call method on Array.prototype.slice

  Array.prototype.slice.call(Node_list);

------------ ------------ ------------ ------------</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> spread Oberators in Array </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Spread oparator it will evaluate content given and convert to array [...content]</p>
                  <div class="codeWraper">
                    <code>------------ ------------ it is posible to use spread operators on string (not recomended)--------

 let str = &quot;Hello&quot;;
 let arrFrom = [...str];

---------------  check outcome ------------ 

 console.log(arrFrom.constructor.name); // Array
 console.log(arrFrom); // H,e,l,l,o

 ------------ ------------ the same outcome the proper way using array --------

 the correct way (most used) is to use spraed opearator on Arrays (not strings that we convert to Arrays) cause that might bring 
 unexpected results, but just ot show it both examples print the same results;

 let str = [&quot;H&quot;,&quot;e&quot;,&quot;l&quot;,&quot;l&quot;,&quot;o&quot;];
 let arrFrom = [...str];

---------------  check outcome ------------ 

 console.log(arrFrom.constructor.name); // Array
 console.log(arrFrom); // H,e,l,l,o

------------ ------------------------ ------------------------ ------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>Spread Operator as array joiner:
                    It allows to join 2 or more arrays using syntax [...arr1,..arr2,...arr3] etc;</p>
                  <div class="codeWraper">
                    <code>-------------------- spread Operator as array joiner but joining String and Array (not reccomended)--------------------

 let str = &quot;Hello&quot;;
 let numbers = &#39;123&#39; //this is just example but very bad practice 
 let arrFrom = [...str,...numbers];

---------------  check outcome ------------

 console.log(arrFrom.constructor.name); // Array
 console.log(arrFrom); // [&quot;H&quot;, &quot;e&quot;, &quot;l&quot;, &quot;l&quot;, &quot;o&quot;, &quot;1&quot;, &quot;2&quot;, &quot;3&quot;]

 --------------------spread Operator as array joiner a good practice--------------------------

 let str = [&quot;H&quot;,&quot;e&quot;,&quot;l&quot;,&quot;l&quot;,&quot;o&quot;]; //those are letters in Array to start from
 let numbers = [1,2,3] //those are cleary numbers in Array to start from
 let arrFrom = [...str,...numbers];

---------------  check outcome ------------
 console.log(arrFrom.constructor.name); // Array
 console.log(arrFrom); // [&quot;H&quot;, &quot;e&quot;, &quot;l&quot;, &quot;l&quot;, &quot;o&quot;, 1, 2, 3]

 ------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>spread operator as array.push(); or array.unshift();
                     spread operator can be also used for simple array push() or array unshift() or combination of both and more down there;</p>
                  <div class="codeWraper">
                    <code>----------------- array -----------------

  const numbers = [1,2,3,4];

  ----------------- as addNumberLast.push(5) ---------------------

  const addNumberLast = [...numbers,5];
  
  ----------------- as addNumberFirst.unshift(0) ---------------------

  const addNumberFirst = [0,...numbers];


  ----------------- or combination values -----------------

  const addNumberCombinationValues = [0,...numbers,5,6,7];

  ----------------- or combination values and spread operators -----------------

  const numbersLastAdded = [8,9,10];
  const addNumberCombinationSpreads = [0,...numbers,5,6,7,...numbersLastAdded];

  --------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Desctructuring Assigment in Arrays </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Desctructuring Assigment in Arrays:
               allows you to assign &quot;=&quot; left to right with desctructuring syntax by creating variables as 

               let [pocket1, pocket2, pocket3] = [1,2,3];</p>
                  <div class="codeWraper">
                    <code>------------------- ES5 -------------------

 var someArray = [1, 2, 3];
 var first = someArray[0];
 var second = someArray[1];
 var third = someArray[2];

 ------------------- ES6 -------------------

 var someArray = [1, 2, 3];
 let [pocket1, pocket2, pocket3] = someArray;
 console.log(pocket1, pocket2, pocket3);

 ----------------U can also skip values cause U can not be asked to type so much ;) -------------

 let  [,,third] = [&quot;foo&quot;, &quot;bar&quot;, &quot;baz&quot;];
 console.log(third); // &quot;baz&quot;

 -----------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>let [foo, [[bar], baz]] = [1, [[2], 3]]; //the [] syntax has to match;</p>
                  <div class="codeWraper">
                    <code>----------------------ES6--------------------------

 var [foo, [[bar], baz]] = [1, [[2], 3]]; //the [] syntax has to match;
 console.log(&#39;values&#39;, foo,bar,baz);

 --------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>Desctructuring Assigment in Arrays with (Spread Operator)</p>
                  <div class="codeWraper">
                    <code>-------------- selecting last element of hte array with spread operator -------------------

var [head, ...tail] = [1, 2, 3, 4];
console.log(tail);// [2, 3, 4]
console.log(head);// 1

------------------------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>Desctructuring Assigment in Arrays (default value) can be assign to your desctucring structure to avoid undefined value</p>
                  <div class="codeWraper">
                    <code>-------------------------- when the value doesnt exist -------------------------- 

 var [missing] = [];
 console.log(missing);
 // undefined

 -------------------------- but you can specify a default value as solution  -------------------------- 

 var [missing = true] = [];
 console.log(missing); //true;

 -------------------------- -------------------------- -------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Array.prototype.splice(startIndex,[endIndex]) </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Array.prototype.splice(startIndex,[endIndex])
                    it will create a new Array from original one from startIndex [endIndex, &#39;newValue&#39;] and it will modify the original</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

  const months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;];

 -------------------------- months.splice(2) --------------------------

  const cutHalf = months.splice(2);
  //cutHalf = [&#39;April&#39;, &#39;June&#39;]; 
  //months = [&#39;Jan&#39;, &#39;March&#39;]; 

  -------------------------- Array.prototype.splice(startIndex,endIndex) --------------------------

  const months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;];

  const cutMiddle = months.splice(1,2);
  //cutMiddle = [&#39;March&#39;, &#39;April&#39;]; 
  //months = [&#39;Jan&#39;, &#39;June&#39;];

  ------------------------- ------------------------- -------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>Array.prototype.splice(startIndex,[endIndex,replacedRangeInSplice])
      
                    the third argument will replace splice chunk (startIndex,endIndex) with the third Argument</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------
  const months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;];

   -------------------------- Array.prototype.splice(startIndex,endIndex) --------------------------

  const cutMiddle = months.splice(1,2,&#39;replacedRangeInSplice&#39;);

  //cutMiddle = [&#39;March&#39;, &#39;April&#39;]; 
  //months = [&#39;Jan&#39;, &#39;replacedRangeInSplice&#39;, &#39;June&#39;];


   -------------------------- -------------------------- -------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>Array.prototype.splice(-1)
                    splicing from the tail of the array so last element and create an array of the last one;</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

  const months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;,&#39;July&#39;, &#39;August&#39;];

  -------------------------- const lastElement = months.splice(-1)  --------------------------

  const lastElement = months.splice(-1)
  //lastElement = [&#39;August&#39;];
  //months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;,&#39;July&#39;];

   --------------------------  --------------------------  --------------------------  --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>Array.prototype.splice(-1,1,replaceLastfromOriginal)
                 /*splicing from the tail of the array and replace original last element array*/

                 Array.prototype.splice(startIndex,lastIndex,&#39;replace&#39;) lastindex has to be 1 any other number will produce unexpexted results</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

 const months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;,&#39;July&#39;, &#39;August&#39;];

  -------------------------- const lastElement = months.splice(-1,1,&#39;replaceLastfromOriginal&#39;); --------------------------

  const lastElement = months.splice(-1,1,&#39;replaceLastfromOriginal&#39;);
 //lastElement = [&#39;August&#39;];
 //months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;,&#39;July&#39;,&#39;replaceLastfromOriginal&#39;];

 --------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Array.prototype.sort() </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Array.prototype.sort() 
                By default sorting will only for charackters of the same Case (lower or upper not mixed).
                It will sort ascenting</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

const charackters = [&#39;chris&#39;,&#39;aga&#39;,&#39;STEFAN&#39;,&#39;greg&#39;];

digits.sort();
//[&quot;STEFAN&quot;, &quot;aga&quot;, &quot;chris&quot;, &quot;greg&quot;] not quite what is expected;

THEREFORE YOUR SAVE BET IS TO USER SORT FUNCTIONS as explain in next sections 

----------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>sort ascenting;
                Array.prototype.sort( (a,b)=&gt; a-b );
                sort ascenting;
                Array.prototype.sort( (a,b)=&gt; b-a );</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------
const arraySortNumbers = [6,5,1,9];


-------------------------- 1 round  --------------------------
    compare(6-5);     // (a&gt;b) returns 1, a is greater than b  (In other words, 5 will come first.) 5,6   [(5,6),1,9]
    compare(6-1);  // (a&gt;b) returns 5, a is greater than b  (In other words, 1 will come first.)  1,6     [5,(1,6),9]
    compare(6-9);  // (a less than b) returns -3, a is less than b  (In other words, 6 will come first.)   6,9      [5,1,(6,9)]
    
-------------------------- 2 round  --------------------------
    compare(5-1);  // returns 4, a is greater than b  (In other words, b will come first.)  1,5     [(1,5),6,9]
    compare(5-9);  // returns -4, a is greater than b  (In other words, b will come first.)  5,9    [1,(5),6,(9)]
    
 --------------------------3 round  --------------------------
    compare(1-9);  // returns -8, a is greater than b  (In other words, b will come first.)  1,9    [(1),5,6,(9)]

      ( IN BRACKETS WE HAVE NUMBERS THAT ARE BEING COMPARED AND WHAT ORDER THEY SORT);


-------------------------- sorting ascenting --------------------------

arraySortNumbers.sort((a,b)=&gt; a-b );

-------------------------- sorting descenting --------------------------

arraySortNumbers.sort((a,b)=&gt; b-a );

--------------------------------------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>when you soring not-numeric values you need manually return either 0,1 or -1</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

var mixedCaseAnimals=[&quot;ant&quot;, &quot;bee&quot;, &quot;Cat&quot;, &quot;dog&quot;, &quot;Elephant&quot;];

-------------------------- ascending order --------------------------

mixedCaseAnimals.sort(function (a, b) {
   var x = a.toUpperCase(),
       y = b.toUpperCase();

   if (x &gt; y) { 
       return 1; //y will be before x;
   }
   if (x &lt; y) { 
       return -1; //x will be before y;
   }

   //default x = y ;
   return 0;
});

-------------------------- descending order --------------------------
mixedCaseAnimals.sort(function (a, b) {
   var x = a.toUpperCase(),
       y = b.toUpperCase();

   if (x &gt; y) { 
       return -1; //x will be before y
   }
   if (x &lt; y) { 
       return 1; //y will be before x 
   }

   //default x = y ;
   return 0;
});

console.log(mixedCaseAnimals); 

----------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>As shown in other examples based on numeric and non-numeric values sorting will execute below:</p>
                  <div class="codeWraper">
                    <code>-------------------------- array with nested object --------------------------
const employees = [
        {name: &#39;john&#39;, salary: 90000, hireDate: &quot;July 1, 2011&quot;},
        {name: &#39;david&#39;, salary: 75000, hireDate: &quot;August 15, 2011&quot;},
        {name: &#39;ana&#39;, salary: 80000, hireDate: &quot;December 12, 2011&quot;}
];

 -------------------------- SORT by name (non-numeric) --------------------------
//ASC 

employees.sort(function (a, b) {
     var x = a.name.toUpperCase(),
         y = b.name.toUpperCase();

     if (x &gt; y) { 
         return 1; //y will be before x;
     }
     if (x &lt; y) { 
         return -1; //x will be before y;
     }

     //default x = y ;
     return 0;
 });

//DESC
employees.sort(function (a, b) {
     var x = a.name.toUpperCase(),
         y = b.name.toUpperCase();

     if (x &gt; y) { 
         return -1; //x will be before x;
     }
     if (x &lt; y) { 
         return 1; //y will be before x;
     }

     //default x = y ;
     return 0;
 });


 -------------------------- SORT by salary (numeric) --------------------------
 //ASC 

employees.sort((a, b) =&gt; a.salary - b.salary);
//DESC 
employees.sort((a, b) =&gt; b.salary - a.salary);


--------------------------  SORT by DATE (numeric) Date object converted to Number --------------------------
//ASC

employees.sort((x, y) =&gt; {
    var a = new Date(x.hireDate);
        b = new Date(y.hireDate);
    return a - b;
});

//DESC
employees.sort((x, y) =&gt; {
    var a = new Date(x.hireDate);
        b = new Date(y.hireDate);
    return b - a;
});
-------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> ES5/ES6 array.map(callback) </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>array.map(callback) will create a new copy of array as a final result of looping through (it is a great way to modify original content);</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

   const orgArray = [4,5,6,7];

-------------------------- array.map() --------------------------

   const newArray = orgArray.map((e,i)=&gt; e+3);

-------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> ES6 array methods </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>array.some(callback):
                   tests whether at least one element in the array passes the test implemented by the provided function.Contrary to every that test if every element pass</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

[1, 2, 3, 4, 5].some(even=&gt;even % 2 === 0); //true 

-------------------------- to prove we can find those; --------------------------

[1, 2, 3, 4, 5].find(even=&gt;even % 2 === 0) //2

--------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>array.every(callback) will return true or false depending if all element meet condition in callback function. If only one element doesnt then it will return false.</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

[1, 2, 3, 4, 5].every(even=&gt;even % 2 === 0); //false contray to some; 

-------------------------- array check if all values are numbers --------------------------

const allNumbers = [4,6,7.7].every((e,i)=&gt; !isNaN(e) ) //returns true;
const mixedValues = [4,6,7.7,&#39;string&#39;].every((e,i)=&gt; !isNaN(e) ) //returns false;

-------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>array.find(callback) will stop interation once look for element is find. it will return a value being looked.</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

   [4,5,6,7].find((e,i)=&gt; e===6); //return 6

-------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>array.findIndex(callback) will stop interation once look for element is find. it will return an index of value being looked.</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

   [4,5,6,7].findIndex((e,i)=&gt; e===6); //return 2

-------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-5">
                <div class="band-inner">

                  <p>array.filter(callback) will filter array elements according condition in callback function (no loop needed it will do it in one go)</p>
                  <div class="codeWraper">
                    <code>-------------------------- oddNumbersFilter array  --------------------------

    const oddNumbersFilter = [1, 2, 3 ].filter( x =&gt; x % 2 !== 0); //1,3 

-------------------------- evenNumbersFilter array  -------------------------- 

    const evenNumbersFilter = [1, 2, 3 ].filter( x =&gt; x % 2 === 0); //2 

-------------------------- -------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-6">
                <div class="band-inner">

                  <p>copyWithin(target, start, end)</p>
                  <div class="codeWraper">
                    <code>-------------------------- array  --------------------------
var array1 = [1, 2, 3, 4, 5];

-------------------------- place at position 0 the element between position 3 and 4 -------------

console.log(array1.copyWithin(0, 3, 4)) // expected output: Array [4, 2, 3, 4, 5]

-------------------------- place at position 1 the elements after position 3 --------------------------

console.log(array1.copyWithin(1, 3));  // expected output: Array [4, 4, 5, 4, 5];

------------------------ ------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-7">
                <div class="band-inner">

                  <p>array.fill(value,[startIndex, endIndex])</p>
                  <div class="codeWraper">
                    <code>---------------array.fill(value,[startIndex, endIndex])-------------

[1, 2, 3, 4].fill(0, 2, 4); //[1, 2, 0, 0];

---------------array.fill(value,[startIndex])-------------

[1, 2, 3, 4].fill(5,1); //[1, 5, 5, 5];

---------------array.fill(value)-------------

[1, 2, 3, 4].fill(6); //[6, 6, 6, 6];

--------------- ---------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-8">
                <div class="band-inner">

                  <p>array.includes(value) it will check if array already has value (is or is not included)</p>
                  <div class="codeWraper">
                    <code>-------------------------- array  --------------------------

const values = [1,2,3,4,5,6,2,3,5];

-------------------------- make copy of values but skip duplicates  --------------------------
const valuesNoDuplicates = values.reduce((arr,e,i)=&gt;{
     if(!arr.includes(e)){
       arr.push(e);
     }

   return arr;
},[]);

-------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> array.reduce(callback(a,e,i){return a},startPoint) </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>array.reduce(callback) is the way to manipulate elements and it will produce new array. The simplest example is to use as math calculation calculator. needs to return an acumulator (a) in a callback function callback(),0 the extra 0 parameter (or any other value) is a starting point this time it has to be number cause reduce return number value (look for other examples below)</p>
                  <div class="codeWraper">
                    <code>-------------------------- array  --------------------------

const figures = [2,4,5,6];

-------------------------- reduce as calculator with starting point Number 0 or skiped (if we want to start form 0 could be skiped) -------------

const sum = figures.reduce((a,e,i)=&gt;a=a+e,0) //17
const multiply1 = figures.reduce((a,e,i)=&gt;a*=e) //240

--------------------------  --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>array.reduce(callback) array, it will return accumulator as array and expect an array as starting point.</p>
                  <div class="codeWraper">
                    <code>-------------------------- array  --------------------------

const figures = [2,4,5,6];

-------------------------- reduce as calculator with starting point--------------------------


 const justlikeMap = figures.reduce(
 (a,e,i)=&gt;{
   a[i] = e+3;
   return a;
 },[]) //starting point empty array;

  --------------------------  --------------------------  --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>array.reduce(callback) Object, it will return Object , because the starting point is Object.
                    It coule be Empty {} will ruturn new object 
                    or could be exisiting {prop:&#39;prop&#39;} it will merge to it</p>
                  <div class="codeWraper">
                    <code>-------------------------- array.reduce() converted to object as outcome  --------------------------

const figures = [2,4,5,6];
const existingObject = {pointer:&#39;greg&#39;};

 const objectArray = figures.reduce((a,e,i)=&gt;{
   a.values = figures.map((m)=&gt;m+3);
   return a;
 },existingObject) //starting point an existing Object;

 console.log(objectArray);

  --------------------------  --------------------------  --------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
  
    <section class="band band-b activeSection">
      <h1></h1>

      



        

    </section>
  
  </div>
</div>

       <!-- nunjucks loop-->
  </div>
</div>
<script src="scripts/nav-links.js"></script>
<script src="scripts/tooltips_links_over.js"></script>
<script src="scripts/search_nav.js"></script>
 </body></html>