<html lang="en"><head>
  <meta charset="UTF-8">  
  <title>tutorial === Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/tutorial.css">
  <link rel="stylesheet" href="css/tooltip.css">
</head>
<body translate="no">
<div class="l-site">
  <div class="l-nav">
    <nav class="nav">
      <input type="text" placeholder="Search" id="search">
      <div style="clear: both;"></div>
      <!-- nunjucks loop-->
            
<ul class="links">
<!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">history</a><span class="tooltiptext">history</span>
                  
                    <ul class="linksNested">
                       
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">file permisions</a><span class="tooltiptext">file permisions</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>find it out the user (either root or any other user)</a><span class="tooltiptext">find it out the user (either root or any other user)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>changing the owner of the file/directory</a><span class="tooltiptext">changing the owner of the file/directory</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">change file permisions</a><span class="tooltiptext">change file permisions</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">find</a><span class="tooltiptext">find</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>find general pattern</a><span class="tooltiptext">find general pattern</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>find with exclusion !(not operator)</a><span class="tooltiptext">find with exclusion !(not operator)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>spread operator as array.push(); or array.unshift();</a><span class="tooltiptext">spread operator as array.push(); or array.unshift();</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">Desctructuring Assigment in Arrays</a><span class="tooltiptext">Desctructuring Assigment in Arrays</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>Desctructuring Assigment in Arrays</a><span class="tooltiptext">Desctructuring Assigment in Arrays</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>Desctructuring Assigment in nested structure Arrays</a><span class="tooltiptext">Desctructuring Assigment in nested structure Arrays</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>Desctructuring Assigment in Arrays with (Spread Operator)</a><span class="tooltiptext">Desctructuring Assigment in Arrays with (Spread Operator)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>Desctructuring Assigment in Arrays with (default value)</a><span class="tooltiptext">Desctructuring Assigment in Arrays with (default value)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">Array.prototype.splice(startIndex,[endIndex])</a><span class="tooltiptext">Array.prototype.splice(startIndex,[endIndex])</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>Array.prototype.splice(startIndex,[endIndex])</a><span class="tooltiptext">Array.prototype.splice(startIndex,[endIndex])</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>Array.prototype.splice(startIndex,[endIndex,replacedRangeInSplice]</a><span class="tooltiptext">Array.prototype.splice(startIndex,[endIndex,replacedRangeInSplice]</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>Array.prototype.splice(-1)</a><span class="tooltiptext">Array.prototype.splice(-1)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>Array.prototype.splice(-1,1,replaceLastfromOriginal)</a><span class="tooltiptext">Array.prototype.splice(-1,1,replaceLastfromOriginal)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">Array.prototype.sort()</a><span class="tooltiptext">Array.prototype.sort()</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>Array.prototype.sort()</a><span class="tooltiptext">Array.prototype.sort()</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>Array.prototype.sort(callback) integers</a><span class="tooltiptext">Array.prototype.sort(callback) integers</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>Array.prototype.sort(callback) non-integers</a><span class="tooltiptext">Array.prototype.sort(callback) non-integers</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>Array.prototype.sort() nested Objects (summary)</a><span class="tooltiptext">Array.prototype.sort() nested Objects (summary)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">ES5/ES6 array.map(callback)</a><span class="tooltiptext">ES5/ES6 array.map(callback)</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">ES6 array methods</a><span class="tooltiptext">ES6 array methods</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>array.some(callback)</a><span class="tooltiptext">array.some(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>array.every(callback)</a><span class="tooltiptext">array.every(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>array.find(callback)</a><span class="tooltiptext">array.find(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>array.findIndex(callback)</a><span class="tooltiptext">array.findIndex(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>array.filter(callback)</a><span class="tooltiptext">array.filter(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>copyWithin(target, start, end)</a><span class="tooltiptext">copyWithin(target, start, end)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>array.fill(value,[startIndex, endIndex])</a><span class="tooltiptext">array.fill(value,[startIndex, endIndex])</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>array.includes(value)</a><span class="tooltiptext">array.includes(value)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">array.reduce(callback(a,e,i){return a},startPoint)</a><span class="tooltiptext">array.reduce(callback(a,e,i){return a},startPoint)</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>array.reduce(callback) interator couter</a><span class="tooltiptext">array.reduce(callback) interator couter</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>array.reduce(callback) array calculor with starting point</a><span class="tooltiptext">array.reduce(callback) array calculor with starting point</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>array.reduce(callback) Object transformation</a><span class="tooltiptext">array.reduce(callback) Object transformation</span>
                        
                    </ul>
                
      </li>
    
<!--end-list-tag-->
</ul>

       <!-- nunjucks loop-->
    </nav>
  </div>
  <div class="l-page">
    <div class="menu">
      <div class="menu-hamburger"></div>
    </div>
      <!-- nunjucks loop-->
          
<div class="sectionWrapper">
  <div class="sectionContainer">
   
      
      <section  class="band band-b activeSection"  class="band band-b">
          <h1> history </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>bash_history is the file that keeps track of the commands U have ever entered</p>
                  <div class="codeWraper">
                    <code>---------- history commands ---------

        //all history logged since U start using terminal with correspodind number
        history 

        //narow down to prase
        history | grep redis

        //execute history corresponding number
        !34 (number logged in history command);

        //delete sesion history 
        history -c

        //delete all history 
        rm ~/.bash_history

        //look for command recursively 
        ctrl+R

        //update command in history change one command for another
        history | grep dnf (look for dnf)

        //now look for ssh
        ^dnf^ssh^ (find me dnf command and swap to ssh)</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> file permisions </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Linux can have eiher a regual user of super user(su) which is root</p>
                  <div class="codeWraper">
                    <code>/*********************************************/

  //to find out who is logged in;
    whoami  
      //prints greggil

  //to change to root (super user);
      sudo su - 
      //whoami prints root;

  //to chage back to regular user
      su - greggil
      //whoami prints root;


/*********************************************/</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>depending who created file/directory (which user) and only that user can maninpulate (edit/delete)
          unless you will change file/directory permisions;</p>
                  <div class="codeWraper">
                    <code>/*********************************************/

//if the owner of the file is root then only root can change its owner 

//change from root to gilg  (subdirectories stile belong to root)

  sudo chown gilg file/directory;

//change owner from root to gilg for file/direcoires with all subdirectories -R flag now belong to gilg

sudo chown -R gilg file/directory/subdirectory;

/*********************************************/</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> change file permisions </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>file/directory permisions can be eiher drwx = directory,read,write,execute that could be also stated in numeric

0 = ---
1 = --x
2 = -w-
3 = -wx
4 = r-
5 = r-x
6 = rw-
7 = rwx</p>
                  <div class="codeWraper">
                    <code>---------------- add or remove file permision for owner---------------------

//adds read/write/execute for the owner 
chmod +rwx; = chmod u+rwx; (user is owner by default)

//removes read/write/execute for the owner 
chmod +rwx = chmod u+rwx;

---------------- add or remove file permision for owner and group---------------------

//adds read/write/execute for the owner and the group
chmod ug+rwx;
//removes read/write/execute for the owner and the group
chmod og-rwx;

---------------- add or remove file permision for owner and group and others---------------------

//adds read/write/execute for the owner and the group and the others
chmod ugo+rwx = chmod 777;
//removes read/write/execute for the owner and the group and the others
chmod ugo-rwx;

------------ ------------ ------------ ------------</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> find </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>The find command will begin looking:
               in the starting directory you specify and proceed to search through 
               all accessible subdirectories. 
               You may specify more than one starting directory for searching.
               
               find (starting directory) (matching criteria and actions);</p>
                  <div class="codeWraper">
                    <code>------------ ------------  general search --------  ------------

------- find in directory (/ slash means root directory be aware ./ dot means current)------------
 find ./directory/ -name &#39;filename&#39; or &#39;*wilcardCombination&#39;

--------------- u should always use find with flags (more predictable)------------ 
//find all files in given directory (recursively);
find ./scripts -type f

//find all directories in given directory (recursively);
find ./scripts -type d

//find recursively from current all js files that have name as wilcardCombination 
-name &#39;filename or *wilcardCombination&#39; flag
 find ./directory/ -name &#39;*.js&#39;

 //find recursively more that one directory at the time that have files
 find ./directory/ ./directory1/ -type f

//combining flags (all files that size is bigger thant 1000mb and -name &#39;*.js&#39;)
-type f =all files
-size +1 = bigger than 1mb
-print = print paths
 -name &#39;*.js 

find ./scripts -type f -size +1000 -print -name &#39;*.js</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>U can perform your search and specify what to exclude from search 
               as !exclude with flag
               we will operate on those flags:

                ! === --not (selector)
                -path &#39;/*&#39; (selector)
                -o (logical or)
                -prune =&gt; means exclude ussually in combination with -o 
                [ -o -path &#39;./node_modules&#39; -prune ] =&gt; or exclude</p>
                  <div class="codeWraper">
                    <code>--------------- exclude with !(not) or -not selector ------------ 

//find all files in given directory (recursively) and exclude .txt files
// find ./to_delete/ -type f =&gt; look for files -type f
//! -name &#39;*.txt&#39; =&gt; but not ones of .txt extension

find ./to_delete/ -type f ! -name &#39;*.txt&#39;



//find index.* but exclude node_modules -path flag
//find . -name &#39;index.*&#39; =&gt; look for index.*
//! -path &#39;*/node*&#39; =&gt; but exclude node*

find . -name &#39;index.*&#39; ! -path &#39;*/node*&#39;

//the same as above with -not selector !=== -not

find . -name &#39;index*&#39; -not -path &#39;./node_modules/*&#39;

//exclude multiple directories with -path (path has to have wild cards dir/* )
//. ! -path &#39;./node_modules/*&#39; =&gt; exclude from node_modules/*
//. ! -path &#39;./constants/*&#39; =&gt; exclude from constants/*
//-iname &quot;index*&quot; =&gt; finally look for index.* name elsewhere

find . ! -path &#39;./node_modules/*&#39; ! -path &#39;./constants/*&#39; -iname &quot;index*&quot;

//the same as above with -not selector !=== -not

find . -name &#39;index*&#39; -not -path &#39;./node_modules/*&#39; -not -path &#39;./constants/*

//or more mathematic approach (too complex but proves the magic of maths)
find . -name &#39;index*&#39; -not \( -path &#39;./node_modules/*&#39; -o -path &#39;./vendor/*&#39; \)


------------   exclude with -prune flag and -o (or selector) -------------------

//-path &#39;./node_modules&#39; -prune =&gt; exclude ./node_modules
// -o -iname &#39;index*&#39; =&gt; or show case insensitive for name &#39;index*&#39;
// -print =&gt; dont show paths where perform search; 

find . -path &#39;./node_modules&#39; -prune -o -type f -iname &#39;index*&#39; -print
//reverse above
find . -type f -iname &#39;index*&#39; -print -o -path &#39;./node_modules&#39; -prune 
 ------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>spread operator as array.push(); or array.unshift();
                     spread operator can be also used for simple array push() or array unshift() or combination of both and more down there;</p>
                  <div class="codeWraper">
                    <code>----------------- array -----------------

  const numbers = [1,2,3,4];

  ----------------- as addNumberLast.push(5) ---------------------

  const addNumberLast = [...numbers,5];
  
  ----------------- as addNumberFirst.unshift(0) ---------------------

  const addNumberFirst = [0,...numbers];


  ----------------- or combination values -----------------

  const addNumberCombinationValues = [0,...numbers,5,6,7];

  ----------------- or combination values and spread operators -----------------

  const numbersLastAdded = [8,9,10];
  const addNumberCombinationSpreads = [0,...numbers,5,6,7,...numbersLastAdded];

  --------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Desctructuring Assigment in Arrays </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Desctructuring Assigment in Arrays:
               allows you to assign &quot;=&quot; left to right with desctructuring syntax by creating variables as 

               let [pocket1, pocket2, pocket3] = [1,2,3];</p>
                  <div class="codeWraper">
                    <code>------------------- ES5 -------------------

 var someArray = [1, 2, 3];
 var first = someArray[0];
 var second = someArray[1];
 var third = someArray[2];

 ------------------- ES6 -------------------

 var someArray = [1, 2, 3];
 let [pocket1, pocket2, pocket3] = someArray;
 console.log(pocket1, pocket2, pocket3);

 ----------------U can also skip values cause U can not be asked to type so much ;) -------------

 let  [,,third] = [&quot;foo&quot;, &quot;bar&quot;, &quot;baz&quot;];
 console.log(third); // &quot;baz&quot;

 -----------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>let [foo, [[bar], baz]] = [1, [[2], 3]]; //the [] syntax has to match;</p>
                  <div class="codeWraper">
                    <code>----------------------ES6--------------------------

 var [foo, [[bar], baz]] = [1, [[2], 3]]; //the [] syntax has to match;
 console.log(&#39;values&#39;, foo,bar,baz);

 --------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>Desctructuring Assigment in Arrays with (Spread Operator)</p>
                  <div class="codeWraper">
                    <code>-------------- selecting last element of hte array with spread operator -------------------

var [head, ...tail] = [1, 2, 3, 4];
console.log(tail);// [2, 3, 4]
console.log(head);// 1

------------------------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>Desctructuring Assigment in Arrays (default value) can be assign to your desctucring structure to avoid undefined value</p>
                  <div class="codeWraper">
                    <code>-------------------------- when the value doesnt exist -------------------------- 

 var [missing] = [];
 console.log(missing);
 // undefined

 -------------------------- but you can specify a default value as solution  -------------------------- 

 var [missing = true] = [];
 console.log(missing); //true;

 -------------------------- -------------------------- -------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Array.prototype.splice(startIndex,[endIndex]) </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Array.prototype.splice(startIndex,[endIndex])
                    it will create a new Array from original one from startIndex [endIndex, &#39;newValue&#39;] and it will modify the original</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

  const months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;];

 -------------------------- months.splice(2) --------------------------

  const cutHalf = months.splice(2);
  //cutHalf = [&#39;April&#39;, &#39;June&#39;]; 
  //months = [&#39;Jan&#39;, &#39;March&#39;]; 

  -------------------------- Array.prototype.splice(startIndex,endIndex) --------------------------

  const months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;];

  const cutMiddle = months.splice(1,2);
  //cutMiddle = [&#39;March&#39;, &#39;April&#39;]; 
  //months = [&#39;Jan&#39;, &#39;June&#39;];

  ------------------------- ------------------------- -------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>Array.prototype.splice(startIndex,[endIndex,replacedRangeInSplice])
      
                    the third argument will replace splice chunk (startIndex,endIndex) with the third Argument</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------
  const months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;];

   -------------------------- Array.prototype.splice(startIndex,endIndex) --------------------------

  const cutMiddle = months.splice(1,2,&#39;replacedRangeInSplice&#39;);

  //cutMiddle = [&#39;March&#39;, &#39;April&#39;]; 
  //months = [&#39;Jan&#39;, &#39;replacedRangeInSplice&#39;, &#39;June&#39;];


   -------------------------- -------------------------- -------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>Array.prototype.splice(-1)
                    splicing from the tail of the array so last element and create an array of the last one;</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

  const months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;,&#39;July&#39;, &#39;August&#39;];

  -------------------------- const lastElement = months.splice(-1)  --------------------------

  const lastElement = months.splice(-1)
  //lastElement = [&#39;August&#39;];
  //months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;,&#39;July&#39;];

   --------------------------  --------------------------  --------------------------  --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>Array.prototype.splice(-1,1,replaceLastfromOriginal)
                 /*splicing from the tail of the array and replace original last element array*/

                 Array.prototype.splice(startIndex,lastIndex,&#39;replace&#39;) lastindex has to be 1 any other number will produce unexpexted results</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

 const months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;,&#39;July&#39;, &#39;August&#39;];

  -------------------------- const lastElement = months.splice(-1,1,&#39;replaceLastfromOriginal&#39;); --------------------------

  const lastElement = months.splice(-1,1,&#39;replaceLastfromOriginal&#39;);
 //lastElement = [&#39;August&#39;];
 //months = [&#39;Jan&#39;, &#39;March&#39;, &#39;April&#39;, &#39;June&#39;,&#39;July&#39;,&#39;replaceLastfromOriginal&#39;];

 --------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Array.prototype.sort() </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Array.prototype.sort() 
                By default sorting will only for charackters of the same Case (lower or upper not mixed).
                It will sort ascenting</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

const charackters = [&#39;chris&#39;,&#39;aga&#39;,&#39;STEFAN&#39;,&#39;greg&#39;];

digits.sort();
//[&quot;STEFAN&quot;, &quot;aga&quot;, &quot;chris&quot;, &quot;greg&quot;] not quite what is expected;

THEREFORE YOUR SAVE BET IS TO USER SORT FUNCTIONS as explain in next sections 

----------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>sort ascenting;
                Array.prototype.sort( (a,b)=&gt; a-b );
                sort ascenting;
                Array.prototype.sort( (a,b)=&gt; b-a );</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------
const arraySortNumbers = [6,5,1,9];


-------------------------- 1 round  --------------------------
    compare(6-5);     // (a&gt;b) returns 1, a is greater than b  (In other words, 5 will come first.) 5,6   [(5,6),1,9]
    compare(6-1);  // (a&gt;b) returns 5, a is greater than b  (In other words, 1 will come first.)  1,6     [5,(1,6),9]
    compare(6-9);  // (a less than b) returns -3, a is less than b  (In other words, 6 will come first.)   6,9      [5,1,(6,9)]
    
-------------------------- 2 round  --------------------------
    compare(5-1);  // returns 4, a is greater than b  (In other words, b will come first.)  1,5     [(1,5),6,9]
    compare(5-9);  // returns -4, a is greater than b  (In other words, b will come first.)  5,9    [1,(5),6,(9)]
    
 --------------------------3 round  --------------------------
    compare(1-9);  // returns -8, a is greater than b  (In other words, b will come first.)  1,9    [(1),5,6,(9)]

      ( IN BRACKETS WE HAVE NUMBERS THAT ARE BEING COMPARED AND WHAT ORDER THEY SORT);


-------------------------- sorting ascenting --------------------------

arraySortNumbers.sort((a,b)=&gt; a-b );

-------------------------- sorting descenting --------------------------

arraySortNumbers.sort((a,b)=&gt; b-a );

--------------------------------------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>when you soring not-numeric values you need manually return either 0,1 or -1</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

var mixedCaseAnimals=[&quot;ant&quot;, &quot;bee&quot;, &quot;Cat&quot;, &quot;dog&quot;, &quot;Elephant&quot;];

-------------------------- ascending order --------------------------

mixedCaseAnimals.sort(function (a, b) {
   var x = a.toUpperCase(),
       y = b.toUpperCase();

   if (x &gt; y) { 
       return 1; //y will be before x;
   }
   if (x &lt; y) { 
       return -1; //x will be before y;
   }

   //default x = y ;
   return 0;
});

-------------------------- descending order --------------------------
mixedCaseAnimals.sort(function (a, b) {
   var x = a.toUpperCase(),
       y = b.toUpperCase();

   if (x &gt; y) { 
       return -1; //x will be before y
   }
   if (x &lt; y) { 
       return 1; //y will be before x 
   }

   //default x = y ;
   return 0;
});

console.log(mixedCaseAnimals); 

----------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>As shown in other examples based on numeric and non-numeric values sorting will execute below:</p>
                  <div class="codeWraper">
                    <code>-------------------------- array with nested object --------------------------
const employees = [
        {name: &#39;john&#39;, salary: 90000, hireDate: &quot;July 1, 2011&quot;},
        {name: &#39;david&#39;, salary: 75000, hireDate: &quot;August 15, 2011&quot;},
        {name: &#39;ana&#39;, salary: 80000, hireDate: &quot;December 12, 2011&quot;}
];

 -------------------------- SORT by name (non-numeric) --------------------------
//ASC 

employees.sort(function (a, b) {
     var x = a.name.toUpperCase(),
         y = b.name.toUpperCase();

     if (x &gt; y) { 
         return 1; //y will be before x;
     }
     if (x &lt; y) { 
         return -1; //x will be before y;
     }

     //default x = y ;
     return 0;
 });

//DESC
employees.sort(function (a, b) {
     var x = a.name.toUpperCase(),
         y = b.name.toUpperCase();

     if (x &gt; y) { 
         return -1; //x will be before x;
     }
     if (x &lt; y) { 
         return 1; //y will be before x;
     }

     //default x = y ;
     return 0;
 });


 -------------------------- SORT by salary (numeric) --------------------------
 //ASC 

employees.sort((a, b) =&gt; a.salary - b.salary);
//DESC 
employees.sort((a, b) =&gt; b.salary - a.salary);


--------------------------  SORT by DATE (numeric) Date object converted to Number --------------------------
//ASC

employees.sort((x, y) =&gt; {
    var a = new Date(x.hireDate);
        b = new Date(y.hireDate);
    return a - b;
});

//DESC
employees.sort((x, y) =&gt; {
    var a = new Date(x.hireDate);
        b = new Date(y.hireDate);
    return b - a;
});
-------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> ES5/ES6 array.map(callback) </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>array.map(callback) will create a new copy of array as a final result of looping through (it is a great way to modify original content);</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

   const orgArray = [4,5,6,7];

-------------------------- array.map() --------------------------

   const newArray = orgArray.map((e,i)=&gt; e+3);

-------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> ES6 array methods </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>array.some(callback):
                   tests whether at least one element in the array passes the test implemented by the provided function.Contrary to every that test if every element pass</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

[1, 2, 3, 4, 5].some(even=&gt;even % 2 === 0); //true 

-------------------------- to prove we can find those; --------------------------

[1, 2, 3, 4, 5].find(even=&gt;even % 2 === 0) //2

--------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>array.every(callback) will return true or false depending if all element meet condition in callback function. If only one element doesnt then it will return false.</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

[1, 2, 3, 4, 5].every(even=&gt;even % 2 === 0); //false contray to some; 

-------------------------- array check if all values are numbers --------------------------

const allNumbers = [4,6,7.7].every((e,i)=&gt; !isNaN(e) ) //returns true;
const mixedValues = [4,6,7.7,&#39;string&#39;].every((e,i)=&gt; !isNaN(e) ) //returns false;

-------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>array.find(callback) will stop interation once look for element is find. it will return a value being looked.</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

   [4,5,6,7].find((e,i)=&gt; e===6); //return 6

-------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>array.findIndex(callback) will stop interation once look for element is find. it will return an index of value being looked.</p>
                  <div class="codeWraper">
                    <code>-------------------------- array --------------------------

   [4,5,6,7].findIndex((e,i)=&gt; e===6); //return 2

-------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-5">
                <div class="band-inner">

                  <p>array.filter(callback) will filter array elements according condition in callback function (no loop needed it will do it in one go)</p>
                  <div class="codeWraper">
                    <code>-------------------------- oddNumbersFilter array  --------------------------

    const oddNumbersFilter = [1, 2, 3 ].filter( x =&gt; x % 2 !== 0); //1,3 

-------------------------- evenNumbersFilter array  -------------------------- 

    const evenNumbersFilter = [1, 2, 3 ].filter( x =&gt; x % 2 === 0); //2 

-------------------------- -------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-6">
                <div class="band-inner">

                  <p>copyWithin(target, start, end)</p>
                  <div class="codeWraper">
                    <code>-------------------------- array  --------------------------
var array1 = [1, 2, 3, 4, 5];

-------------------------- place at position 0 the element between position 3 and 4 -------------

console.log(array1.copyWithin(0, 3, 4)) // expected output: Array [4, 2, 3, 4, 5]

-------------------------- place at position 1 the elements after position 3 --------------------------

console.log(array1.copyWithin(1, 3));  // expected output: Array [4, 4, 5, 4, 5];

------------------------ ------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-7">
                <div class="band-inner">

                  <p>array.fill(value,[startIndex, endIndex])</p>
                  <div class="codeWraper">
                    <code>---------------array.fill(value,[startIndex, endIndex])-------------

[1, 2, 3, 4].fill(0, 2, 4); //[1, 2, 0, 0];

---------------array.fill(value,[startIndex])-------------

[1, 2, 3, 4].fill(5,1); //[1, 5, 5, 5];

---------------array.fill(value)-------------

[1, 2, 3, 4].fill(6); //[6, 6, 6, 6];

--------------- ---------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-8">
                <div class="band-inner">

                  <p>array.includes(value) it will check if array already has value (is or is not included)</p>
                  <div class="codeWraper">
                    <code>-------------------------- array  --------------------------

const values = [1,2,3,4,5,6,2,3,5];

-------------------------- make copy of values but skip duplicates  --------------------------
const valuesNoDuplicates = values.reduce((arr,e,i)=&gt;{
     if(!arr.includes(e)){
       arr.push(e);
     }

   return arr;
},[]);

-------------------------- --------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> array.reduce(callback(a,e,i){return a},startPoint) </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>array.reduce(callback) is the way to manipulate elements and it will produce new array. The simplest example is to use as math calculation calculator. needs to return an acumulator (a) in a callback function callback(),0 the extra 0 parameter (or any other value) is a starting point this time it has to be number cause reduce return number value (look for other examples below)</p>
                  <div class="codeWraper">
                    <code>-------------------------- array  --------------------------

const figures = [2,4,5,6];

-------------------------- reduce as calculator with starting point Number 0 or skiped (if we want to start form 0 could be skiped) -------------

const sum = figures.reduce((a,e,i)=&gt;a=a+e,0) //17
const multiply1 = figures.reduce((a,e,i)=&gt;a*=e) //240

--------------------------  --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>array.reduce(callback) array, it will return accumulator as array and expect an array as starting point.</p>
                  <div class="codeWraper">
                    <code>-------------------------- array  --------------------------

const figures = [2,4,5,6];

-------------------------- reduce as calculator with starting point--------------------------


 const justlikeMap = figures.reduce(
 (a,e,i)=&gt;{
   a[i] = e+3;
   return a;
 },[]) //starting point empty array;

  --------------------------  --------------------------  --------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>array.reduce(callback) Object, it will return Object , because the starting point is Object.
                    It coule be Empty {} will ruturn new object 
                    or could be exisiting {prop:&#39;prop&#39;} it will merge to it</p>
                  <div class="codeWraper">
                    <code>-------------------------- array.reduce() converted to object as outcome  --------------------------

const figures = [2,4,5,6];
const existingObject = {pointer:&#39;greg&#39;};

 const objectArray = figures.reduce((a,e,i)=&gt;{
   a.values = figures.map((m)=&gt;m+3);
   return a;
 },existingObject) //starting point an existing Object;

 console.log(objectArray);

  --------------------------  --------------------------  --------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
  
    <section class="band band-b activeSection">
      <h1></h1>

      



        

    </section>
  
  </div>
</div>

       <!-- nunjucks loop-->
  </div>
</div>
<script src="scripts/nav-links.js"></script>
<script src="scripts/tooltips_links_over.js"></script>
<script src="scripts/search_nav.js"></script>
 </body></html>