<!DOCTYPE html>
<html>
  <head>
    <title>Object</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= subject %></h1>
    <p>Welcome to <%= subject %></p>
  </body>
</html>