<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css' />
  </head>
  <body>
    <style type="text/css">
      
    </style>
    <!-- side menu -->
    <div class="sideMenu">
      <ul class='menuContent'>
        <% for(var i=0; i<links.length; i++) {%>
            <a href='<%= links[i] %>'>
              <li>
              <i class="fa fa-css3" aria-hidden="true"></i>
               <span> CSS tuts</span>
              </li>
            </a>
      <% } %>
      <ul>
    </div>
    <!-- side menu -->

    <div class="flex-container">
      <a href="/makeNote"><button class="makeNoteButton">makeNote Gregi</button></a>
       <div class="header-search">
        <div class="seach-input-container">
            <input type="text" id='search' name="searchTerm" placeholder="Seach term" />
        </div>
       </div>
       <div class="list-tuts">
        <div class="wrap-list">
          <ul class="links">
            <% include gulp-tuts-page-generator/src/partials/_all_tuts_lists.html %>
          </ul>
        </div>
       </div>
    </div>
    <script src="scripts/search_nav.js"></script>
  </body>
</html>
