<html lang="en"><head>
  <meta charset="UTF-8">  
  <title>tutorial === Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/tutorial.css">
  <link rel="stylesheet" href="css/tooltip.css">
</head>
<body translate="no">
<div class="l-site">
  <div class="l-nav">
    <nav class="nav">
      <input type="text" placeholder="Search" id="search">
      <div style="clear: both;"></div>
      <!-- nunjucks loop-->
            
<ul class="links">
    
      <li class="nav-primary tooltip"><a href="#">ES6 promise</a><span class="tooltiptext">ES6 promise</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="#" partition>new Promise((reject,resolve)=&gt;{})</a><span class="tooltiptext">new Promise((reject,resolve)=&gt;{})</span>
                           
                          <li class="nav-primary tooltip"><a href="#" partition>chaining promises</a><span class="tooltiptext">chaining promises</span>
                           
                          <li class="nav-primary tooltip"><a href="#" partition>async function</a><span class="tooltiptext">async function</span>
                           
                          <li class="nav-primary tooltip"><a href="#" partition>async function with await</a><span class="tooltiptext">async function with await</span>
                           
                          <li class="nav-primary tooltip"><a href="#" partition>chaining await feature in async function</a><span class="tooltiptext">chaining await feature in async function</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="#">test</a><span class="tooltiptext">test</span>
                 
      </li>
    
</ul>

       <!-- nunjucks loop-->
    </nav>
  </div>
  <div class="l-page">
    <div class="menu">
      <div class="menu-hamburger"></div>
    </div>
      <!-- nunjucks loop-->
          
<div class="sectionWrapper">
  <div class="sectionContainer">
   
      
      <section  class="band band-b activeSection"  class="band band-b">
          <h1> ES6 promise </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>new Promise((reject,resolve)=&gt;{}) are the way to preform async javascript which is neccesarry for http requests</p>
                  <div class="codeWraper">
                    <code>----------------new Promise ------------------------------

new Promise( (resolve,reject) =&gt; {

      var xhttp2 = new XMLHttpRequest();
      const countryCode = &quot;PL&quot;;
      xhttp2.onreadystatechange = (e)=&gt; {
          if (e.target.readyState == 4 &amp;&amp; e.target.status == 200) {
             const data = JSON.parse(e.target.responseText);

             resolve(data);

          }else if (e.target.readyState == 4 ){
            const error = &#39;Something got wrong in between&#39;;

            reject(error);
          }
      };
      xhttp2.open(&quot;GET&quot;, `http://puzzle.mead.io/puzzle?wordCount=${wordCount}`, true);
      xhttp2.send();
  })
};

-------------response---------------

xhttp2.then((response)=&gt;{
  console.log(response)// should be data
}).catch((error)=&gt;{
  console.log(error)  //if comes back with error
})

------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>chaining promises:
                    allows to chain promises or methods that return value in .then((data)=&gt;data) structure</p>
                  <div class="codeWraper">
                    <code>--------------------chaining promises-------------------------

const promiseChain = new Promise(function(resolve, reject) {

setTimeout(() =&gt; resolve(2), 1000);

}).then(function(value) {

  //method that return value;
  return value * 2;

}).then(function(value) { // (**)


//return a Promise 
return new Promise((resolve, reject) =&gt; {
  setTimeout(() =&gt; resolve(value * 2), 1000);
});

}).then(function(result) {

//final result;
console.log(result); // 8

});
---------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>async function:
            always returns a promise; so inside body tags you need either: return a value or return a promise;</p>
                  <div class="codeWraper">
                    <code>------------------------------ async function-------------------------------

  const processData = async () =&gt; {};
  processData() //return Promise {resolved&gt;: undefined}

  //1. async metod return a value
  const processData = async () =&gt; {
    return &#39;value from async&#39;

    //or error 
    setTimeout(() =&gt; {
        throw new Error(&#39;Something got messed up!&#39;)
    }, 1000);
   
  };

  //obtain data from promise so .then()
  processData()
  .then((data)=&gt;{
        console.log(data);
  })
  .catch((er)=&gt;{
        console.log(er)
  });

 ------------------------ async method return a Promise---------------

    return new Promise((resolve,reject)=&gt;{
        resolve(&#39;I am resolve promise&#39;);
    });
  };
  
  processDataPromise().then((data)=&gt;{
      console.log(data);
  });

-----------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>async function with await:
            async function can live independly (as we saw example above) but await is alway in pair with async function, mean you can not use await 
            without declaring async function first. &#39;await&#39; expect either promise or return method.</p>
                  <div class="codeWraper">
                    <code>------------------------------ await feature  ------------------------------
    
  const promiseSet = new Promise(function(resolve, reject) {setTimeout(() =&gt; resolve(&#39;promise is resolved&#39;), 1000); });

  const processDataPromise = async () =&gt; {
    const promiseResponse = await promiseSet;
    console.log(&#39;await&#39;,promiseResponse);

    //return asyn method 
    return &#39;async response&#39;
  };

  //call it async and expect promise back;
  processDataPromise().then((data)=&gt;{
      console.log(&#39;async&#39;,data);
  });

------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-5">
                <div class="band-inner">

                  <p>chaining await feature in async function:
            just like you chain promise you can chain await feature in async function since await procede a promise or return type function;</p>
                  <div class="codeWraper">
                    <code>--------------- async and await------------------------------

 const addNumbers = (num) =&gt; new Promise(function(resolve, reject) {setTimeout(() =&gt; resolve(num + 2), 1000); });

 const processDataPromiseChain = async () =&gt; {
   let promiseResponse = await addNumbers(2);
   //chain await call promiseResponse again;
   promiseResponse = await addNumbers(promiseResponse);
   //and again
   promiseResponse = await addNumbers(promiseResponse);
   //now chain return method;
   const returnMethod = (promiseResponse) =&gt; promiseResponse + 2
   
   //finaly return a result ot async method (which is promise);
   return returnMethod(promiseResponse);
 };

 //call it async and expect promise back;
 processDataPromiseChain().then((data)=&gt;{
     console.log(&#39;async&#39;,data);
 });

 ------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> test </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>test</p>
                  <div class="codeWraper">
                    <code>test</code>
                  </div>
                </div>
              </div>
            

      </section>
  
  
    <section class="band band-b activeSection">
      <h1></h1>

      



        

    </section>
  
  </div>
</div>

       <!-- nunjucks loop-->
  </div>
</div>
<script src="scripts/nav-links.js"></script>
<script src="scripts/tooltips_links_over.js"></script>
<script src="scripts/search_nav.js"></script>
 </body></html>