<html lang="en"><head>
  <meta charset="UTF-8">  
  <title>tutorial === Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/tutorial.css">
  <link rel="stylesheet" href="css/tooltip.css">
</head>
<body translate="no">
<div class="l-site">
  <div class="l-nav">
    <nav class="nav">
      <input type="text" placeholder="Search" id="search">
      <div style="clear: both;"></div>
      <!-- nunjucks loop-->
            
<ul class="links">
<!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Basics of JEST Framework</a><span class="tooltiptext">Basics of JEST Framework</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>naming and Folder convention</a><span class="tooltiptext">naming and Folder convention</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>installing JEST</a><span class="tooltiptext">installing JEST</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>ENZYME Configuration and snapshot testing</a><span class="tooltiptext">ENZYME Configuration and snapshot testing</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">small react-test-renderer library with Snapshooting</a><span class="tooltiptext">small react-test-renderer library with Snapshooting</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Enzyme testing</a><span class="tooltiptext">Enzyme testing</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>Enzyme based snapshooting</a><span class="tooltiptext">Enzyme based snapshooting</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>Event simulators</a><span class="tooltiptext">Event simulators</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>shallow testing</a><span class="tooltiptext">shallow testing</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>Full dom Rendering enzyme mount();</a><span class="tooltiptext">Full dom Rendering enzyme mount();</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>Full render with Jsdom</a><span class="tooltiptext">Full render with Jsdom</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Testing with Enzyme (cheat sheet link)</a><span class="tooltiptext">Testing with Enzyme (cheat sheet link)</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Testing original functions</a><span class="tooltiptext">Testing original functions</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Testing objects and arrays</a><span class="tooltiptext">Testing objects and arrays</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Testing REDUX</a><span class="tooltiptext">Testing REDUX</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>testing mapStateToProps and mapDispatchToProps</a><span class="tooltiptext">testing mapStateToProps and mapDispatchToProps</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>redux-mock-store with thunk middleware</a><span class="tooltiptext">redux-mock-store with thunk middleware</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>test redux-saga</a><span class="tooltiptext">test redux-saga</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>test saga with external library as redux-saga-test-plan</a><span class="tooltiptext">test saga with external library as redux-saga-test-plan</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">MOCK functions</a><span class="tooltiptext">MOCK functions</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>JEST function declaration helpers mockReturnValue nad mockReturnValueOnce</a><span class="tooltiptext">JEST function declaration helpers mockReturnValue nad mockReturnValueOnce</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>Jest.fn() mock that returns promise</a><span class="tooltiptext">Jest.fn() mock that returns promise</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Mock custom module using jest.mock</a><span class="tooltiptext">Mock custom module using jest.mock</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>globally in __mocks__/custom.js</a><span class="tooltiptext">globally in __mocks__/custom.js</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>mocking only in testingfile.spec.js</a><span class="tooltiptext">mocking only in testingfile.spec.js</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Mock entire module stored in node_modules as react-redux</a><span class="tooltiptext">Mock entire module stored in node_modules as react-redux</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>__mocks__/react-redux.js</a><span class="tooltiptext">__mocks__/react-redux.js</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>mock(&#39;react-redux&#39;, callback)</a><span class="tooltiptext">mock(&#39;react-redux&#39;, callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>override a mock implemanation</a><span class="tooltiptext">override a mock implemanation</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">mock es6 fetch call</a><span class="tooltiptext">mock es6 fetch call</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">SpyOn functionality in general</a><span class="tooltiptext">SpyOn functionality in general</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Spy on DOM elements</a><span class="tooltiptext">Spy on DOM elements</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>spyOn(window, &#39;scrollTo&#39;)</a><span class="tooltiptext">spyOn(window, &#39;scrollTo&#39;)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>mock create react refference</a><span class="tooltiptext">mock create react refference</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">jest.spyOn(object,method) as alternative to jest.mock()</a><span class="tooltiptext">jest.spyOn(object,method) as alternative to jest.mock()</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>spyOn(npm_module,method)</a><span class="tooltiptext">spyOn(npm_module,method)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>spyOn(class,method)</a><span class="tooltiptext">spyOn(class,method)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Mock Object methods</a><span class="tooltiptext">Mock Object methods</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>jest.spyOn() with mockRestore()</a><span class="tooltiptext">jest.spyOn() with mockRestore()</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>SpyOn(object,method,&#39;get&#39; or &#39;set&#39;) with restoring test</a><span class="tooltiptext">SpyOn(object,method,&#39;get&#39; or &#39;set&#39;) with restoring test</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">clearing mocks</a><span class="tooltiptext">clearing mocks</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">run only one test</a><span class="tooltiptext">run only one test</span>
                 
      </li>
    
<!--end-list-tag-->
</ul>

       <!-- nunjucks loop-->
    </nav>
  </div>
  <div class="l-page">
    <div class="menu">
      <div class="menu-hamburger"></div>
    </div>
      <!-- nunjucks loop-->
          
<div class="sectionWrapper">
  <div class="sectionContainer">
   
      
      <section  class="band band-b activeSection"  class="band band-b">
          <h1> Basics of JEST Framework </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>U should create a sepearte folder for your test that follows the same structure as your src directory</p>
                  <div class="codeWraper">
                    <code>================  __tests__ ================

      Intresting fact if you create folder named : src/__tests__ jest will automatically detect that and uses this foler for running test on files.js inside, beside their names , no need to include filename.test.js it could be skipped.

================  __mocks___ ================

this folder will hold mocks for entire modules, the higher the folder exist the more mocks range will be covered. For example if you mock axios manually in src/__mocks__ then axios mock will be available in all src/ directory. So you dont have to mock it individually src/__mocks__ will cover all axios mock , All U need to do is to import axios as you would do to use it in the file as below.

------------ test.js ------------
import axios from &#39;axios&#39;

Jest first will look for __mocks__ version before it will try to execute original axios module


================  __snapshots___ ================

this folder is crated automatically once snapshot is being created

================ ================ ================</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>jest is a testing framework ceated by facebook and covers most of the cases for testing react applications</p>
                  <div class="codeWraper">
                    <code>================ install JEST by ================

      npm i jest@20.0.4 (this version works with webpack 3 and babel6) latest version needs update on webpack and babel

================ create script in package.json ================

&quot;scripts&quot;: {
    &quot;test&quot;: &quot;jest&quot;
}
================ to run ================

npm run test or npm test;

================ run only one test as  ================

npm test -- -t &#39;react Fragement&#39; 

will run this test(&#39;react Fragement&#39;, () =&gt; {}) so the discription of the test matters


================ to run with watch mode ================

npm test -- --watch 

================ to run a simple test ================ 

const add = (a,b)=&gt; a + b;

test(&#39;should add two numbers&#39;.; ()=&gt; {
const result = add(3,4)
//asserstion 
expect(result).toBe(7);
});
================ ================ ================</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>Before U need &#39;Enzyme&#39; Airbnb product that is created to enhance testing for React, it uses addtional selectors and enables Snapshot testing, it needs special adapters to work with JEST
          ENZYME allows you to add event handlers of any types to your shallow wrappers.</p>
                  <div class="codeWraper">
                    <code>================ installing enzyme ================

npm i --save-dev 
enzyme@3.10.0 
jest@24.0.0
jest-css-modules@2.0.0
enzyme-adapter-react-16@1.7.1  (at least 1.7.* needed for react 16.8.4 with hooks)
enzyme-to-json@3.3.5 (package that allows you to render clean snapshot containing just Component JSX)
raf@3.3.2  (U need natitve request animation frame that is default in browser since IE 10 but we need that in testing enviroment )


================ configuration needed for Enzyme 3 ================

create a file for JEST configuration in a root of your project;

================ ================ ================ ================

----------------------root/jest.configuration.json--------------

{
  &quot;setupFiles&quot;:[
    &quot;raf/polyfill&quot;,
    &quot;&lt;rootDir&gt;/enzyme.configuration.js&quot;
  ]
}


//update to the file to have clean snapshot set without importing enzyme-to-json in every file
//so use that version 
{
    &quot;setupFiles&quot;: [
        &quot;raf/polyfill&quot;,
        &quot;&lt;rootDir&gt;/enzyme.configuration.js&quot;
    ],
    &quot;snapshotSerializers&quot;: [
        &quot;enzyme-to-json/serializer&quot;
    ]
}

================ ================ ================ ================

create a file for ENZYME configuration in a root directory;

================ ================ ================ ================

----------------------root/enzyme.configuration.js--------------

import Enzyme from &#39;enzyme&#39;;
import Adapter from &#39;enzyme-adapter-react-16&#39;;

Enzyme.configure({ adapter: new Adapter() });


================ ================ ================ ================

update your package.json with a path for jest configuration

================ ================ ================ ================

----------------------root/package.json--------------

&quot;scripts&quot;: {
    &quot;test&quot;: &quot;jest --config=jest.configuration.json&quot;
  },


---------------------------------------------------------------



import React from &#39;react&#39;;
import { shallow } from &#39;enzyme&#39;;
import MyComponent from &#39;./MyComponent&#39;;

describe(&#39;MyComponent&#39;, () =&gt; {
  it(&#39;should render correctly in &quot;debug&quot; mode&#39;, () =&gt; {
    const component = shallow(&lt;MyComponent debug /&gt;);
  
    expect(component).toMatchSnapshot();
  });
});

================ ================ ================</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> small react-test-renderer library with Snapshooting </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>There is a small package a 
  npm package called &#39;react-test-renderer&#39; for making your component snapshots. No need for Enzyme. BUT
  in only creates static snapshot it doesnt allow to test clicks, mouse events etc. Recommeded by Jest team though</p>
                  <div class="codeWraper">
                    <code>================ installing react-test-renderer ================

npm i react-test-renderer@16.0.0 (U need this version if you work with React 16.* )

================ example snapshot with JEST react-test-renderer no event handlers   ================

import React from &#39;react&#39;;
import Link from &#39;../Link.react&#39;;
import renderer from &#39;react-test-renderer&#39;;

it(&#39;renders correctly&#39;, () =&gt; {
  const tree = renderer
    .create(&lt;Link page=&quot;http://www.facebook.com&quot;&gt;Facebook&lt;/Link&gt;)
    .toJSON();
  expect(tree).toMatchSnapshot();
});

================ ================ ================</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Enzyme testing </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>getting snapshots from Enzyme wrappers</p>
                  <div class="codeWraper">
                    <code>/--- /

import React from &#39;react&#39;;
import { shallow } from &#39;enzyme&#39;;
import MyComponent from &#39;./MyComponent&#39;;

describe(&#39;MyComponent&#39;, () =&gt; {
  it(&#39;should render correctly in &quot;debug&quot; mode&#39;, () =&gt; {
    const component = shallow(&lt;MyComponent debug /&gt;);
  
    expect(component).toMatchSnapshot();
  });
});</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>Enzyme allows you to simulate events , could be any event as onLoad, click etc.. U need to find DOM element first and attach simulate as U would event as addEbentListener</p>
                  <div class="codeWraper">
                    <code>================ test click event and the outcome ================



//u need to mock your event handler method ( more about mocking in next section)
const eventHandlerCalled = jest.fn(); 

const value = &#39;myValue&#39;;
const wrapper = shallow(&lt;SearchBox
  label=&quot;label&quot;
  // e below is not a real event so if you need to use e.target.value you need to mock it
  eventHandler={e =&gt; (eventHandlerCalled(value))}
/&gt;);

// here we simulate onInput that needs to have event.target.value in handler method so we do;
wrapper.find(&#39;input&#39;).at(0).simulate(&#39;input&#39;, { target: { value } });

// fucntion is called after click;
expect(eventHandlerCalled).toHaveBeenCalledWith(value);




================  ================  ================  ================</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>shallow testing allows U to render a component on one level , that means any tested components wont be rendered to the snapshot. It donsnt need any addtional library beside deafault jest and enzyme configuration.</p>
                  <div class="codeWraper">
                    <code>================= example of shalow Enzyme method to Snapshot =================

import React from &#39;react&#39;;
import { shallow } from &#39;enzyme&#39;;

// component for snapshot test;
import SimpleButton from &#39;../../../functional/Simplebutton&#39;;

test(&#39;renders correctly&#39;, () =&gt; {
  const wrapper = shallow(&lt;SimpleButton label=&quot;label&quot; action={() =&gt; {}} /&gt;);
  expect(wrapper).toMatchSnapshot();
});

================ ================ ================ ================</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>U might need to render nested component for full DOM rendering, for that you also need to install a separate libraray , React reccomends jsdom</p>
                  <div class="codeWraper">
                    <code>===== To help you make up your mind, here is a list of APIs that need jsdom =======



-Any browser globals like window and document
-ReactDOM.render()
-TestUtils.renderIntoDocument() (a shortcut for the above)
-mount() in Enzyme




========== example of full rending is the same as shalow but full needs mount() =========

//no addtional configuration is needed Enzyme behind the scene is using jsdom , not external install nedeed;



import React from &#39;react&#39;;
import { shallow, mount } from &#39;enzyme&#39;;

/*
  *@this next line is defined in a root/jest.configuration.js
  *@so no need to import library
*/
// import toJson from &#39;enzyme-to-json&#39;;

// component for snapshot test;
import ToggleButton from &#39;../../../functional/Togglebutton&#39;;

test(&#39;renders correctly&#39;, () =&gt; {
  const wrapper = mount(&lt;ToggleButton
    action={() =&gt; {}}
    label=&quot;sort&quot;
    toggleLabels={[&#39;ASC&#39;, &#39;DESC&#39;]}
    values={[&#39;sortASC&#39;, &#39;sortDESC&#39;]}
  /&gt;);
  expect(wrapper).toMatchSnapshot();
});



============ ============ ============ ============</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-5">
                <div class="band-inner">

                  <p>U can use jsdom framework by creating browser enviroment, if U dont want to use Enzyme mount() method</p>
                  <div class="codeWraper">
                    <code>============ pure jsdom render no enzyme (not recommended) ============

import React from &#39;react&#39;;
import dom from &#39;jsdom&#39;;

test(&#39;User profile&#39;, () =&gt; {
  let component, dom;

  before((done) =&gt; {
    let person = { FirstName:&#39;Richard&#39;, LastName:&#39;Kotze&#39; };
    component = React.render(
      &lt;ProfileBox hint={person} /&gt;,
      document.body,
      () =&gt; {
        setTimeout(done);
      }
    );
  });

  after((done) =&gt; {
    React.unmountComponentAtNode(document.body);
    setTimeout(done);
  });

  expect(&#39;should contain name&#39;, () =&gt; {
    dom = React.findDOMNode(component);
    dom.textContent.should.containEql(&#39;Richard Kotze&#39;);
  });

});

============ ============ ============ ============</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Testing with Enzyme (cheat sheet link) </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>Enzyme is air bng testing platform that works like jQuery for selecting the DOM structure captured in Enyzme snapshots</p>
                  <div class="codeWraper">
                    <code>/*Ezyme comes with lots of handy selectors which are all set in the link below*/

//copy that link below and paste in browser;

https://tutorial-set.herokuapp.com/views/javascript_tuts/test_jest_enzyme_tuts/Enzyme_cheatsheet.htm

or original one here:

https://devhints.io/enzyme</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Testing original functions </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>the most common way of testing functionality of the method is simply run the method and 
                expect to give you back what is declared in function body (method has to be return type!) for that</p>
                  <div class="codeWraper">
                    <code>----------------------- math.js helpers ----------------
export const add      = (a, b) =&gt; a + b;
export const subtract = (a, b) =&gt; b - a;
---------------------------------------------------------

----------------------- app.js (math helpers implementation) ----------------
export const doAdd      = (a, b) =&gt; math.add(a, b);
export const doSubtract = (a, b) =&gt; math.subtract(a, b);
-----------------------------------------------------------------------------

--------------- now testing those implemenations --------------------------
import * as app from &quot;./app&quot;;
import * as math from &quot;./math&quot;;

/*
  *@test base function
  *@by running it
*/
test(&quot;calls math.add&quot;, () =&gt; {
    const add = math.add(1,2)
    expect(add).toBe(3)
})
/*
  *@test higher-order function
  *@by running it
*/
test(&quot;calls app.doAdd&quot;, () =&gt; {
    const appAdd = app.doAdd(1,2)
    expect(appAdd).toBe(3)
})
----------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Testing objects and arrays </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>in javascript {}==={} or []===[] are always false , the key is to test what is inside and array or object properties as below</p>
                  <div class="codeWraper">
                    <code>================ 2 objects ================ 

const obj1 = {name:&#39;Greg&#39;}
const obj2 = {name:&#39;Greg&#39;}

obj1===obj2 //false
JSON.stringify(obj1)===JSON.stringify(obj2) //true we comparing to strings

//jest 
describe(&#39;Objects are the same&#39;, () =&gt; {
test(&#39;have all the same properties&#39;, () =&gt; {
  expect(obj1).toEqual(obj2);
});
});


================ ================ ================</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Testing REDUX </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>mapStateToProps and mapDispatchToProps are present in redux containers and the best way of checking if they return correct object is by 
                mocking entire react-redux module that returns {connect, provider} functionality as described below</p>
                  <div class="codeWraper">
                    <code>-------------- U can mock react-redux right in the testing file ----------

/ --------------- /
import the original module as usuall first:
1. -- import react-redux from &#39;react-redux&#39;

2. /---- in any test file as: countryActions.spec.js  ------ /
make your manual inline mocks of react-redux installed by npm install react-redux

jest.mock(&quot;react-redux&quot;, () =&gt; ({
  connect: jest.fn(
    (mapStateToProps, mapDispatchToProps) =&gt; (reactComponent) =&gt; {
      return {
        mapStateToProps,
        mapDispatchToProps,
        component: reactComponent,
      };
    }
  ),
}));

3./ --------------- /
-- lastly import your redux container that uses connect mocked method.

import { ChannelContentContainer } from &quot;../ChannelContentContainer&quot;;

explanation:
when react container componentis imported it will use our mock specify above. Important
You still need to specify you mock_state required by map mapStateToProps.

mock version of react-redux and it could be accessed by:

  mapStateToPropsObject = ChannelContentContainer.mapStateToProps(mock_state);
  mapDispatchToPropsObject = ChannelContentContainer.mapDispatchToProps(()=&gt;console.log(&#39;method send as dispatch&#39;));
  connectedComponent = ChannelContentContainer.component;

/------------------ /

example project using this:::::: dev/REact_studies_examples/redux/saga-thunk-redux-plus-tests

/------------------ /</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>redux-mock-store allows you to test thunk middleware and action creators as below</p>
                  <div class="codeWraper">
                    <code>/ --- confiture redux-mock-store --- /

import configureStore from &#39;redux-mock-store&#39; //ES6 modules
const { configureStore } = require(&#39;redux-mock-store&#39;) //CommonJS

const middlewares = [thunk]
const mockStore = configureStore(middlewares)

/ ------- /

/ --- then simply dispatch thunk function or action creator ---- /

store.dispatch(fetchData())

//---------------/

explanation:
There is no need to mock action creators that return type object {type:&#39;MY_ACTION_TYPE&#39;} this library will automatically detects and return in store.getActions() U might only mock if action creator dont return object 
or U want to mock entire seperate module that is part of your test code execution.</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>the best way to  test redux-saga is by using their own method runSaga() or by using external library</p>
                  <div class="codeWraper">
                    <code>/----- original saga generator function ----/

export function* putActiveChannel({ id }) {
  const currentUser = yield select(currentUserSelector);
  const userID = currentUser.get(`id`);
  yield console.log(&quot;sss&quot;, userID);
  yield call(() =&gt; axios.get(`/user/activeChannel/${userID}/${id}`));
}
                  
/ --- test putActiveChannel using  runSaga() --- /
  
    1. /- define state for saga
    const state = { currentUser: { id: &quot;userID&quot; } };
    const id = &quot;test&quot;;


    2. /- run saga will run entire generator function from first to last yield

    runSaga(
      {
        //dispatch: (action) =&gt; dispatched.push(action), //this generator doesnt dispatch action
        getState: () =&gt; state,
      },
      putActiveChannel,
      { id }
    );

    3. /- expect to call our mock axios.get
    expect(axios.get).toHaveBeenCalledTimes(1);
    axios.get().then((result) =&gt; {
      expect(result).toEqual(&quot;hi&quot;);
    });
    const userID = state.currentUser.id;
    expect(axios.get).toHaveBeenCalledWith(
      `/user/activeChannel/${userID}/${id}`
    );

/ ------- /

sample useage file::: REact_studies_examples/redux/saga-thunk-redux-plus-tests/src/sagas/__tests__/activeChannelSaga.spec.js ---

/---/</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>The best libray that worked for me wat to use redux-saga-test-plan that allows you to define store passed to saga and run it 
                  entirely from bottom to top and allows you to return outcome to jest it(),calback so this way is connected to jest functionality for passing 
                  or failing test.</p>
                  <div class="codeWraper">
                    <code>/ ------- /

1. /- import your library 

--  import { expectSaga } from &quot;redux-saga-test-plan&quot;;

2. /- import saga helpers function used in the test 

--  import { takeEvery } from &quot;redux-saga/effects&quot;;

                  
3. /- test saga with expectSaga() 

it(&quot;should call fetch and dispatches setChannelInfo when channel.get(`fetchStatus`) === NOT_FETCHED&quot;, () =&gt; {

    //mutate state object no  need to assing new variable
    Object.assign(state.channels[0], { fetchStatus: &quot;NOT_FETCHED&quot; });

    return expectSaga(fetchChannelInfo, parameterID)
      .withState(fromJS(state))
      .put({
        type: &quot;SET_CHANNEL_INFO&quot;,
        channel: fromJS({ fetchStatus: &quot;FETCHED&quot;, response: &quot;success&quot; }),
      })
      .run();

  });

//IMPORTANTE::: by returning expectSaga() method you will connected to the jest library for handling errors

/---/ 

example file:::: REact_studies_examples/redux/saga-thunk-redux-plus-tests/src/sagas/__tests__/channelSaga.spec.js

/---/</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> MOCK functions </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Jest comes with shorthand mock declaration that depends of your usage</p>
                  <div class="codeWraper">
                    <code>------below is the same statement with 2 ways of declaring ------

apiService.get = jest.fn(()=&gt;2) === same as::====   apiService.get = jest.fn().mockReturnValue(2)
apiService.get = jest.fn(()=&gt;2) === same as::====   apiService.get = jest.fn().mockImplemenation(()=&gt;2) //mockImplemenation(()=&gt;2) returns always function


1. ------- once apiService.get is mocked as apiService.get = jest.fn(()=&gt;2)  you can change its mock with diffrent implementation  ------

apiService.get
.mockReturnValueOnce(10)
.mockReturnValueOnce(10)
.mockReturnValue(20);

console.log(apiService.get());
console.log(apiService.get());
console.log(apiService.get());</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>jest.fn() can return any value so We could introduce async code and return a Promise, usefull for testing HTTP calls</p>
                  <div class="codeWraper">
                    <code>----------------- original apiService.get function -------

apiService.get = (a, b) =&gt; a + b;

--- Assign apiService.get to mock function that returns Promise (it will loose it original functionality);

apiService.get = jest.fn(x =&gt; Promise.resolve(x));


-- make your assortion in Promise callback ----

  apiService.get(2).then((data) =&gt; {
    expect(data).toBe(2);
  });

----------  -----------  --------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Mock custom module using jest.mock </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>mock stored in __mocks__/nameofModule.js</p>
                  <div class="codeWraper">
                    <code>// we are intresting in mocking showModal (in practice we will mock entire module anyway cause jest will mock entire file)

-------- original module  modalActions.js -------

export function showModal(children, options = {}) {
  const { mode, type } = options
  return (dispatch) =&gt; {
    dispatch(setModalCancelled(false))
    dispatch(setModalMode(mode || &#39;normal&#39;))
    dispatch(setModalChildren(children))
    dispatch(setModalType(type || &#39;dialog&#39;))
    dispatch(openModal())
  }
}

 By creating a folder __mocks__ and creating mock version of modalActions.js
 / ----- __mocks__/modalActions.js  ------ /

const showModal = jest.fn(() =&gt; ({ type: &#39;MOCK_SHOW_MODAL&#39; }))
export { showModal }


-------------------------------- testingfile.spec.js --------------------------------
1. import your original module as you normally would:
  --- import modalActions.js
2. let jest know you want to use mocked version of modalActions.js
  --- jest.mock(&#39;./pathto/modalActions&#39;)
3. execute code that uses showModal()</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>this method allows you to mack intant mock in the scope of testing file only.</p>
                  <div class="codeWraper">
                    <code>1. import your original module as you normally would:
  --- import modalActions.js

2. let jest know you want to use mocked version of modalActions.js by specify callback method with mock behaviour

jest.mock(&#39;../modalActions&#39;, () =&gt; ({
  showModal: () =&gt; ({ type: &#39;MOCK_SHOW_MODAL&#39; }),
})) 

3. execute code that uses showModal()

/ --------------- /</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Mock entire module stored in node_modules as react-redux </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>this is prefelable way of using mock cause it implemanation will be shared accross diffrent files.</p>
                  <div class="codeWraper">
                    <code>----------------------- __mocks__/react-redux.js ----------------


 1. By creating a folder __mocks__ and creating mock version of react-redux

 !!! Name of the file has to match the name for the module so in our case: react-redux.js !!!

 / ----- __mocks__/react-redux.js  ------ /
 //this module we only intrested in connect method from this module so the content will look as below:



//allways need to mock specific to module being used react-router has to exposed export { connect, provider };
//we will use javascript factory to accomplish that!

/-------- IMPORTANT  react-readux --------/

const reactRedux = {
  connect: jest.fn(
    (mapStateToProps, mapDispatchToProps) =&gt; (reactComponent) =&gt; {
      return {
        mapStateToProps,
        mapDispatchToProps,
        component: reactComponent,
      };
    }
  ),
  provider: ({ children }) =&gt; children,
};
const connect = reactRedux.connect;
const provider = reactRedux.provider;

export { connect, provider };


/-------- IMPORTANT axios--------/
//axios has to expose object itself since is imported as import axios from &#39;axios&#39;

export default {
  get: jest.fn(() =&gt; Promise.resolve(&quot;default&quot;)),
};

2./---- in any test file as: countryActions.spec.js  ------ /

tell jest that U want to mock react-redux from node_modules
-- jest.mock(&#39;react-redux&#39;) 



explanation:
when react container component(redux container) is imported it will use our mocked connect method for setting mapStateToProps and mapDispatchToProps.
Remember You still need to specify you mock_state required by map mapStateToProps.


3./---ChannelContentContainer object attached to ChannelContentContainer  due to this:
  --  export const ChannelContentContainer = connect(mapToProps)(dispatchToProps)(component) but also could be done as 
  --  export default connect(mapToProps)(dispatchToProps)(component)

4./-- lastly import your redux container that uses the react-redux connect mock

 -- import { ChannelContentContainer } from &quot;../ChannelContentContainer&quot;; or import  ChannelContentContainer  from &quot;../ChannelContentContainer&quot;
 //depending wchich import used from point 3.

5. /--- now mock version of react-redux and it could be accessed by ---/

  mapStateToPropsObject = ChannelContentContainer.mapStateToProps(mock_state);
  mapDispatchToPropsObject = ChannelContentContainer.mapDispatchToProps(()=&gt;console.log(&#39;method send as dispatch&#39;));
  connectedComponent = ChannelContentContainer.component;


/ ------------------------------------------- /</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>will mock in the scope of testing file. Disadvantage is that U have to always create mock per test file.</p>
                  <div class="codeWraper">
                    <code>-------------- U can mock react-redux right in the testing file ----------

/ --------------- /
import the original module as usual first:
1. -- import react-redux from &#39;react-redux&#39;

2. /---- in any test file as: countryActions.spec.js  ------ /
make your manual inline mocks of react-redux installed by npm install react-redux

jest.mock(&quot;react-redux&quot;, () =&gt; ({
  connect: jest.fn(
    (mapStateToProps, mapDispatchToProps) =&gt; (reactComponent) =&gt; {
      return {
        mapStateToProps,
        mapDispatchToProps,
        component: reactComponent,
      };
    }
  ),
}));

3./ --------------- /
-- lastly import your redux container that uses connect mocked method.

import { ChannelContentContainer } from &quot;../ChannelContentContainer&quot;;

explanation:
when react container componentis imported it will use our mock specify above. Important
You still need to specify you mock_state required by map mapStateToProps.

mock version of react-redux and it could be accessed by:

  mapStateToPropsObject = ChannelContentContainer.mapStateToProps(mock_state);
  mapDispatchToPropsObject = ChannelContentContainer.mapDispatchToProps(()=&gt;console.log(&#39;method send as dispatch&#39;));
  connectedComponent = ChannelContentContainer.component;

/------------------ /</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>most of a time U would use your default implemantion residing in __mocks__/modulename.js but occasionly U want specific behaviour for 
                  the module thefore in you test file you can customize it.</p>
                  <div class="codeWraper">
                    <code>1. -- import to module you want to mock as ---

  import axios from &#39;axios&#39;

2. -- let jest know we want to use mock for this module 

  jest.mock(&#39;axios&#39;)

3. override default mock implemenation by overiding its content for example for get method in axios:

  axios.get.mockImpenationOnce(()=&gt;{hello:&#39;I want this implemanation&#39;})

/------------------ /</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> mock es6 fetch call </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>fetch is a modern ajax call for js, it is is attached to the window.fetch. The approach here is to mock it in __mocks__/fetch.js folder so in can be used everywhere that needs to be mocked as below:</p>
                  <div class="codeWraper">
                    <code>/---------/


1. /- mock it globally 

------- __mocks__/fetch.js ---------


global.fetch = jest.fn().mockImplementation(() =&gt;
  Promise.resolve({
    json: () =&gt; {
      return {
        response: &quot;success&quot;,
      };
    },
  })
);
export default global.fetch;


------------------------

2. /- let jest know U want to use fetch mock not the original js one

jest.mock(&quot;../../__mocks__/fetch&quot;);

3. /- import fetch if you want to test against it
/-------/

import fetch from &quot;../../__mocks__/fetch&quot;;

by expect(fetch).toEqual(...)


/-------/

test example file::: REact_studies_examples/redux/saga-thunk-redux-plus-tests/src/sagas/__tests__/channelSaga.spec.js

/------/</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> SpyOn functionality in general </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>SpyOn method allows you to spy on specific method of the object. Especially usuefull for windows methods (as window.scrollTo()) or 
                document methos ad document.addClass(&#39;class name&#39;). Those need to be spyOn in order to make test pass.</p>
                  <div class="codeWraper">
                    <code>----------- original method -------

function(scrollTo){
  window.scrollTo(scrollTo)
}

-----------------------

1. / -- if U try to test that it will break cause window method is not defined , one way is to spy on it

const scrollToMethod = jest.spyOn(global.window,&#39;scrollTo&#39;).mockImplementation((scroll)=&gt;&#39;is scrolled to&#39;+scroll)

2. /-- test function(scrollTo)

it(&#39;calls scroll window method&#39;()=&gt;{

expect(scrollTo(20)).toEqual(&#39;is scrolled to 20&#39;);

})

/ ----------------------- /</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Spy on DOM elements </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>spy is perfect for spying on DOM elements. So window is not an exception. The syntax looks ad below 
                  spyOn(window, &#39;scrollTo&#39;).mockImplementationOnce(()=&gt;{})

                  remember:: ---- mockImplementationOnce(()=&gt;{}) needs to return a function -----</p>
                  <div class="codeWraper">
                    <code>/---- good place to mock window is in beforeAll() jest global method to mock it for all tests ------
        
beforeAll(() =&gt; {

  jest.spyOn(window, &quot;scrollTo&quot;).mockImplementation(() =&gt; {});
                              //or
                              //.mockImplementation(jest.fn());
                              //.mockImplementation(() =&gt; jest.fn());

});


/ --------- /</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>sometimes U need to be more creative and instead spying is to create a DOM element and send it to test. The example could be 
                 React.createRef() for class object.</p>
                  <div class="codeWraper">
                    <code>-------- original class method being tested -----

scrollParagraph = () =&gt; {
    const node = this.myRef.current;
    node.scroll({
      left: 300,
      behavior: &quot;smooth&quot;,
    });
  };

-----------------


1. /- crate mock react reference

const mockRef = (instance) =&gt; {

  //create myRef as mock
  instance.myRef.current = document.createElement(&quot;div&quot;);
  instance.myRef.current.scroll = jest.fn();
  instance.scrollParagraph = jest.fn();
  instance.scrollWindow = jest.fn();

};

2. /- test file with mock this.myRef

it(&quot;scrolls container after click button action&quot;, () =&gt; {

  const wrapper = shallow(ProposalClassProperties /&gt;);
  const instance = wrapper.instance();

  //mock createRef helper function
  mockRef(instance);

  const btnActionScroll = wrapper.find(&quot;button&quot;);
  btnActionScroll.simulate(&quot;click&quot;);

  //assertions
  expect(instance.scrollParagraph).toHaveBeenCalled();
});

/-----/</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> jest.spyOn(object,method) as alternative to jest.mock() </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Sometimes U dont want to go all of that trouble to mock entire module, U Want just to &#39;borrow&#39; or spy on one of its methods
                  and then restore its original functinality. Spies only work with moduels, classes basicaly objects.</p>
                  <div class="codeWraper">
                    <code>/-------------------------/

axios is module/object that comes with methods as get, post, put etc lets spy on get method only

1. /-- import your library as U would normally do 

-- import axios from &#39;axios&#39;

2. /---spyOn(object, method)  with mock implenation for it 

 -- jest.spyOn(axios, &quot;get&quot;).mockImplementation(() =&gt; Promise.resolve(&quot;hi&quot;));

3. /-- run you test with mock

axios.get().then((result) =&gt; {
  expect(result).toEqual(&quot;hi&quot;);
});

4. /-- lastly remmber to restore axios.get() to its original 

 -- axios.get.mockRestore()

/-------------------------/</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>Spy itself allows you to spy on single method of a class as well. With mockImplementation()
              on spy You can change its original implemenation and then restore it. Example below</p>
                  <div class="codeWraper">
                    <code>------------------------ react Class example ---------------------

   class Counter extends Component {
    state = {
      count:0,
    }

    add = (val1,val2) =&gt; val1 + val2
  }



  1. /------------------ test with spyOn --------------------------

  it(&#39;should add two integers&#39;, () =&gt; {

    --- declare your wrapper first -----

    const wrapper = shallow(Counter /&gt;);


   2.  /--- assign your spy function on class instance only (WRAPPER WILL not work) ----

    const incrementSpyOn = jest.spyOn(
      wrapper.instance(),
      &#39;add&#39;
    ).mockImplementation(()=&gt;1)


   3. / ---- test your mock implemantion-----

    expect(wrapper.instance().add(2,3)).toEqual(1)


   4. / ---------- !!! the restore original implemenation !!! -----

    wrapper.instance().add.mockRestore() -- (dont put that line)


    5. /- (optional)---- now make sure your original implemenation works back on ----

    expect(wrapper.instance().add(2,3)).toEqual(5)

  });</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Mock Object methods </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>jest.spyOn to mock a funtion but later restore its original implementation</p>
                  <div class="codeWraper">
                    <code>----------------------- math.js object----------------
export default {
     add:(a, b) =&gt; a + b,
     subtract:(a, b) =&gt; b - a,
 })
 ---------------------------------------------------------

 1. /--- import your library like you would normaly do

import math from &#39;./math&#39;

 2. /-- spyOn your method object with mock implementation

     const addMock = jest.spyOn(math, &quot;add&quot;).mockImplementation(() =&gt; &quot;mock&quot;)

 3. /-- run your example test

     expect(addMock.add(1, 2)).toEqual(&quot;mock&quot;)

4. / ---------- !!! the restore original implemenation !!! -----

    addMock.mockRestore()

    //test expect(math.add(1, 2)).toEqual(3)

----------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>U can spy on the object properties and method and even assign temporarry get and set methods as shown below. The idea is to mock function as usual but then assing that function to set and get mehtod of the object</p>
                  <div class="codeWraper">
                    <code>----------  assign getTittle and setTitle methods----------  

const getTitle = jest.fn(() =&gt; &#39;pizza&#39;) //return type
const setTitle = jest.fn() //normal function no return 

--------- use your mock function in get and set Object properties-------------

const location = {}
Object.defineProperty(location, &#39;title&#39;, {
  get: getTitle,
  set: setTitle
})

---------- this syntax is from Jest 22.1.0+ -------------------

const location = {}
const getTitle = jest.spyOn(location, &#39;title&#39;, &#39;get&#39;).mockImplementation(() =&gt; &#39;pizza&#39;)
const setTitle = jest.spyOn(location, &#39;title&#39;, &#39;set&#39;).mockImplementation(() =&gt; {})


----------- restore to original functions ----------

---for one mock---

fn.mockClear() // Clears mock usage date (fn.mock.calls, fn.mock.instances)
fn.mockReset() // Clears and removes any mocked return values or implementations
fn.mockRestore() // Resets and restores the initial implementation


---------- for all mocks ----------

jest.clearAllMocks()
jest.resetAllMocks()
jest.restoreAllMocks()</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> clearing mocks </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>When you run multiple test in one file U most likely want to spy, mock something in one test but restore for next one.Those are jest 
              clearing methods.</p>
                  <div class="codeWraper">
                    <code>----------- restore to original functions ----------

---for one mock---

fn.mockClear() // Clears mock usage date (fn.mock.calls, fn.mock.instances)
fn.mockReset() // Clears and removes any mocked return values or implementations
fn.mockRestore() // Resets and restores the initial implementation


---------- for all mocks ----------

jest.clearAllMocks()
jest.resetAllMocks()
jest.restoreAllMocks()</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> run only one test </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>run only one specific test from CLI</p>
                  <div class="codeWraper">
                    <code>//it has to be cofigured so if you have seperate configuration use flag: 
--config=jest.configuration.json      

//command line
gilgrz$ /Users/gilgrz/myReactComponents/node_modules/.bin/jest -i &#39;absolutepath/AppRouter.test.js&#39;</code>
                  </div>
                </div>
              </div>
            

      </section>
  
  
    <section class="band band-b activeSection">
      <h1></h1>

      



        

    </section>
  
  </div>
</div>

       <!-- nunjucks loop-->
  </div>
</div>
<script src="scripts/nav-links.js"></script>
<script src="scripts/tooltips_links_over.js"></script>
<script src="scripts/search_nav.js"></script>
 </body></html>