<html lang="en"><head>
  <meta charset="UTF-8">  
  <title>tutorial === Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/tutorial.css">
  <link rel="stylesheet" href="css/tooltip.css">
</head>
<body translate="no">
<div class="l-site">
  <div class="l-nav">
    <nav class="nav">
      <input type="text" placeholder="Search" id="search">
      <div style="clear: both;"></div>
      <!-- nunjucks loop-->
            
<ul class="links">
<!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Basics of JEST Framework</a><span class="tooltiptext">Basics of JEST Framework</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>instaling JEST</a><span class="tooltiptext">instaling JEST</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>testing Objects and arrays</a><span class="tooltiptext">testing Objects and arrays</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Snapshot testing</a><span class="tooltiptext">Snapshot testing</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>Snapshot testing using JEST and ENZYME</a><span class="tooltiptext">Snapshot testing using JEST and ENZYME</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>Snapshot testing using only JEST</a><span class="tooltiptext">Snapshot testing using only JEST</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>geg</a><span class="tooltiptext">geg</span>
                        
                    </ul>
                
      </li>
    
<!--end-list-tag-->
</ul>

       <!-- nunjucks loop-->
    </nav>
  </div>
  <div class="l-page">
    <div class="menu">
      <div class="menu-hamburger"></div>
    </div>
      <!-- nunjucks loop-->
          
<div class="sectionWrapper">
  <div class="sectionContainer">
   
      
      <section  class="band band-b activeSection"  class="band band-b">
          <h1> Basics of JEST Framework </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>jest is a testing framework ceated by facebook and covers most of the cases for testing react applications</p>
                  <div class="codeWraper">
                    <code>install JEST by 

      npm i jest@20.0.4 (this version works with webpack 3 and babel6) latest version needs update on webpack and babel

================ to run ================

npm test (it will look for filenames with test in a name);

================ to run with watch mode ================

npm test --watch 


================ to run a simple test ================ 

const add = (a,b)=&gt; a + b;

test(&#39;should add two numbers&#39;.; ()=&gt; {
const result = add(3,4)
//asserstion 
expect(result).toBe(7);
});
================ ================ ================</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>in javascript {}==={} or []===[] are always false , the key is to test what is inside and array or object properties as below</p>
                  <div class="codeWraper">
                    <code>================ 2 objects ================ 

const obj1 = {name:&#39;Greg&#39;}
const obj2 = {name:&#39;Greg&#39;}

obj1===obj2 //false
JSON.stringify(obj1)===JSON.stringify(obj2) //true we comparing to strings

//jest 
describe(&#39;Objects are the same&#39;, () =&gt; {
test(&#39;have all the same properties&#39;, () =&gt; {
  expect(obj1).toEqual(obj2);
});
});


================ ================ ================</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Snapshot testing </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Before U need &#39;Enzyme&#39; Airbnb product that is created to enhance testing for React, it uses addtional selectors and enables Snapshot testing, it needs special adapters to work with JEST</p>
                  <div class="codeWraper">
                    <code>================ instaling enzyme ================

npm i --save-dev enzyme enzyme-adapter-react-16

================example snapshot test with enzyme ================

              import React from &#39;react&#39;;
import { shallow } from &#39;enzyme&#39;;
import MyComponent from &#39;./MyComponent&#39;;

describe(&#39;MyComponent&#39;, () =&gt; {
  it(&#39;should render correctly in &quot;debug&quot; mode&#39;, () =&gt; {
    const component = shallow(&lt;MyComponent debug /&gt;);
  
    expect(component).toMatchSnapshot();
  });
});

================ ================ ================</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>now U can use
                  npm package called &#39;react-test-renderer&#39; for making your component snapshots. No need for Enzyme.</p>
                  <div class="codeWraper">
                    <code>[object Object]</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>geg</p>
                  <div class="codeWraper">
                    <code>gege</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
  
    <section class="band band-b activeSection">
      <h1></h1>

      



        

    </section>
  
  </div>
</div>

       <!-- nunjucks loop-->
  </div>
</div>
<script src="scripts/nav-links.js"></script>
<script src="scripts/tooltips_links_over.js"></script>
<script src="scripts/search_nav.js"></script>
 </body></html>