<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!-- saved from url=(0094)file:///C:/Users/greg/AppData/Local/Temp/sv4k7mks.tmp/sv4ni0an.tmp/sublime_text3_shortcuts.htm -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1250">
	
	
	<title></title>
	<meta name="GENERATOR" content="OpenOffice 4.0.0  (Win32)">
	<meta name="CREATED" content="0;0">
	<meta name="CHANGEDBY" content="Microsoft Office User">
	<meta name="CHANGED" content="20170314;12214900">
	
	<style>
		<!-- 
		BODY,DIV,TABLE,THEAD,TBODY,TFOOT,TR,TH,TD,P { font-family:"Arial"; font-size:x-small }
		 -->
	</style>
	
</head>

<body text="#000000">
<table frame="VOID" cellspacing="0" cols="5" rules="NONE" border="0">
	<colgroup><col width="244"><col width="405"><col width="282"><col width="233"><col width="660"></colgroup>
	<tbody>
		<tr>
			<td colspan="2" width="649" height="56" align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE">Editing</font></b></td>
			<td colspan="2" width="516" align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE">Bookmarks</font></b></td>
			<td width="660" align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="CENTER" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Keypress</font></b></td>
			<td align="CENTER"><b><font face="Times New Roman" size="5">Command</font></b></td>
			<td align="CENTER" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td align="CENTER"><b><font face="Times New Roman" size="5"><br></font></b></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + E</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Convert selection into tag</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + F2</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Toggle bookmark</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + &#8617;</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">Insert line after</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">F2</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Next bookmark</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + &#8679; + &#8617;</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">Insert line before</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">&#8679; + F2</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Previous bookmark</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="64" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + J</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Join line below to the end of the current line</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + KL</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Transform to Lowercase</font></td>
			<td align="LEFT"><br></td>
		</tr>
		<tr>
			<td height="58" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + ]</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Indent current line(s)</font></td>
			<td colspan="2" align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE">Tabs</font></b></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="112" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">CTRL+CMD+arrow</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">moves line up and down (no selection needed)</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + &#8679; + t</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Open last closed tab</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="115" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + [</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Un-indent current line(s)</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">cmd+alt+arrow</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Cycle up through tabs</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td colspan="2" height="103" align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE">Selecting<br></font></b></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">toggle side bar</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">CMD+K+B</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="92" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl+ D (cursor in the middle of the line)</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">selects the closes tag and goes upward select parent and parent -really cool</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">focus on side bar</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">CTRL+0</font></td>
			<td align="LEFT"><font size="5">doesn’t seem to work so set up your own shortcut in Preferences-&gt;user-bindings: { "keys": ["super+k+n"], "command": "focus_side_bar" }</font></td>
		</tr>
		<tr>
			<td height="92" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">CMD+SHIFT+ SPACE </font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">selects the content of {}, “” ()curly braces,quotation,parenthesis</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + &#8646;</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Find in files</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="121" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">CMD+SHIFT+J</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">select children of current line up</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + W</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Close current tab</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="73" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">CMD + L </font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">select line</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Alt + [NUM]</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Switch to tab number [NUM] where [NUM] &lt;= number of tabs</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="73" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">CMD+SHIFT+ W</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">wrap text into tag</font></td>
			<td colspan="2" align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE">Split window</font></b></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="60" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Alt + &#8679; + W</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Wrap Selection in html tag</font></td>
			<td align="CENTER" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Keypress</font></b></td>
			<td align="CENTER"><b><font face="Times New Roman" size="5">Command</font></b></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="72" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">CMD+SHIFT+ D</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">duplicate line (no need to select)</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Alt + &#8679; + 1</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Revert view to single column</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td colspan="2" height="79" align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE">Deleting<br></font></b></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Alt + &#8679; + 2</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Split view into two columns</font></td>
			<td align="LEFT"><br></td>
		</tr>
		<tr>
			<td height="94" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + &#8679; + K </font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">Delete Line<br><br></font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Alt + &#8679; + 3</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Split view into three columns</font></td>
			<td align="LEFT"><br></td>
		</tr>
		<tr>
			<td height="64" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + KK </font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">Delete from cursor to end of line<br></font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Alt + &#8679; + 4</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Split view into four columns</font></td>
			<td align="LEFT"><br></td>
		</tr>
		<tr>
			<td height="64" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + K + BACKS</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">Delete from cursor to start of line<br></font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Alt + &#8679; + 5</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Set view to grid (4 groups)</font></td>
			<td align="LEFT"><br></td>
		</tr>
		<tr>
			<td height="64" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + End</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">goto end of the file</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Alt + &#8679; + 8</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Split view into two rows</font></td>
			<td align="LEFT"><br></td>
		</tr>
		<tr>
			<td height="64" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + P</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Quick-open files by name</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + [NUM]</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Jump to group where num is 1-4</font></td>
			<td align="LEFT"><br></td>
		</tr>
		<tr>
			<td height="72" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + R</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Goto symbol</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + &#8679; + [NUM]</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Move file to specified group where num is 1-4</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="89" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + Y</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Redo, or repeat last keyboard shortcut command</font></td>
			<td align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + &#8679; + V</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Paste and indent correctly</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="64" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + Space</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Select next auto-complete suggestion</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="87" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + U</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">soft undo; jumps to your last change before undoing change when repeated</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="82" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">CTRL+CMD+arrow</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">moves line up and down (no selection needed)</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="38" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">CMD+R</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">jump into the function</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td colspan="2" height="33" align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE">General</font></b></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="CENTER" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Keypress</font></b></td>
			<td align="CENTER"><b><font face="Times New Roman" size="5">Command</font></b></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + &#8679; + P</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Command prompt</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + KB</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Toggle side bar</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="74" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl/CMD + (+/-)</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">make text larger smaller</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="77" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + &#8679; + Alt + P</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Show scope in status bar</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td colspan="2" height="33" align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE">Find and Replace</font></b></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="39" align="CENTER" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Keypress</font></b></td>
			<td align="CENTER"><b><font face="Times New Roman" size="5">Command</font></b></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + F</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Find</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="94" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + H (ALT+CMD+F -mac)</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">Replace with </font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl+ alt+Enter</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">Execute Find and Replace</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="64" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">toggle case sensitive</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">Alt + C</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="92" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">toggle exact match</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">Alt + W</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">toggle regex search</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">Alt + R</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + &#8679; + F</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Find in files</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><br></td>
		</tr>
		<tr>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="33" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + ;</font></b></td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">Goto word in current file</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Ctrl + G</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">Goto line in current file</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td colspan="2" height="33" align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE">AdvancedNewFile plugin</font></b></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="94" align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE">allows you to quickly create folders and files </font></b></td>
			<td align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><br></td>
		</tr>
		<tr>
			<td height="33" align="CENTER" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Keypress</font></b></td>
			<td align="CENTER"><b><font face="Times New Roman" size="5">Command</font></b></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
		</tr>
		<tr>
			<td height="33" align="CENTER" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td align="CENTER"><b><font face="Times New Roman" size="5"><br></font></b></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Cmd+alt+n</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">open new direcotry input</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="64" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">:greg/greg.js</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">creates new folder and file in current directory</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="64" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE">greg/rootFile.hjs</font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5">creates new folder and file in root directory</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><br></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5"><br></font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="33" align="LEFT" bgcolor="#CC6699"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="LEFT" bgcolor="#CC6699"><font face="Times New Roman" size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE">LineJumper </font></b></td>
			<td align="LEFT" bgcolor="#330033"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="CENTER" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">Keypress</font></b></td>
			<td align="CENTER"><b><font face="Times New Roman" size="5">Command</font></b></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="CENTER" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td align="CENTER"><b><font face="Times New Roman" size="5"><br></font></b></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><br></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">alt+arrow up</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">jumps 10 lines up</font></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><br></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">alt+arrow down</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">jumps 10 lines down</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE"><br></font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="33" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">alt+shift+arrow up</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">selects 10 lines up</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
		<tr>
			<td height="64" align="LEFT" bgcolor="#996633"><b><font face="Times New Roman" size="5" color="#EEEEEE">alt+shift+arrow down</font></b></td>
			<td align="LEFT"><font face="Times New Roman" size="5">selects 10 lines down</font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
			<td align="LEFT"><font size="5"><br></font></td>
		</tr>
	</tbody>
</table>
<!-- ************************************************************************** -->



</body></html>