<html lang="en"><head>
  <meta charset="UTF-8">  
  <title>tutorial === Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/tutorial.css">
  <link rel="stylesheet" href="css/tooltip.css">
</head>
<body translate="no">
<div class="l-site">
  <div class="l-nav">
    <nav class="nav">
      <input type="text" placeholder="Search" id="search">
      <div style="clear: both;"></div>
      <!-- nunjucks loop-->
            
<ul class="links">
<!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts">catch and try</a><span class="tooltiptext">catch and try</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>try {} catch{}</a><span class="tooltiptext">try {} catch{}</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>try {} catch {} in function body</a><span class="tooltiptext">try {} catch {} in function body</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>try {} catch{} finally{}</a><span class="tooltiptext">try {} catch{} finally{}</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts">loading &lt;script&gt; tag</a><span class="tooltiptext">loading &lt;script&gt; tag</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>default bahavior</a><span class="tooltiptext">default bahavior</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>&lt;script src=&#39;&#39; defer&gt;</a><span class="tooltiptext">&lt;script src=&#39;&#39; defer&gt;</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>&lt;script src=&#39;&#39; async&gt;</a><span class="tooltiptext">&lt;script src=&#39;&#39; async&gt;</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>dynamic &lt;script&gt; tag</a><span class="tooltiptext">dynamic &lt;script&gt; tag</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts">write it or append file echo</a><span class="tooltiptext">write it or append file echo</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts">file permisions</a><span class="tooltiptext">file permisions</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>find it out the user (either root or any other user)</a><span class="tooltiptext">find it out the user (either root or any other user)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>changing the owner of the file/directory</a><span class="tooltiptext">changing the owner of the file/directory</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts">change file permisions</a><span class="tooltiptext">change file permisions</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts">list ls</a><span class="tooltiptext">list ls</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts">find</a><span class="tooltiptext">find</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>find general pattern</a><span class="tooltiptext">find general pattern</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>find with exclusion !(not operator)</a><span class="tooltiptext">find with exclusion !(not operator)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>pipe find results</a><span class="tooltiptext">pipe find results</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts">grep</a><span class="tooltiptext">grep</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>grep</a><span class="tooltiptext">grep</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>grep -E</a><span class="tooltiptext">grep -E</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts">find and repace (sed)</a><span class="tooltiptext">find and repace (sed)</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts">pipe and execute command (| -exec | xargs )</a><span class="tooltiptext">pipe and execute command (| -exec | xargs )</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>xargs</a><span class="tooltiptext">xargs</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_js_tuts" partition>exec</a><span class="tooltiptext">exec</span>
                        
                    </ul>
                
      </li>
    
<!--end-list-tag-->
</ul>

       <!-- nunjucks loop-->
    </nav>
  </div>
  <div class="l-page">
    <div class="menu">
      <div class="menu-hamburger"></div>
    </div>
      <!-- nunjucks loop-->
          
<div class="sectionWrapper">
  <div class="sectionContainer">
   
      
      <section  class="band band-b activeSection"  class="band band-b">
          <h1> catch and try </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>try {} catch{} block allows you to catch errors and do something about them as : trow custom errors, log errors or continue with code after errors ( by default error will break your code stopping execution). Try block will check 
          if whatever we wrote in try block create error (not defined). Rember null, not defined, empty string wont throw error since those are js valid expressions.</p>
                  <div class="codeWraper">
                    <code>---------- basic catch and try ---------

//will throw Custom error: &#39;functionDontExist&#39;

try {
  functionDontExist()
} catch(e) {
throw new Error(&#39;functionDontExist&#39;);
}

//will throw default error &#39;functionDontExist is not defined&#39;

try {
  functionDontExist()
} catch(e) {
throw new Error(e); 
}

  //will NOT throw error 

try {
  &#39;some text&#39;
} catch(e) {
throw new Error(&#39;functionDontExist&#39;);
}

-------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>when try{} and catch{} is enclosed in function body then it will work as condition. if(arg){}else{}</p>
                  <div class="codeWraper">
                    <code>//below will produce true of false in try{} and catch blocks

function isValidJSON(text) {
  try {
    JSON.parse(text);
    return true;
  } catch {
    return false;
  }
}


-------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>finally{} block will always executes first and will execute regadless the outcome of try{} or catch{}</p>
                  <div class="codeWraper">
                    <code>try {
  &#39;some text&#39;
} catch(e) {
throw new Error(&#39;functionDontExist&#39;);
}
finally {
  console.log(&#39;I am called first&#39;)
}</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> loading &lt;script&gt; tag </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>1. Scripts will block rendering the page. 
                2. scripts
                3. multiple scripts are loaded not in sync (one doesnt wait for another)</p>
                  <div class="codeWraper">
                    <code>---- simple sollution for blocking rendering -----

            1. put the scripts at the bottom of the &lt;body&gt; tag so they are loaded after the content

---------------------------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>1. Scripts with defer never block the page. 
                2. Scripts with defer always execute when the DOM is ready, but before DOMContentLoaded event
                3. multiple scripts are loaded in order from top to bottom (one after another)</p>
                  <div class="codeWraper">
                    <code>//those 2 scripts will load one after another and they dont block page rendering.

&lt;script defer src=&quot;https://javascript.info/article/script-async-defer/long.js&quot;&gt;&lt;/script&gt;
&lt;script defer src=&quot;https://javascript.info/article/script-async-defer/small.js&quot;&gt;&lt;/script&gt;

---------------------------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>1. Scripts with defer never block the page. 
                2. Scripts can load before DOME is ready or DOME can load before scripts are ready (either way no one wait, no one cares ;)
                2. Other scripts don’t wait for async scripts, and async scripts don’t wait for them (load first serves)</p>
                  <div class="codeWraper">
                    <code>//those 2 scripts will load asynchronisly.  The script that loads first – runs first (“load-first” order).

&lt;script async src=&quot;https://javascript.info/article/script-async-defer/long.js&quot;&gt;&lt;/script&gt;
&lt;script async src=&quot;https://javascript.info/article/script-async-defer/small.js&quot;&gt;&lt;/script&gt;

---------------------------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>1. Dynamic scripts behave as “async” by default. So they are available once they loaded, they dont wait for other scripts and they dont wait or block Dome.</p>
                  <div class="codeWraper">
                    <code>let script = document.createElement(&#39;script&#39;);
script.src = &quot;/article/script-async-defer/long.js&quot;;
document.body.append(script);


//control to load of dynamic load with script.async = false

function loadScript(src) {
  let script = document.createElement(&#39;script&#39;);
  script.src = src;
  script.async = false;
  document.body.append(script);
}

// first.js runs first because of async=false
loadScript(&quot;first.js&quot;);
loadScript(&quot;second.js&quot;);

//those will execute one after another because of the script.async = false what makes eqwiwalent to below:

&lt;script defer src=&quot;first.js&quot;&gt;&lt;/script&gt;
&lt;script defer src=&quot;second.js&quot;&gt;&lt;/script&gt;

---------------------------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> write it or append file echo </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>echo &#39;text&#39; and write in or append to the new or existing file</p>
                  <div class="codeWraper">
                    <code>/---/
                
//write in new file 
echo &#39;text to write in&#39; &gt; newFile.text

//append to existing file 
echo &#39;text to append&#39; &gt;&gt; newFile.text

//stdout echo mutltipe pattern names 
echo file{2..10}.txt</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> file permisions </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Linux can have eiher a regual user of super user(su) which is root</p>
                  <div class="codeWraper">
                    <code>/*********************************************/

  //to find out who is logged in;
    whoami  
      //prints greggil

  //to change to root (super user);
      sudo su - 
      //whoami prints root;

  //to chage back to regular user
      su - greggil
      //whoami prints root;


/*********************************************/</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>depending who created file/directory (which user) and only that user can maninpulate (edit/delete)
          unless you will change file/directory permisions;</p>
                  <div class="codeWraper">
                    <code>/*********************************************/

//if the owner of the file is root then only root can change its owner 

//change from root to gilg  (subdirectories stile belong to root)

  sudo chown gilg file/directory;

//change owner from root to gilg for file/direcoires with all subdirectories -R flag now belong to gilg

sudo chown -R gilg file/directory/subdirectory;

/*********************************************/</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> change file permisions </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>file/directory permisions can be eiher drwx = directory,read,write,execute that could be also stated in numeric

0 = ---
1 = --x
2 = -w-
3 = -wx
4 = r-
5 = r-x
6 = rw-
7 = rwx</p>
                  <div class="codeWraper">
                    <code>---------------- add or remove file permision for owner---------------------

//adds read/write/execute for the owner 
chmod +rwx; = chmod u+rwx; (user is owner by default)

//removes read/write/execute for the owner 
chmod +rwx = chmod u+rwx;

---------------- add or remove file permision for owner and group---------------------

//adds read/write/execute for the owner and the group
chmod ug+rwx;
//removes read/write/execute for the owner and the group
chmod og-rwx;

---------------- add or remove file permision for owner and group and others---------------------

//adds read/write/execute for the owner and the group and the others
chmod ugo+rwx = chmod 777;
//removes read/write/execute for the owner and the group and the others
chmod ugo-rwx;

------------ ------------ ------------ ------------</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> list ls </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>You should list to list files in curent directory dont use find for that</p>
                  <div class="codeWraper">
                    <code>flags 
                 -1 = list in seperate rows
                 -la = includdig hidden files
                 -l = with details as file permissions


                 //list files in current dictory
                 ls 
                 //list and sort (it sorts by default anyway) 
                 ls | sort</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> find </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>The find command will begin looking:
               in the starting directory you specify and proceed to search through 
               all accessible subdirectories. 
               You may specify more than one starting directory for searching.
               
               find (starting directory) (matching criteria and actions);

               find examples:
               find . = find recursilvely 
               find ./specifig = find in directory 
               find ./specifig/filename.js = find file in directory
               find */filename.js = find in all directories specific file

               addding flags:

               -type f, d = of type file or directory
               -name, -iname = of spefic name or name case insensitive
               -maxdepth 0 = search on current level
               -path &#39;path&#39; = specify path
               -prune = exlude
               -o = or operator
               -size +1000 = bigger that 1000mb
               -print = is to stdout (find . === find . -print)</p>
                  <div class="codeWraper">
                    <code>------------ ------------  general search --------  ------------

------- find in directory (/ slash means root directory be aware ./ dot means current)------------
 find ./directory/ -name &#39;filename&#39; or &#39;*wilcardCombination&#39;

--------------- u should always use find with flags (more predictable)------------ 
//find all files in given directory (recursively);
find ./scripts -type f

//find all directories in given directory (recursively);
find ./scripts -type d

//find recursively from current all js files that have name as wilcardCombination 
-name &#39;filename or *wilcardCombination&#39; flag
 find ./directory/ -name &#39;*.js&#39;

 //find recursively more that one directory at the time that have files
 find ./directory/ ./directory1/ -type f

//combining flags (all files that size is bigger thant 1000mb and -name &#39;*.js&#39;)
-type f =all files
-size +1 = bigger than 1mb
-print = print paths
 -name &#39;*.js 

find ./scripts -type f -size +1000 -print -name &#39;*.js</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>U can perform your search and specify what to exclude from search 
               as !exclude with flag
               we will operate on those flags:

                ! === --not (selector)
                -path &#39;/*&#39; (selector)
                -o (logical or)
                -prune =&gt; means exclude ussually in combination with -o 
                [ -o -path &#39;./node_modules&#39; -prune ] =&gt; or exclude</p>
                  <div class="codeWraper">
                    <code>--------------- exclude with !(not) or -not selector ------------ 

//find all files in given directory (recursively) and exclude .txt files
// find ./to_delete/ -type f =&gt; look for files -type f
//! -name &#39;*.txt&#39; =&gt; but not ones of .txt extension

find ./to_delete/ -type f ! -name &#39;*.txt&#39;



//find index.* but exclude node_modules -path flag
//find . -name &#39;index.*&#39; =&gt; look for index.*
//! -path &#39;*/node*&#39; =&gt; but exclude node*

find . -name &#39;index.*&#39; ! -path &#39;*/node*&#39;

//the same as above with -not selector !=== -not

find . -name &#39;index*&#39; -not -path &#39;./node_modules/*&#39;

//exclude multiple directories with -path (path has to have wild cards dir/* )
//. ! -path &#39;./node_modules/*&#39; =&gt; exclude from node_modules/*
//. ! -path &#39;./constants/*&#39; =&gt; exclude from constants/*
//-iname &quot;index*&quot; =&gt; finally look for index.* name elsewhere

find . ! -path &#39;./node_modules/*&#39; ! -path &#39;./constants/*&#39; -iname &quot;index*&quot;

//the same as above with -not selector !=== -not

find . -name &#39;index*&#39; -not -path &#39;./node_modules/*&#39; -not -path &#39;./constants/*

//or more mathematic approach (too complex but proves the magic of maths)
find . -name &#39;index*&#39; -not \( -path &#39;./node_modules/*&#39; -o -path &#39;./vendor/*&#39; \)


------------   exclude with -prune flag and -o (or selector) -------------------

//-path &#39;./node_modules&#39; -prune =&gt; exclude ./node_modules
// -o -iname &#39;index*&#39; =&gt; or show case insensitive for name &#39;index*&#39;
// -print =&gt; dont show paths where perform search; 

find . -path &#39;./node_modules&#39; -prune -o -type f -iname &#39;index*&#39; -print
//reverse above
find . -type f -iname &#39;index*&#39; -print -o -path &#39;./node_modules&#39; -prune 
 ------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>pipe allows you to combine your commands and take results from command into another and another
               findResults (| pipe into) deleteCommand

               IMPORTANT: pipe always need verb after like: grep or xargs ...</p>
                  <div class="codeWraper">
                    <code>----------------- find files then filter and delete them  -----------------

  //lets assume U have file1.js, file2.js , file3.js, file4.js 
  //and U want to remove only files 2 and 3 you can find all, pipe to filter and remove

  find file*.js | grep &quot;file[2-3]&quot; | xargs rm


  //find all directory on current level and copy gulpfile.js file to them 

  find * -maxdepth 0 -type d -exec cp -vi test_jest_enzyme_tuts/gulpfile.js {} \;

  break down:
  find * -maxdepth 0 -type d = finds all current directories 
  -exec cp -vi test_jest_enzyme_tuts/gulpfile.js {} \; = then execute copy test_jest_enzyme_tuts/gulpfile.js to those directories


  --------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> grep </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>greg allows you find within a text with this pattern doesnt support regex at this form

                    grep [flag] [plain text] [where][*][filename.*]</p>
                  <div class="codeWraper">
                    <code>/---/

//flags 
-i - case insensitive
-r = subdirectories of the current directory eg: grep -r hello .
-l = list only files
-w = finds only whole words so live &#39;but&#39; not &#39;liver&#39;
-n = show lines where term appears
--exclude-dir=&#39;.git&#39; = exclude directory git from the search 
--color = highlights the seach term 

//U can merge flags as well 

grep  -rni --color  &quot;campaign&quot; .

=&gt; look for &quot;campaign&quot; term rucursively, show the lines number and color the results</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>greg allows you find within a text with this regex pattern

                    grep -E [flag] [plain text] [where][*][filename.*]</p>
                  <div class="codeWraper">
                    <code>/---/

//flags 
-E takes regex expressions as: &#39;campaigns?&#39; look for campaign and campaigns
-i - case insensitive
-r = subdirectories of the current directory eg: grep -r hello .
-l = list only files
-w = finds only whole words so live &#39;but&#39; not &#39;liver&#39;
-n = show lines where term appears
--exclude-dir=&#39;.git&#39; = exclude directory git from the search 
--color = highlights the seach term 

//U can merge flags as well 

grep -E  -rni --color  &quot;campaigns?&quot; .

=&gt; look for &quot;campaigns?&quot; regex -E  term rucursively, show the lines number and color the results</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> find and repace (sed) </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>find and replace with sed command as :

                  sed [flag] &#39;s/searchTerm/ReplaceTerm/g&#39; [where][filename.*] 

                  // * wilcards alone are not allowed only combined folder/file*.js/</p>
                  <div class="codeWraper">
                    <code>/---/

//find IP address and update with new one 
sed -i &#39;&#39; &#39;s/3432423/335353/g&#39; database.txt

//change expression from one to another
sed -i &quot;&quot; &quot;s/cdn: false/cdn: true/g&quot; ./CLT-aptamil-*/src/js/adspandable_config.js</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> pipe and execute command (| -exec | xargs ) </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>xargs allows you to take standard input from pipe results and execute command from the resutls as below pattern:

                    xargs allways is perceded by execution command as :

                    echo a b c | xargs echo 

                    which simple say take output of echo a b c and pipe result and execute echo (which is simply duplication in this case)
                    prints a b c</p>
                  <div class="codeWraper">
                    <code>//-----flags--------/
                -n [number]1,2 = take the output and place in (-n1 one line each word )-n2 (2 words in line) etc 

                echo a b c | xargs -n2 echo 
                prints : a b 
                        c

                -t = prints what command has been executed by xargs 
                find greg*.js | xargs  -t  rm  //prints rm greg1.js greg2.js greg3.js


                -p = promts what command is about to be executed by xargs 
                find greg*.js | xargs  -t  rm  //prints rm greg1.js greg2.js greg3.js...y


                //create and delete output of echo 
                 echo &#39;one two three&#39; | xargs mkdir //create directories
                //delete output of echo 
                echo &#39;one two three&#39; | xargs rm -rf //remove directories

                //copy file text.txt with a content in new files file2.text file3.txt
                echo file{2..3}.txt | xargs -n1 cp text.txt

                //list files containing &#39;campaign&#39; word and the sentence itself
                ls . | xargs grep &#39;camp&#39;
                //prints campaings.txt:“campaign and campaigns”

                //list all in current directory and find file container &#39;cdn&#39; word -l display file only not content
                 ls . | grep -l &quot;cdn&quot; * ===  ls . | xargs grep -l &quot;cdn&quot;</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>-exec allows you to take standard input from pipe results and execute command from the resutls as below pattern:

                it is apprently slower that | xarts

                    xargs allways is perceded by execution command as :

                    find *.js -exec echo {} \;</p>
                  <div class="codeWraper">
                    <code>//not as good as xargs to be updated 

                //find .jpg file in all subdirectories and list them 
                find . -name &quot;*.jpg&quot; -exec ls {} ;</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
  
    <section class="band band-b activeSection">
      <h1></h1>

      



        

    </section>
  
  </div>
</div>

       <!-- nunjucks loop-->
  </div>
</div>
<script src="scripts/nav-links.js"></script>
<script src="scripts/tooltips_links_over.js"></script>
<script src="scripts/search_nav.js"></script>
 </body></html>