<li style='text-align:center;border-bottom:2px dashed orange;text-transform: uppercase;'>terminal_tuts</li>
 <!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">history</a><span class="tooltiptext">history</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">bracket pattern file{1..3}</a><span class="tooltiptext">bracket pattern file{1..3}</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">write it or append file echo</a><span class="tooltiptext">write it or append file echo</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">file permisions</a><span class="tooltiptext">file permisions</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>find it out the user (either root or any other user)</a><span class="tooltiptext">find it out the user (either root or any other user)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>changing the owner of the file/directory</a><span class="tooltiptext">changing the owner of the file/directory</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">change file permisions</a><span class="tooltiptext">change file permisions</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">list ls</a><span class="tooltiptext">list ls</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">find</a><span class="tooltiptext">find</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>find general pattern</a><span class="tooltiptext">find general pattern</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>find with exclusion !(not operator)</a><span class="tooltiptext">find with exclusion !(not operator)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>pipe find results</a><span class="tooltiptext">pipe find results</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">grep</a><span class="tooltiptext">grep</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>grep</a><span class="tooltiptext">grep</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>grep -E</a><span class="tooltiptext">grep -E</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">find and repace (sed)</a><span class="tooltiptext">find and repace (sed)</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts">pipe and execute command (| -exec | xargs )</a><span class="tooltiptext">pipe and execute command (| -exec | xargs )</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>xargs</a><span class="tooltiptext">xargs</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/terminal_tuts" partition>exec</a><span class="tooltiptext">exec</span>
                        
                    </ul>
                
      </li>
    
<!--end-list-tag--> 
