<li style='text-align:center;border-bottom:2px dashed orange;text-transform: uppercase;'>test_jest_enzyme_tuts</li>
 <!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Basics of JEST Framework</a><span class="tooltiptext">Basics of JEST Framework</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>naming and Folder convention</a><span class="tooltiptext">naming and Folder convention</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>installing JEST</a><span class="tooltiptext">installing JEST</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>ENZYME Configuration and snapshot testing</a><span class="tooltiptext">ENZYME Configuration and snapshot testing</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">small react-test-renderer library with Snapshooting</a><span class="tooltiptext">small react-test-renderer library with Snapshooting</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Enzyme testing</a><span class="tooltiptext">Enzyme testing</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>Enzyme based snapshooting</a><span class="tooltiptext">Enzyme based snapshooting</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>Event simulators</a><span class="tooltiptext">Event simulators</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>shallow testing</a><span class="tooltiptext">shallow testing</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>Full dom Rendering enzyme mount();</a><span class="tooltiptext">Full dom Rendering enzyme mount();</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>Full render with Jsdom</a><span class="tooltiptext">Full render with Jsdom</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Testing with Enzyme (cheat sheet link)</a><span class="tooltiptext">Testing with Enzyme (cheat sheet link)</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Testing original functions</a><span class="tooltiptext">Testing original functions</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Testing objects and arrays</a><span class="tooltiptext">Testing objects and arrays</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Testing REDUX</a><span class="tooltiptext">Testing REDUX</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>testing mapStateToProps and mapDispatchToProps</a><span class="tooltiptext">testing mapStateToProps and mapDispatchToProps</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>redux-mock-store with thunk middleware</a><span class="tooltiptext">redux-mock-store with thunk middleware</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>test redux-saga</a><span class="tooltiptext">test redux-saga</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>test saga with external library as redux-saga-test-plan</a><span class="tooltiptext">test saga with external library as redux-saga-test-plan</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">MOCK functions</a><span class="tooltiptext">MOCK functions</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>JEST function declaration helpers mockReturnValue nad mockReturnValueOnce</a><span class="tooltiptext">JEST function declaration helpers mockReturnValue nad mockReturnValueOnce</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>Jest.fn() mock that returns promise</a><span class="tooltiptext">Jest.fn() mock that returns promise</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Mock custom module using jest.mock</a><span class="tooltiptext">Mock custom module using jest.mock</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>globally in __mocks__/custom.js</a><span class="tooltiptext">globally in __mocks__/custom.js</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>mocking only in testingfile.spec.js</a><span class="tooltiptext">mocking only in testingfile.spec.js</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Mock entire module stored in node_modules as react-redux</a><span class="tooltiptext">Mock entire module stored in node_modules as react-redux</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>__mocks__/react-redux.js</a><span class="tooltiptext">__mocks__/react-redux.js</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>mock(&#39;react-redux&#39;, callback)</a><span class="tooltiptext">mock(&#39;react-redux&#39;, callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>override a mock implemanation</a><span class="tooltiptext">override a mock implemanation</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">mock es6 fetch call</a><span class="tooltiptext">mock es6 fetch call</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">SpyOn functionality in general</a><span class="tooltiptext">SpyOn functionality in general</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Spy on DOM elements</a><span class="tooltiptext">Spy on DOM elements</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>spyOn(window, &#39;scrollTo&#39;)</a><span class="tooltiptext">spyOn(window, &#39;scrollTo&#39;)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>mock create react refference</a><span class="tooltiptext">mock create react refference</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">jest.spyOn(object,method) as alternative to jest.mock()</a><span class="tooltiptext">jest.spyOn(object,method) as alternative to jest.mock()</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>spyOn(npm_module,method)</a><span class="tooltiptext">spyOn(npm_module,method)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>spyOn(class,method)</a><span class="tooltiptext">spyOn(class,method)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">Mock Object methods</a><span class="tooltiptext">Mock Object methods</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>jest.spyOn() with mockRestore()</a><span class="tooltiptext">jest.spyOn() with mockRestore()</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts" partition>SpyOn(object,method,&#39;get&#39; or &#39;set&#39;) with restoring test</a><span class="tooltiptext">SpyOn(object,method,&#39;get&#39; or &#39;set&#39;) with restoring test</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">clearing mocks</a><span class="tooltiptext">clearing mocks</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/test_jest_enzyme_tuts">run only one test</a><span class="tooltiptext">run only one test</span>
                 
      </li>
    
<!--end-list-tag--> 
<li style='text-align:center;border-bottom:2px dashed orange;text-transform: uppercase;'>redux_saga_tests_explained_tuts</li>
 <!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/redux_saga_tests_explained_tuts">gag</a><span class="tooltiptext">gag</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/redux_saga_tests_explained_tuts" partition>gag</a><span class="tooltiptext">gag</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/redux_saga_tests_explained_tuts" partition>aga</a><span class="tooltiptext">aga</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/redux_saga_tests_explained_tuts">check if type of string or number</a><span class="tooltiptext">check if type of string or number</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/redux_saga_tests_explained_tuts">String methods()</a><span class="tooltiptext">String methods()</span>
                 
      </li>
    
<!--end-list-tag--> 
<li style='text-align:center;border-bottom:2px dashed orange;text-transform: uppercase;'>promises_ES6_tuts</li>
 <!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/promises_ES6_tuts">ES6 promise</a><span class="tooltiptext">ES6 promise</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/promises_ES6_tuts" partition>new Promise((reject,resolve)=&gt;{})</a><span class="tooltiptext">new Promise((reject,resolve)=&gt;{})</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/promises_ES6_tuts" partition>chaining promises</a><span class="tooltiptext">chaining promises</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/promises_ES6_tuts" partition>async function</a><span class="tooltiptext">async function</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/promises_ES6_tuts" partition>async function with await</a><span class="tooltiptext">async function with await</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/promises_ES6_tuts" partition>chaining await feature in async function</a><span class="tooltiptext">chaining await feature in async function</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/promises_ES6_tuts">Promise.all( [array or promises] ) sequeance of promises</a><span class="tooltiptext">Promise.all( [array or promises] ) sequeance of promises</span>
                 
      </li>
    
<!--end-list-tag--> 
