<li style='text-align:center;border-bottom:2px dashed orange;text-transform: uppercase;'>weird_js_examples_tuts</li>
 <!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts">check if type is array</a><span class="tooltiptext">check if type is array</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts">Array methods()</a><span class="tooltiptext">Array methods()</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts">spread Oberators in Array</a><span class="tooltiptext">spread Oberators in Array</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Spread oparator how it works</a><span class="tooltiptext">Spread oparator how it works</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Spread Operator as array joiner</a><span class="tooltiptext">Spread Operator as array joiner</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>spread operator as array.push(); or array.unshift();</a><span class="tooltiptext">spread operator as array.push(); or array.unshift();</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts">Desctructuring Assigment in Arrays</a><span class="tooltiptext">Desctructuring Assigment in Arrays</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Desctructuring Assigment in Arrays</a><span class="tooltiptext">Desctructuring Assigment in Arrays</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Desctructuring Assigment in nested structure Arrays</a><span class="tooltiptext">Desctructuring Assigment in nested structure Arrays</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Desctructuring Assigment in Arrays with (Spread Operator)</a><span class="tooltiptext">Desctructuring Assigment in Arrays with (Spread Operator)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Desctructuring Assigment in Arrays with (default value)</a><span class="tooltiptext">Desctructuring Assigment in Arrays with (default value)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts">Array.prototype.splice(startIndex,[endIndex])</a><span class="tooltiptext">Array.prototype.splice(startIndex,[endIndex])</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Array.prototype.splice(startIndex,[endIndex])</a><span class="tooltiptext">Array.prototype.splice(startIndex,[endIndex])</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Array.prototype.splice(startIndex,[endIndex,replacedRangeInSplice]</a><span class="tooltiptext">Array.prototype.splice(startIndex,[endIndex,replacedRangeInSplice]</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Array.prototype.splice(-1)</a><span class="tooltiptext">Array.prototype.splice(-1)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Array.prototype.splice(-1,1,replaceLastfromOriginal)</a><span class="tooltiptext">Array.prototype.splice(-1,1,replaceLastfromOriginal)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts">Array.prototype.sort()</a><span class="tooltiptext">Array.prototype.sort()</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Array.prototype.sort()</a><span class="tooltiptext">Array.prototype.sort()</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Array.prototype.sort(callback) integers</a><span class="tooltiptext">Array.prototype.sort(callback) integers</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Array.prototype.sort(callback) non-integers</a><span class="tooltiptext">Array.prototype.sort(callback) non-integers</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>Array.prototype.sort() nested Objects (summary)</a><span class="tooltiptext">Array.prototype.sort() nested Objects (summary)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts">ES5/ES6 array.map(callback)</a><span class="tooltiptext">ES5/ES6 array.map(callback)</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts">ES6 array methods</a><span class="tooltiptext">ES6 array methods</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>array.some(callback)</a><span class="tooltiptext">array.some(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>array.every(callback)</a><span class="tooltiptext">array.every(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>array.find(callback)</a><span class="tooltiptext">array.find(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>array.findIndex(callback)</a><span class="tooltiptext">array.findIndex(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>array.filter(callback)</a><span class="tooltiptext">array.filter(callback)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>copyWithin(target, start, end)</a><span class="tooltiptext">copyWithin(target, start, end)</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>array.fill(value,[startIndex, endIndex])</a><span class="tooltiptext">array.fill(value,[startIndex, endIndex])</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>array.includes(value)</a><span class="tooltiptext">array.includes(value)</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts">array.reduce(callback(a,e,i){return a},startPoint)</a><span class="tooltiptext">array.reduce(callback(a,e,i){return a},startPoint)</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>array.reduce(callback) interator couter</a><span class="tooltiptext">array.reduce(callback) interator couter</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>array.reduce(callback) array calculor with starting point</a><span class="tooltiptext">array.reduce(callback) array calculor with starting point</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/weird_javascript_examples_tuts" partition>array.reduce(callback) Object transformation</a><span class="tooltiptext">array.reduce(callback) Object transformation</span>
                        
                    </ul>
                
      </li>
    
<!--end-list-tag--> 
