<html lang="en"><head>
  <meta charset="UTF-8">  
  <title>tutorial === Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/tutorial.css">
  <link rel="stylesheet" href="css/tooltip.css">
</head>
<body translate="no">
<div class="l-site">
  <div class="l-nav">
    <nav class="nav">
      <input type="text" placeholder="Search" id="search">
      <div style="clear: both;"></div>
      <!-- nunjucks loop-->
            
<ul class="links">
<!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts">What is Docker? and Docker HUB ?</a><span class="tooltiptext">What is Docker? and Docker HUB ?</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts">Building image from the DockerFile</a><span class="tooltiptext">Building image from the DockerFile</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>simple Dockerfile image</a><span class="tooltiptext">simple Dockerfile image</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>docker build [context] [flags]</a><span class="tooltiptext">docker build [context] [flags]</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>Volumes - way to keep containers statefull not stateless</a><span class="tooltiptext">Volumes - way to keep containers statefull not stateless</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>Bind Mounts =&gt; way to share data between local host and container</a><span class="tooltiptext">Bind Mounts =&gt; way to share data between local host and container</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts">Run Container:  docker run [OPTIONS] IMAGE [COMMAND] [ARG...]</a><span class="tooltiptext">Run Container:  docker run [OPTIONS] IMAGE [COMMAND] [ARG...]</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>docker run -p/--publish 5001:5000 [image-name]</a><span class="tooltiptext">docker run -p/--publish 5001:5000 [image-name]</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>docker run -e PORT=4000 [image-name]</a><span class="tooltiptext">docker run -e PORT=4000 [image-name]</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>applying bind Mounts: docker run -v/ --volume pathToYourFile [image-name]</a><span class="tooltiptext">applying bind Mounts: docker run -v/ --volume pathToYourFile [image-name]</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>CMD OVERRIDE: docker run [image] [CMD override]</a><span class="tooltiptext">CMD OVERRIDE: docker run [image] [CMD override]</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>ENTRYPOINT WITH CMD: docker run</a><span class="tooltiptext">ENTRYPOINT WITH CMD: docker run</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>ENTRYPOINT WITH SHELL script: docker run</a><span class="tooltiptext">ENTRYPOINT WITH SHELL script: docker run</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts">Run Container WITH VOLUMES and DEBUG</a><span class="tooltiptext">Run Container WITH VOLUMES and DEBUG</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>1 type: anonymous volume</a><span class="tooltiptext">1 type: anonymous volume</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>2 type: named volume</a><span class="tooltiptext">2 type: named volume</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>3 type: create a volume and attach it manually</a><span class="tooltiptext">3 type: create a volume and attach it manually</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/docker_tuts" partition>4 type: host volume or bind mounts</a><span class="tooltiptext">4 type: host volume or bind mounts</span>
                        
                    </ul>
                
      </li>
    
<!--end-list-tag-->
</ul>

       <!-- nunjucks loop-->
    </nav>
  </div>
  <div class="l-page">
    <div class="menu">
      <div class="menu-hamburger"></div>
    </div>
      <!-- nunjucks loop-->
          
<div class="sectionWrapper">
  <div class="sectionContainer">
   
      
      <section  class="band band-b activeSection"  class="band band-b">
          <h1> What is Docker? and Docker HUB ? </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>1. Docker consists of Docker container and docker image which is read-only layered image that allows you to build a container and run it as the isolated appllication.
      Runs on Linux or windows server. 
              
              2. Docker HUB is a repository with docker contaiers that you can pull and they can be run in your docker desktop app 
              as: 
                            docker pull hello-world
              
            before there was Kinematic app (depricated)</p>
                  <div class="codeWraper">
                    <code>-------------  pull the hello-word image from the docker hub ------------------

docker pull hello-world


--- run image in docker desktop -----
1. from Gui in docker desktop, pick from the list and press button RUN

-------------------------------</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Building image from the DockerFile </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>those are the most common image commands for experss node container</p>
                  <div class="codeWraper">
                    <code>/*********************************************/


#ARG can be set default as bellow or be overriden in inline command docker run . --build-arg NODE_VERSION=12-alpine
ARG NODE_VERSION=16.13.2
FROM node:${NODE_VERSION}

#ENV can not be directly change during runtime but they can be assign to ARG 
ENV APP_VERSION=$NODE_VERSION

#metadata
LABEL author=&#39;me&#39;

#create directory app in container
WORKDIR /app

#copy package.json package-lock.json /app container ./ = /app
COPY package.json package-lock.json  ./

#example of usind default ARG value and set ENV based on it, ARG can be overriden in inline command as well
ARG CUSTOM_USER=&#39;Greg&#39;
ENV NODE_USER=$CUSTOM_USER

#run npm install
RUN USER=$USER npm install 

#afer npm install copy everything to /app
COPY . /app/

#start the app
CMD npm run start

/*********************************************/</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>docker build is command line that allows you to build container from the dockerfile image</p>
                  <div class="codeWraper">
                    <code>/***************** docker build ****************************/

  //--- docker build [context] --- 
  =&gt;  docker build . /current directory where DockerFile is present

  //dockerfile with specified name
  =&gt;  docker build -f Dockerfile.debug 

  //build from url
  =&gt; docker build github.com/creack/docker-firefox  

  //with the name and tag to name the image 
   =&gt;  docker build  -t name:tag .


    //with passing the arguments to the image this will override default ARG CUSTOM_USER=&#39;Greg&#39;
    //IMPORTANT  you can not override DIRECTLY global env variables in build but you can assign them to ARG = ENV to go around it if you need to

   =&gt;  docker build  --build-arg CUSTOM_USER=custom_user --build-arg  NODE_VERSION=16.13.2-alpine .

   Those are the most common build options but there are plenty more !

/*********************************************/</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>volumes allow to keep data persistent and they are seperate from the contaiers, when the container is removed 
               but the volume will stay, you can start a new container and it will use data from the volume. Volumes are also means to 
               inject configuration and dependencies into container.</p>
                  <div class="codeWraper">
                    <code>/***************** docker build ****************************/

  /

/*********************************************/</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>Bind Mounts allow you to communicate with the host machine by accessing 
          its file system, but they could be problematic due to the file permisions for example
          where 2 diffrent user set in container and on host machine. The common way of using 
          Bind Mounts is runing container with configuration from .env file or yaml or json.</p>
                  <div class="codeWraper">
                    <code>/***************** docker run with .env variables used in command line ****************************/


/*********************************************/</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Run Container:  docker run [OPTIONS] IMAGE [COMMAND] [ARG...] </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>docker run comand allows you to run a docker image and build container, and view in the browser by
               exposing port to view on:

                docker run -d -p 5001:5000 simple-express-app

                -d =&gt; run in detached mode so you can still use your console app runs in background
                -p =&gt; port to expose to EXPOSE_PORT:APP_ORIGINAL_PORT from dockerfile EXPOSE 5000
                -it =&gt; attach interactive shell to it</p>
                  <div class="codeWraper">
                    <code>==&gt; from DockerFile:
            
    EXPOSE 5000
    CMD npm run start

    //run container with port redirect from 5000 to 5001 in detached mode -d
    docker run -d -p 5001:5000 simple-express-app

    //you can change PORT if you app allows you to change PORT env as process.env.PORT || &#39;5000&#39; and then expose it for localhost
    docker run  -e PORT=4002 -p 4002:4002 simple-express-app

        
    IMPORTANT : to view your app in browser you always have to redirect the port to viw it on as:  REDIRECT_PORT:APP_PORT
    -p/--publish 4002:5000

------------ ------------------------ ------------------------ ------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>-e flag allows you to run container with changed/overriden global ENV as PORT,USER etc ,
               
              example change the PORT of the app running (the app has to have functionality for it as:process.env.PORT || &#39;5000&#39; )
       
                docker run -d  -e PORT=4002</p>
                  <div class="codeWraper">
                    <code>//run the container with changed env PORT=4002 and expose new PORT to 4003 id detached mode -d

    docker run -d  -e PORT=4002 -p 4003:4002 simple-express-app

------------ ------------------------ ------------------------ ------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>bind Mounts allow you to attach data (as configuration .env) to your container , 
               
               The file being sent has to be mapped to location in docker directory with the flag read only for docker

               -v LOCALPATH/file : /dockerDirectory/file:ro 

               for .env the -v comamnd would look like:

               -v $PWD/.env:/app/.env:ro</p>
                  <div class="codeWraper">
                    <code>//run the container with .env file as ready only with maping to /app container directory and published to PORT and to view it in browser on 5001:

    docker run -d -v $PWD/.env:/app/.env:ro -p 5001:5000 simple-express-app

------------ ------------------------ ------------------------ ------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>docker run allows you to ovveride CMD command (which can only be one in dockerFile, if more only last one is exuecuted)
         

               docker run -it my-app:v3 echo hi

               //this way whatever was in CMD [&#39;npm&#39;, &#39;start&#39;] it will be overriden by: echo hi</p>
                  <div class="codeWraper">
                    <code>//dockerfile CMD to be override
    CMD npm run start

    //override CMD with echo command
    dodocker run -it my-app:v3 echo hi

------------ ------------------------ ------------------------ ------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-5">
                <div class="band-inner">

                  <p>ENTRYPOINT acts the same as CMD , the only diffrence is that it will execute before the container starts, it can be overidden in the 
               docker run only, and can be only one per dockerfile (more last is taken), 

               docker run [image]

                If the ENTRYPOINT is used togehter with CMD then both command are going to combined as 

                ENTRYPOINT [&#39;executable&#39;,&#39;paramToEntryPoint1&#39; ]
                CMD: [&#39;paramToEntryPoint2&#39;,&#39;paramToEntryPoint3&#39;]

                so CMD in only used to pass params to executable from entrypoint</p>
                  <div class="codeWraper">
                    <code>//ENTRYPOINT with CMD 
    ENTRYPOINT [ &quot;echo&quot;,&quot;hi&quot; ]
    CMD [ &quot;there&quot;,&quot;handsome&quot; ]

    prints: hi there handsome

------------ ------------------------ ------------------------ ------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-6">
                <div class="band-inner">

                  <p>ENTRYPOINT acts the same as CMD , the only diffrence is that it will execute before the container starts, it can be overidden in the 
               docker run only by --entrypoint flag, and can be only one per dockerfile (more last is taken), 

               docker run [image]

            //example ENTRYPOINT with params:

            ENTRYPOINT [ &quot;echo&quot;,&quot;hi&quot;,&quot;there&quot;,&quot;handsome&quot; ]</p>
                  <div class="codeWraper">
                    <code>//shell script that allows you to read params: =&gt; as sh file.sh npm start 

    ------------ file.sh-----------------
    echo &#39;shell called from EntryPoint in docker file&#39;
    echo &quot;now running: $1 $2&quot;
    #run npm script from params 
    $1 $2
    ------------ file.sh-----------------

   //ENTRYPOINT that exuecutes shell script with params 

    ENTRYPOINT [&quot;sh&quot;, &quot;shellScript.sh&quot;, &quot;npm&quot;,&quot;start&quot;]
  
    //--outcome
    prints: hi there handsome

------------ ------------------------ ------------------------ ------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Run Container WITH VOLUMES and DEBUG </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>docker allows you to create volume with a -v flag without the name (it will be random has name instead) and that volume 
               can be access by listing volumes 

               docker volume ls</p>
                  <div class="codeWraper">
                    <code>-------------

1. To share a file/directory you need to use -v flag :

    docker run -it --name myContainer -v /Vol alpine bin/bash

-i =&gt; interactive mode alows to interact with the container repository
-t =&gt; attach tty in short means attach terminal 
-v =&gt; create anonymous volume in  /containerDirectory/Vol
--name myContainer =&gt; name of container for refference to delete/stop etc
alpine =&gt; name of the docker image
bin/bash =&gt; open container in bash terminal


2. check if volume is there and create a new file 

    cd Vol
    touch file1
    exit

3. list your volumes and inspect

    docker volume ls 
    docker inspect [volumeId]

4. got to volme directory 

------------ ------------------------ ------------------------ ------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>docker allows you to create volume with a -v flag with a name and that volume. if the volume does not exist with that name
               it will be created if it will use that existing volume.
               can be access by listing volumes 

               docker volume ls

             =&gt; the volume shoud be listed under its name as below:

               local     fa9f5f4cecd66e115dbdd2e6c7f7887450368641ce2cad8d23657c3384c3814f
               local     named-volume</p>
                  <div class="codeWraper">
                    <code>-------------

1. To share a file/directory you need to use -v flag :

    docker run  -it -v named-volume:/data02 --name volumeCont alpine sh

-i =&gt; interactive mode alows to interact with the container repository
-t =&gt; attach tty in short means attach terminal 
-v  named-volume:/data02 =&gt; create named-volume volume in and attaches /data2 folder to it
--name volumeCont=&gt; name of container for refference to delete/stop etc
alpine =&gt; name of the docker image
sh =&gt; open container in sh terminal


2. check if volume is there and create a new file 

    cd Vol
    touch file1
    exit

3. list your volumes and inspect

    docker volume ls 
    docker inspect named-volume

4. got to volme directory 

------------ ------------------------ ------------------------ ------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>docker allows you to create volume with a -v flag with a name and that volume. if the volume does not exist with that name
               it will be created if it will use that existing volume. In this example the volume first it will be created and then attached
               can be access by listing volumes 

           1. docker volume create vol-created-manually

               docker volume ls

           2. the volume shoud be listed under its name as below:

               local     fa9f5f4cecd66e115dbdd2e6c7f7887450368641ce2cad8d23657c3384c3814f
               local      vol-created-manually</p>
                  <div class="codeWraper">
                    <code>-------------

1. Create a volume 

docker volume create vol-created-manually

1. Run container and attach volume to it:

    docker run  -it -v vol-created-manually:/data03 --name volumeCont alpine sh

-i =&gt; interactive mode alows to interact with the container repository
-t =&gt; attach tty in short means attach terminal 
-v named-volume:/data02 =&gt; create named-volume volume in and attaches /data2 folder to it
--name volumeCont =&gt; name of container for refference to delete/stop etc
alpine =&gt; name of the docker image stored localy
sh =&gt; open container in sh terminal


2. check if volume is there and create a new file 

    cd Vol
    touch file1
    exit

3. list your volumes and inspect

    docker volume ls 
    docker inspect named-volume

4. got to volme directory 

------------ ------------------------ ------------------------ ------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>docker allows you to use local files/directories and share/map to the container.
           Make sure to add all permistions to your folder you want to share:

           mkdir newDir
           touch file.txt

           chmod 777 newFolder</p>
                  <div class="codeWraper">
                    <code>-------------

1. Run container and attach local directory to it with the directory that is listed in docker settings

    docker run  -it -v $PWD/newDir:/data05 --name volumeCont alpine sh

-i =&gt; interactive mode alows to interact with the container repository
-t =&gt; attach tty in short means attach terminal 
-v $PWD/newDir:/data05 =&gt; attach local folder $PWD/newDir to folder /data5 (it should have all content from local)
--name volumeCont =&gt; name of container for refference to delete/stop etc
alpine =&gt; name of the docker image stored localy
sh =&gt; open container in sh terminal

2. check if folder is shared is there and create a new file 

    cd data05
    touch file1
    exit

3. list your volumes and inspect

    There should be NO NEW volumes cause this time we only share the folder !

4. after exited from sh go to your local directory that have been shared and see if new file is there created in docker repository

cd newDir
ls 

------------ ------------------------ ------------------------ ------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
  
    <section class="band band-b activeSection">
      <h1></h1>

      



        

    </section>
  
  </div>
</div>

       <!-- nunjucks loop-->
  </div>
</div>
<script src="scripts/nav-links.js"></script>
<script src="scripts/tooltips_links_over.js"></script>
<script src="scripts/search_nav.js"></script>
 </body></html>