@charset "UTF-8";
/*-----------------
  Logo for Supply Chain 
*/
.logoSC {
  float: left;
  margin: 9px 0 9px 9px;
  display: block;
}
@media all and (min-width: 768px) {
  .logoSC {
    
    left: 38px;
    bottom: 99px;
    margin: 0;
  }
}
.logoSC:focus {
  outline: thin dotted;
}
@media all and (max-width: 767px) {
  .logoSC img {
    width: 58px;
    padding-top: 36px;
    height: 0;
    background: url(img/logo_58SC.png);
  }
}
@media all and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), all and (max-width: 767px) and (min-device-pixel-ratio: 2) {
  .logoSC img {
    background: url(img/logo_116SC.png);
    background-size: 58px 36px;
    /* Saf5, Chrome */
  }
}
@media all and (min-width: 768px) {
  .logoSC img {
    width: 383px;
    height: 73px;
  }
}
@media all and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), all and (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .logoSC img {
    height: 0;
    padding-top: 73px;
    background: url(img/logo_232SC.png);
    background-size: 370px 73px;
    /* Saf5, Chrome */
  }
}

@media all and (min-width: 768px) {
  .no-js .logoSC {
    top: 38px;
  }
}

/*-----------------
  Logo for Medical Devices
*/
.logoMD {
  float: left;
  margin: 9px 0 9px 9px;
  display: block;
}
@media all and (min-width: 768px) {
  .logoMD {
    
    left: 38px;
    bottom: 99px;
    margin: 0;
  }
}
.logoMD:focus {
  outline: thin dotted;
}
@media all and (max-width: 767px) {
  .logoMD img {
    width: 58px;
    padding-top: 36px;
    height: 0;
    background: url(img/logo_58_MD.png);
  }
}
@media all and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), all and (max-width: 767px) and (min-device-pixel-ratio: 2) {
  .logoMD img {
    background: url(img/logo_116_MD.png);
    background-size: 58px 36px;
    /* Saf5, Chrome */
  }
}
@media all and (min-width: 768px) {
  .logoMD img {
    width: 383px;
    height: 73px;
  }
}
@media all and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), all and (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .logoMD img {
    height: 0;
    padding-top: 73px;
    background: url(img/logo_232_MD.png);
    background-size: 370px 73px;
    /* Saf5, Chrome */
  }
}

@media all and (min-width: 768px) {
  .no-js .logoMD {
    top: 38px;
  }
}

/*-----------------
  Logo for navigation site
*/
.logoNV {
  float: left;
  margin: 9px 0 9px 9px;
  display: block;
}
@media all and (min-width: 768px) {
  .logoNV {
    
    left: 38px;
    bottom: 99px;
    margin: 0;
  }
}
.logoNV:focus {
  outline: thin dotted;
}
@media all and (max-width: 767px) {
  .logoNV img {
    width: 58px;
    padding-top: 36px;
    height: 0;
    background: url(img/logo_58.png);
  }
}
@media all and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), all and (max-width: 767px) and (min-device-pixel-ratio: 2) {
  .logoNV img {
    background: url(img/logo_116.png);
    background-size: 58px 36px;
    /* Saf5, Chrome */
  }
}
@media all and (min-width: 768px) {
  .logoNV img {
    width: 383px;
    height: 73px;
  }
}
@media all and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), all and (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .logoNV img {
    height: 0;
    padding-top: 73px;
    background: url(img/logo_232_MD.png);
    background-size: 370px 73px;
    /* Saf5, Chrome */
  }
}

@media all and (min-width: 768px) {
  .no-js .logoNV {
    top: 38px;
  }
}