.srvc-teaser-block .teaser-block-title{
        margin-top:20px !important;
}
.teaser-item a:hover{
        text-decoration:underline;
}
.op9001Grid, .op14001Grid, .op18001Grid, .op27001Grid, .op9001, .op14001, .op18001, .op27001{
width:125px !important;
}
.op14001Grid, .op18001Grid, .op27001Grid{
        margin-left:10px !important;
}
a.block img.thumb{
        margin-left:0px !important;
width:125px !important;
height:78px;
}
.standards-list li.l-grid-2{
width:90% !important;
}
.opInTrainLi div.opCourseSubSectImg{
background:url('http://www.bsigroup.com/Global/125x78/training-incompany-125.jpg'); height:70px; width:125px;
}
.opClassTrainLi div.opCourseSubSectImg{
background:url('http://www.bsigroup.com/Global/125x78/training-public-125.jpg'); height:70px; width:125px;
}
.opDistLearnLi div.opCourseSubSectImg{
background:url('http://www.bsigroup.com/Global/125x78/training-distance-125.jpg'); height:70px; width:125px;
}
.opOnlineTrainLi div.opCourseSubSectImg{
background:url('http://www.bsigroup.com/Global/125x78/training-online-125.jpg'); height:70px; width:125px;
}

#opCourseDeliveryOpt ul li{
float:left;
        font-size:1.65em;
width:25%;
clear:none;
}
#opCourseDeliveryOpt ul li h3{
        min-height:46px
}
#opCourseDeliveryOpt ul li div p{
        margin-right:6px;
}

.opRightHandSide article {
border: 2px solid #F3F3F3;
margin: 20px 0;
padding: 30px;
        line-height:25px;
}
.opCurrentCourse{
width:70px;
height:70px;
display:inline-block !important;
float:left;
margin-bottom: 5px;
}

.standards-list-title, .standards-list-example{
        padding-left:0px;
        width:300px;
        display:inline-block;
}
.standards-list-title:before{
        content:"" !important;
}
.standards-list-example {
padding-left:15px;
}

.opCurrentCourseDets{
        display:inline-block !important;
        float:right;
        margin-top:0px;
}

/* Added by dinesh 
.content-1 {
    float:left;
    width:80px;
     padding:10px;
    
}
.content-2-1 {
    float:left;
    width:320px;
    padding:10px;
    
}
.content-2-2 {
    float:right;
    width:155px;
    padding:10px;
   
}*/