<html lang="en"><head>
  <meta charset="UTF-8">  
  <title>tutorial === Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/tutorial.css">
  <link rel="stylesheet" href="css/tooltip.css">
</head>
<body translate="no">
<div class="l-site">
  <div class="l-nav">
    <nav class="nav">
      <input type="text" placeholder="Search" id="search">
      <div style="clear: both;"></div>
      <!-- nunjucks loop-->
            
<ul class="links">
<!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts">types</a><span class="tooltiptext">types</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts" partition>tuple</a><span class="tooltiptext">tuple</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts" partition>types literals</a><span class="tooltiptext">types literals</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts" partition>types guards</a><span class="tooltiptext">types guards</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts">Typescript generics</a><span class="tooltiptext">Typescript generics</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts" partition>Build-in generics</a><span class="tooltiptext">Build-in generics</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts" partition>custom multiple generics in function</a><span class="tooltiptext">custom multiple generics in function</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts" partition>custom generics in function</a><span class="tooltiptext">custom generics in function</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts" partition>types generic with constrains</a><span class="tooltiptext">types generic with constrains</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts" partition>&#39; key of&#39; in type generics constrains</a><span class="tooltiptext">&#39; key of&#39; in type generics constrains</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts">function overloads</a><span class="tooltiptext">function overloads</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts" partition>function overloads syntax</a><span class="tooltiptext">function overloads syntax</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts" partition>next to fill</a><span class="tooltiptext">next to fill</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts">Type casting</a><span class="tooltiptext">Type casting</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts" partition>Type casting with html elements</a><span class="tooltiptext">Type casting with html elements</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/typescript_tuts" partition>type casting not null values</a><span class="tooltiptext">type casting not null values</span>
                        
                    </ul>
                
      </li>
    
<!--end-list-tag-->
</ul>

       <!-- nunjucks loop-->
    </nav>
  </div>
  <div class="l-page">
    <div class="menu">
      <div class="menu-hamburger"></div>
    </div>
      <!-- nunjucks loop-->
          
<div class="sectionWrapper">
  <div class="sectionContainer">
   
      
      <section  class="band band-b activeSection"  class="band band-b">
          <h1> types </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>tuple allows you to specify ordered array, similar to destrucring array</p>
                  <div class="codeWraper">
                    <code>------- ordered array tuple ------------

const arr:[string,number] = [&#39;3&#39;, 4]

//this array only takes max 2 arguments of a type string[0] and number[1]</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>types literals allows you to specify literal value as :

                type animal = &#39;dog&#39; | &#39;cat&#39;</p>
                  <div class="codeWraper">
                    <code>-------- literal type allowance --------

const myAnimal = &#39;dog&#39; //correct
const myAnimal2 = &#39;hamster&#39; //ups you only have option for &quot;dog&quot; | &quot;cat&quot;

------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>Types guards allow to check for specific type either by  &#39;property&#39; in object method that loops
                through types or swich method.</p>
                  <div class="codeWraper">
                    <code>-------- (&#39;property&#39; in object) type guards ---------

function moveAnimal(animal: Animal) {
  //1. One options is to use loop &#39;property&#39; in object
  if (&#39;flyingSpeed&#39; in animal) {
    console.log(&#39;Animal is moving with&#39;, animal.flyingSpeed);
  }

  if (&#39;runnigSpeed&#39; in animal) {
    console.log(&#39;Animal is moving with&#39;, animal.runnigSpeed);
  }
}

-------- switch statement with  type guards ---------

//discriminated unions with switch statement (access some common property as comparison)

function moveAnimalDiscriminatedTypes(animal: Animal) {
  switch (animal.kind) {
    case &#39;bird&#39;:
      console.log(&#39;Animal is moving with&#39;, animal.flyingSpeed);
      break;
    case &#39;horse&#39;:
      console.log(&#39;Animal is moving with&#39;, animal.runnigSpeed);
      break;
    default:
      break;
  }
}</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Typescript generics </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Typescript uses generics for data assumptions, for example

                  const array = []

                  when U hover on array in IDE U will see : array:any[] or never[]</p>
                  <div class="codeWraper">
                    <code>--------------------other exaples of build-in generics------------------------


1) promises always assume generics return type

const promise = new Promise((resolve, reject)=&gt;{
  resolve(&#39;this is done&#39;)
})  

=&gt; this will resolve to Promise:promise&lt;unknown&gt; 
=&gt; but we allowed and should tell typescript what to return as Promise:promise&lt;string&gt;



 ------------------ ------------------ ------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>U can assign generic type to every argument passed to the functtion. To create array from 2 arguments 
                you can return array of tuple as example below</p>
                  <div class="codeWraper">
                    <code>//-------- multiple types generics

function createArray2MultipleTypes&lt;T, U&gt;(n: T, u: U): [T, U] {
  return [n, u];
}

createArray2MultipleTypes&lt;number, number&gt;(6, 4);
createArray2MultipleTypes&lt;string, number[]&gt;(&#39;2&#39;, [4]);
createArray2MultipleTypes&lt;number, number[]&gt;(2, [4]);</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>Generics are used for specific type on single run time. That means , the same function can 
                 be called one with a string and with a number on other time. It is important to make sure that typescript
                 knows what type is currently used, which is called type lock.</p>
                  <div class="codeWraper">
                    <code>-----

function createArray&lt;T&gt;(...arg: T[]) {
  return [...arg];
}

createArray(&#39;one&#39;, &#39;two&#39;, &#39;three&#39;); //string[]
createArray(3, 1, 4); //number[]
createArray([3], [2], [4]); //number[][]

---NOTICE----
//bellow should create an error
createArray({ ss: 3 }, { ee: 3 }, [6]); 

---THEREFORE----
//sometimes you need to help typescript to lock values types you want to use as below

//with type locking
createArray&lt;{ [key: string]: number }&gt;({ ss: 3 }, { ee: 3 }); //array{[key: string]: number }</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>Generics allows you to pass any type to the function, but sometime U want to be more specific 
                and tell typescirpt that you want to use only sting | numbers, basically contrains what type can be 
                used with your generic function. Generic constrains is the way to tell typescript that you only want to work with certain types.</p>
                  <div class="codeWraper">
                    <code>--------------

type stringOrNumber = string | number;
function createArray1&lt;T extends stringOrNumber&gt;(...arg: T[]) {
  return [...arg];
}

createArray1(2, 4, 5);
createArray1(&#39;2&#39;, &#39;4&#39;, &#39;5&#39;);
createArray1([2], [4], [5]); //not accepted</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-5">
                <div class="band-inner">

                  <p>Typescript forces you to use typeof for type conditions, for object U can use value &#39;key of&#39; object
                as the example below;</p>
                  <div class="codeWraper">
                    <code>----------------check if key exists in object with generics  ----

const getObjectPropertyValue = &lt;T extends object, U extends keyof T&gt;(obj:T,key:U):string =&gt; {
  return &#39;the value is&#39;+obj[key]
}

getObjectPropertyValue({}, &#39;name&#39;) //error
getObjectPropertyValue({name:&#39;Greg&#39;}, &#39;name&#39;) //correct</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> function overloads </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Function overloads are great example of locking types. For complex function that returns compulation 
                You should use fuction overloads for simple compulation (not depending on types return) you should use types generics with functions</p>
                  <div class="codeWraper">
                    <code>//proper usege of overload functions

function passStringOrNumber(n: string): string;
function passStringOrNumber(n: number): string;
function passStringOrNumber(n: string | number):string {
  if (n === &#39;string&#39;) {
    return &#39;you passed string&#39; + n;
  }
  if (n === &#39;number&#39;) {
    return &#39;you passed number&#39; + n;
  }

  return &#39;&#39;
}

//concluesion function overload is not that diffrent from regular function only allows you to 
//specify exact type arguments eventually combining into union types (which btw is always last in function overload)

passStringOrNumber(4);
passStringOrNumber(&#39;4&#39;);
passStringOrNumber({4}); //not included in function overload</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>Functional compoent in again Stateless compoents that accepts props as function argument and returns JSX syntax</p>
                  <div class="codeWraper">
                    <code>------------------------- Functional Stateless component-----------

 const FunctionalComponent = (props) =&gt; &lt;p&gt;I am functional component&lt;/p&gt;

ReactDOM.render(&lt;FunctionalComponent name=&quot;Greg&quot; /&gt;,document.getElementById(&#39;app&#39;));

-----------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Type casting </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Type casting is the way to tell typescript that the type needed to be used U will provide better, typescript type assumption it not takken.</p>
                  <div class="codeWraper">
                    <code>---------------- jsx single Line--------------

//by default typescirpt takes input as HTMLElement and doesnt allow to access input.value property we know it exists

const inputElement = document.getElementById(&#39;ss&#39;); 
inputElement.value //produces error cause it doesnt exist on HTMLElement

1. one way is to set type before document

const inputElement = &lt;HTMLInputElement&gt;document.getElementById(&#39;ss&#39;);


2. or for the JSX or TSX files use &#39;as&#39; operator

const inputElement = document.getElementById(&#39;ss&#39;) as HTMLInputElement;


------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>typescript has a syntax of 

                element.current!.value 

                where element.current! assures that 
                element that current can not be never null or undefined</p>
                  <div class="codeWraper">
                    <code>---------------- not null value for HTML element--------------

const DomElement = document.getElementByID(&#39;id&#39;)!

//the above way we ensure that DomElement is never undefined or null
------------------------------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
  
    <section class="band band-b activeSection">
      <h1></h1>

      



        

    </section>
  
  </div>
</div>

       <!-- nunjucks loop-->
  </div>
</div>
<script src="scripts/nav-links.js"></script>
<script src="scripts/tooltips_links_over.js"></script>
<script src="scripts/search_nav.js"></script>
 </body></html>