<!DOCTYPE html>
<html>
<head>
  <title>Flex fetures</title>
  <style>
    .box {
        height: 300px;
        border-radius: 4px;
        border-bottom: 1px solid green;
        border-right: 1px solid green;
        background-color: pink;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="./flexbox_setup.css">
</head>
<body>
  <div class="box">
    <ul class="flex-container">
      <li class="flex-item header">flex: 1 100%;</li>
      <li class="flex-item sidebar">no style</li>
      <li class="flex-item main">flex: 1</li>
      <li class="flex-item sidebar">no style</li>
      <li class="flex-item footer">flex: 1 100%;</li>
    </ul>
  </div>
  <div style='border:3px dashed pink;margin: 10px 0 10px 0;'></div>
  <div class="box">
    <div class="flex-container1">
      <div class="flex-item1 header1"><img src="./Flexbox_files/pirate.svg" width="75" alt="Example image"></div>
      <div class="flex-item1 sidebar1">flex:2</div>
      <div class="flex-item1 footer1">flex:1</div>
    </div>
  </div>
  <div style='border:3px dashed pink;margin: 10px 0 10px 0;'></div>
  <h2>devide vertically</h2>
  <div class="box">
    <div class="flex-containerHorizontal">
      <div class="flex-itemHorizontal"><div class="centerize"><p>this is box</p><img src="./pirate.svg" width="75" alt="Example image" /><p>this is box</p></div>
    </div>
      <div class="flex-itemHorizontal"><div class="centerize"><p>this is box</p><img src="./pirate.svg" width="75" alt="Example image" /><p>this is box</p></div>
    </div>
      <div class="flex-itemHorizontal"><div class="centerize"><p>this is box</p><img src="./pirate.svg" width="75" alt="Example image" /><p>this is box</p></div>
    </div>
    </div>
  </div>
  <div style='border:3px dashed pink;margin: 10px 0 10px 0;'></div>
  <h2>devide vertically</h2>
  <div class="box">
    <div class="flex-containerHorizontal">
      <div class="flex-itemHorizontal"><div class="centerize"><p>this is box</p><img src="./pirate.svg" width="75" alt="Example image" /><p>this is box</p></div>
    </div>
      <div class="flex-itemHorizontal"><div class="centerize"><p>this is box</p><img src="./pirate.svg" width="75" alt="Example image" /><p>this is box</p></div>
    </div>
      <div class="flex-itemHorizontal"><div class="centerize"><p>this is box</p><img src="./pirate.svg" width="75" alt="Example image" /><p>this is box</p></div>
    </div>
    </div>
  </div>
</body>
</html>