/*** mixins ***/
/*************/
/* The container */
.container-radio-button {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*1 Hide the browser's default radio button */
  /*2 Create a custom radio button */
  /* When the radio button is checked, add a red background to .checkmark sibling*/
  /*3. On mouse-over, add a grey background color but only when is active*/ }
  .container-radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .container-radio-button .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #ccc;
    box-shadow: 0 0 0 1px green;
    /* Create the indicator (the dot/circle - hidden when not checked) */ }
    .container-radio-button .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      top: 8px;
      left: 8px;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: white; }
  .container-radio-button input:checked ~ .checkmark {
    background-color: green;
    /* Show the indicator (dot/circle) when checked */ }
    .container-radio-button input:checked ~ .checkmark:after {
      display: block; }
  .container-radio-button:hover input:not(:checked) ~ .checkmark {
    background-color: #b3b3b3; }
