<html lang="en"><head>
  <meta charset="UTF-8">  
  <title>tutorial === Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/tutorial.css">
  <link rel="stylesheet" href="css/tooltip.css">
</head>
<body translate="no">
<div class="l-site">
  <div class="l-nav">
    <nav class="nav">
      <input type="text" placeholder="Search" id="search">
      <div style="clear: both;"></div>
      <!-- nunjucks loop-->
            
<ul class="links">
<!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts">ES6 import and export in browser</a><span class="tooltiptext">ES6 import and export in browser</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>ES6 import and export in browser files</a><span class="tooltiptext">ES6 import and export in browser files</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>ES6 import and export in browser setup</a><span class="tooltiptext">ES6 import and export in browser setup</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>install babel preset</a><span class="tooltiptext">install babel preset</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>use presets in your package.json</a><span class="tooltiptext">use presets in your package.json</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>run your babel command for traspiling to ES5</a><span class="tooltiptext">run your babel command for traspiling to ES5</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>run browserfy</a><span class="tooltiptext">run browserfy</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts">React Components</a><span class="tooltiptext">React Components</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>Functional Component no JSX</a><span class="tooltiptext">Functional Component no JSX</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>Functional Component with JSX</a><span class="tooltiptext">Functional Component with JSX</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>React Components: Statefull Classes</a><span class="tooltiptext">React Components: Statefull Classes</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts">JSX syntax</a><span class="tooltiptext">JSX syntax</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>JSX single line</a><span class="tooltiptext">JSX single line</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>JSX multiple line</a><span class="tooltiptext">JSX multiple line</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>JSX nesting</a><span class="tooltiptext">JSX nesting</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts">JEST and ENZYME  setup</a><span class="tooltiptext">JEST and ENZYME  setup</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts">JEST and ENZYME testing (functions)</a><span class="tooltiptext">JEST and ENZYME testing (functions)</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>by implementing original function for test</a><span class="tooltiptext">by implementing original function for test</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>testing with mock function js.fn();</a><span class="tooltiptext">testing with mock function js.fn();</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>mock function with return value</a><span class="tooltiptext">mock function with return value</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>mock function with promise return</a><span class="tooltiptext">mock function with promise return</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts">Mock a module with jest.mock</a><span class="tooltiptext">Mock a module with jest.mock</span>
                 
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts">jest.spyOn to mock a funtion but later restore its original implementation</a><span class="tooltiptext">jest.spyOn to mock a funtion but later restore its original implementation</span>
                 
      </li>
    
<!--end-list-tag-->
</ul>

       <!-- nunjucks loop-->
    </nav>
  </div>
  <div class="l-page">
    <div class="menu">
      <div class="menu-hamburger"></div>
    </div>
      <!-- nunjucks loop-->
          
<div class="sectionWrapper">
  <div class="sectionContainer">
   
      
      <section  class="band band-b activeSection"  class="band band-b">
          <h1> ES6 import and export in browser </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Create main.js in a script folder as below that have import and react and react-dom</p>
                  <div class="codeWraper">
                    <code>[object Object]</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>ES6 import and export in browser: 
                 Some of the features of ES6 dont work directly in browser just yet. Therefore we need use transpilers and compilers to make it work.Below Is is simple set up using:
                 1) babel-cli = transpiler to ES5 or node.js code in command line
                 2) babel-preset-env = preset needed for transpiling could be diffrent as react etc.
                 2) babel-preset-react = preset needed for transpiling react into ES5 node.
                 3) browserify = compiler of node.js code to use in browser, allows to use module.exports and require(modules) features in a browser</p>
                  <div class="codeWraper">
                    <code>--------------- project set up ---------------

npm init -f //start package.json with defaults 

--------------- install babel-cli ---------------

//babel-cli to use in command line only for this example

npm i babel-cli --save or -S (to list in dependencies);

--------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>npm i babel-preset-env -S 
               it will traspile your ES6 code into node.js code if you use export/import module feature (require in node.js)
               npm i babel-preset-react -S it will transpile react code into node.js code with require features</p>
                  <div class="codeWraper">
                    <code>--------------- install babel presets---------------

npm i babel-preset-env -S 
npm i babel-preset-react -S 

--------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>U need to use preset previously installed. U could also make separte file called .babelrc as :

                --------------- .babelrc file as option---------------

                {
                  &quot;presets&quot;: [&quot;env&quot;,&quot;react&quot;]
                }
                --------------------------------------------------

                but it is possible to set it in package.json so why not ;P</p>
                  <div class="codeWraper">
                    <code>--------------- package.json part---------------

&quot;babel&quot;: {
    &quot;presets&quot;: [
      &quot;env&quot;, &quot;react&quot;
    ]
}
--------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-5">
                <div class="band-inner">

                  <p>In this exaple we going to run evertying in command line but in real project you would use gulp, grunt or node commands in package.json</p>
                  <div class="codeWraper">
                    <code>--------------- run bubel for folder scripts ---------------

//using local install babel ./node_modules/.bin/babel

./node_modules/.bin/babel  ./scripts --experimental --source-maps-inline -d ./lib

--------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-6">
                <div class="band-inner">

                  <p>run browserfy to the main file:
               now we have traspiled version of files so it is time to compile main.js and run in browser</p>
                  <div class="codeWraper">
                    <code>----run browserify only on main.js (since the other depend on it exporting) ----

//using local install browserify ./node_modules/.bin/browserify

./node_modules/.bin/browserify lib/main.js -o bundle.js

----------------run bundle.js in browser ----------------------

open index.html 

//full example folder: simple_setup

---------------- ---------------- ----------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> React Components </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Functional Component is a stateless component that calls a function that returns either jsx or React.create() element</p>
                  <div class="codeWraper">
                    <code>[object Object]</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>Functional compoent in again Stateless compoents that accepts props as function argument and returns JSX syntax</p>
                  <div class="codeWraper">
                    <code>------------------------- Functional Stateless component-----------

 const FunctionalComponent = (props) =&gt; &lt;p&gt;I am functional component&lt;/p&gt;

ReactDOM.render(&lt;FunctionalComponent name=&quot;Greg&quot; /&gt;,document.getElementById(&#39;app&#39;));

-----------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>StateFull Class Component: it creates a component that accpets props and allows you to define &#39;state&#39; and ref. Use only if you need that you need to change the state. You dont need to use JSX but it is preferable.</p>
                  <div class="codeWraper">
                    <code>class Hello extends React.Component {
  constructor(props){
    super(props);
    this.state={value:0}
  }
  render() {
    return &lt;div&gt;Hello {this.props.toWhat} &lt;/div&gt;;
  }
}

ReactDOM.render(
  &lt;Hello toWhat=&quot;World&quot; /&gt;,
  document.getElementById(&#39;root&#39;)
);</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> JSX syntax </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>JSX could be set on single line and it needs {variable,js expresion} to interpolate that into syntax</p>
                  <div class="codeWraper">
                    <code>---------------- jsx single Line--------------

  const info = &#39;info&#39;;
  const fn = value=&gt; `myValue ${value}`

  const jsxExample = &lt;div&gt;{info} {fn(&#39;set&#39;)} {5+5} &lt;/div&gt;

  ReactDOM.render(
    jsxExample,
    document.getElementById(&#39;root&#39;)
  );
------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>for clarity JSX could and should be set on multiple lines with () and it accepts {variable,js expresion} to interpolate that into syntax</p>
                  <div class="codeWraper">
                    <code>---------------- jsx multiple Line needs () parenthesis--------------

const info = &#39;info&#39;;
const fn = value=&gt; `myValue ${value}`

const jsxExample = (
                    &lt;div&gt;
                      {info}
                      {fn(&#39;set&#39;)} 
                      {5+5} 
                    &lt;/div&gt;
                    );

ReactDOM.render(
  jsxExample,
  document.getElementById(&#39;root&#39;)
);
------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>U could nest your jsx and render them into one jsx</p>
                  <div class="codeWraper">
                    <code>---------------- jsx multiple Line--------------

const nestAndRenderArray = [1,2,3,4];
//create jsx outside
const outside = nestAndRenderArray.map( arrEl =&gt; &lt;p key={arrEl+3} &gt; myElements: {arrEl} &lt;/p&gt;);

const jsxExample = (
            &lt;div&gt;
                &lt;div&gt;
                    {&lt;p&gt;{5+5}&lt;/p&gt;}
                 &lt;/div&gt;
                      {   nestAndRenderArray.map( arrEl =&gt;
                            &lt;p key={arrEl} &gt; myElements: {arrEl} &lt;/p&gt;)
                      }
                &lt;div&gt;
                    {outside}
                &lt;/div&gt;
            &lt;/div&gt;
        );

ReactDOM.render(
  jsxExample,
  document.getElementById(&#39;root&#39;)
);
------------------------------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> JEST and ENZYME  setup </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>JEST and ENZYME setup</p>
                  <div class="codeWraper">
                    <code>//to start testing with Enzyme and JEST you need to install those packages saved in dev dependencies;

                      npm i  enzyme enzyme-adapter-react-16 jest babel-jest -D and also in your package.json you  need this bit for trasnpiling 

                      &quot;babel&quot;: {
                          &quot;presets&quot;: [
                            &quot;env&quot;,
                            &quot;react&quot;
                          ]
                        },

                        so U also need those : npm i babel-preset-env babel-preset-react -S

                        example: react_tuts/react_examples/tests-react/jest-testing-function-mocks</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> JEST and ENZYME testing (functions) </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>the most common way of testing functionality of the method is simply run the method and 
                expect to give you back what is declared in function body (method has to be return type!) for that</p>
                  <div class="codeWraper">
                    <code>----------------------- math.js helpers ----------------
export const add      = (a, b) =&gt; a + b;
export const subtract = (a, b) =&gt; b - a;
---------------------------------------------------------

----------------------- app.js (math helpers implementation) ----------------
export const doAdd      = (a, b) =&gt; math.add(a, b);
export const doSubtract = (a, b) =&gt; math.subtract(a, b);
-----------------------------------------------------------------------------

--------------- now testing those implemenations --------------------------
import * as app from &quot;./app&quot;;
import * as math from &quot;./math&quot;;

/*
  *@test base function
  *@by running it
*/
test(&quot;calls math.add&quot;, () =&gt; {
    const add = math.add(1,2)
    expect(add).toBe(3)
})
/*
  *@test higher-order function
  *@by running it
*/
test(&quot;calls app.doAdd&quot;, () =&gt; {
    const appAdd = app.doAdd(1,2)
    expect(appAdd).toBe(3)
})
----------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>if data is complex in a funtion and you might be intrested only in the outcome (as promise to API call) we can mock function</p>
                  <div class="codeWraper">
                    <code>----------------------- math.js helpers ----------------
export const add      = (a, b) =&gt; a + b;
export const subtract = (a, b) =&gt; b - a;
---------------------------------------------------------

----------------------- app.js (math helpers implementation) ----------------
export const doAdd      = (a, b) =&gt; math.add(a, b);
export const doSubtract = (a, b) =&gt; math.subtract(a, b);
-----------------------------------------------------------------------------


/*
  *@we can assing our function to js.fn()
  *@what gives them new functionality, they are no longer original function;
*/  

/*


math.add = jest.fn()
app.doAdd = jest.fn() 

/*
*@now our function can be called as below;
*@the old functionality is gone;
*/

//assign to mock 
-----------
const mathNew = math.add(&quot;new staff&quot;)
const appNew = app.doAdd( &quot;I am cool&quot;)
-------------

//math.add
expect(mathNew).toBeUndefined()
expect(math.add).toHaveBeenCalled()
expect(math.add).toHaveBeenCalledTimes(1)
expect(math.add).toHaveBeenCalledWith(&quot;new staff&quot;)

//app.doAdd
expect(appNew).toBeUndefined()
expect(app.doAdd).toHaveBeenCalled()
expect(app.doAdd).toHaveBeenCalledTimes(1)
expect(app.doAdd).toHaveBeenCalledWith(&quot;I am cool&quot;)</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>One function is assign to mock we can make it a return a value, this patern is very usefull when We want to mock API call that returns a JSON file</p>
                  <div class="codeWraper">
                    <code>----------------------- math.js helpers ----------------
export const add      = (a, b) =&gt; a + b;
export const subtract = (a, b) =&gt; b - a;
---------------------------------------------------------

----------------------- app.js (math helpers implementation) ----------------
export const doAdd      = (a, b) =&gt; math.add(a, b);
export const doSubtract = (a, b) =&gt; math.subtract(a, b);
-----------------------------------------------------------------------------
                
/*
*@assignning mocks to the functions of return type ;
*@
*/

math.add = jest.fn().mockImplementation( () =&gt; &quot;some Value&quot; );
//other syntax;
app.doAdd = jest.fn()
app.doAdd.mockReturnValue(&quot;bar value&quot;)

/*
*@testing function with mock return 
*@
*/

//math.add
expect(math.add()).toBe(&quot;some Value&quot;)
//app.doAdd
expect(app.doAdd()).toBe(&quot;bar value&quot;)</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>we can mock our function to return a promise as below:</p>
                  <div class="codeWraper">
                    <code>----------------------- math.js helpers ----------------
export const add      = (a, b) =&gt; a + b;
export const subtract = (a, b) =&gt; b - a;
---------------------------------------------------------

----------------------- app.js (math helpers implementation) ----------------
export const doAdd      = (a, b) =&gt; math.add(a, b);
export const doSubtract = (a, b) =&gt; math.subtract(a, b);
-----------------------------------------------------------------------------
                
/*
*@assignning mocks to the functions that return promise;
*@
*/

math.add = jest.fn().mockImplementation(() =&gt; Promise.resolve(&quot;promise resolve&quot;))
math.devide = jest.fn().mockImplementation((value) =&gt; Promise.reject(value))
//other syntax;
app.doAdd = jest.fn()
app.doAdd.mockResolvedValue(&quot;bar&quot;)
//reject other syntax;
math.devide = jest.fn()
app.doAdd.mockRejectedValue(&quot;rejected&quot;);

/*
*@now our function can be called as below;
*@the old functionality is gone now our function returns above values that resolves in promise resolved;
*/

//math.add
expect(math.add()).resolves.toBe(&quot;promise resolve&quot;)
expect(app.doAdd()).resolves.toBe(&quot;bar&quot;)
expect(math.devide(&quot;rejected&quot;)).rejects.toBe(&quot;rejected&quot;)

-----------------------------------------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> Mock a module with jest.mock </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>you can automatically assing mock functions to all function from the moduele by jest.mock();</p>
                  <div class="codeWraper">
                    <code>----------------------- math.js helpers ----------------
export const add      = (a, b) =&gt; a + b;
export const subtract = (a, b) =&gt; b - a;
---------------------------------------------------------

describe(&quot;use js.mock() for all exported fn&quot;,() =&gt; {
// Set all module functions to jest.fn
  jest.mock(&quot;./helpers/math&quot;)

  test(&quot;using js.mock() for mocking all exported functions from the module&quot;, ()=&gt;{

      //pick any function from module set to mock and call it;
      math.add(&quot;add&quot;)
      expect(math.add).toHaveBeenCalledWith(&quot;add&quot;)
  })
})</code>
                  </div>
                </div>
              </div>
            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> jest.spyOn to mock a funtion but later restore its original implementation </h1> 
          

            
              <div class="band-container">
                <div class="band-inner">

                  <p>jest.spyOn() to mock a funtion but later restore its original implementation later in the same test by mockFn.mockRestore()</p>
                  <div class="codeWraper">
                    <code>----------------------- math.js helpers ----------------
 export const add      = (a, b) =&gt; a + b;
 export const subtract = (a, b) =&gt; b - a;
 ---------------------------------------------------------

 describe(&quot;use js.spyOn() to mock function and then restore original implementation&quot;,()=&gt;{
     const addMock = jest.spyOn(math, &quot;add&quot;)

     // override the implementation
     addMock.mockImplementation(() =&gt; &quot;mock&quot;)
     expect(app.doAdd(1, 2)).toEqual(&quot;mock&quot;)

     // restore the original implementation
     addMock.mockRestore()
     expect(app.doAdd(1, 2)).toEqual(3)
 })</code>
                  </div>
                </div>
              </div>
            

      </section>
  
  
    <section class="band band-b activeSection">
      <h1></h1>

      



        

    </section>
  
  </div>
</div>

       <!-- nunjucks loop-->
  </div>
</div>
<script src="scripts/nav-links.js"></script>
<script src="scripts/tooltips_links_over.js"></script>
<script src="scripts/search_nav.js"></script>
 </body></html>