<html lang="en"><head>
  <meta charset="UTF-8">  
  <title>tutorial === Layout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/tutorial.css">
  <link rel="stylesheet" href="css/tooltip.css">
</head>
<body translate="no">
<div class="l-site">
  <div class="l-nav">
    <nav class="nav">
      <input type="text" placeholder="Search" id="search">
      <div style="clear: both;"></div>
      <!-- nunjucks loop-->
            
<ul class="links">
<!--list-tag-->
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts">ES6 import and export in browser</a><span class="tooltiptext">ES6 import and export in browser</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>ES6 import and export in browser files</a><span class="tooltiptext">ES6 import and export in browser files</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>ES6 import and export in browser setup</a><span class="tooltiptext">ES6 import and export in browser setup</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>install babel preset</a><span class="tooltiptext">install babel preset</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>use presets in your package.json</a><span class="tooltiptext">use presets in your package.json</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>run your babel command for traspiling to ES5</a><span class="tooltiptext">run your babel command for traspiling to ES5</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>run browserfy</a><span class="tooltiptext">run browserfy</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts">React Components</a><span class="tooltiptext">React Components</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>Functional Component no JSX</a><span class="tooltiptext">Functional Component no JSX</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>React Select =&gt; predifined value</a><span class="tooltiptext">React Select =&gt; predifined value</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>React Select =&gt; defualtValue</a><span class="tooltiptext">React Select =&gt; defualtValue</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>Functional Component with JSX</a><span class="tooltiptext">Functional Component with JSX</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>React Components: Statefull Classes</a><span class="tooltiptext">React Components: Statefull Classes</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts">dynamic import</a><span class="tooltiptext">dynamic import</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>dynamic import as hook on click</a><span class="tooltiptext">dynamic import as hook on click</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>dynamic import as Class on click</a><span class="tooltiptext">dynamic import as Class on click</span>
                        
                    </ul>
                
      </li>
    
      <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts">JSX syntax</a><span class="tooltiptext">JSX syntax</span>
                  
                    <ul class="linksNested">
                          
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>JSX single line</a><span class="tooltiptext">JSX single line</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>JSX multiple line</a><span class="tooltiptext">JSX multiple line</span>
                           
                          <li class="nav-primary tooltip"><a href="javascript_tuts/tuts_all_scripts_css/react_tuts" partition>JSX nesting</a><span class="tooltiptext">JSX nesting</span>
                        
                    </ul>
                
      </li>
    
<!--end-list-tag-->
</ul>

       <!-- nunjucks loop-->
    </nav>
  </div>
  <div class="l-page">
    <div class="menu">
      <div class="menu-hamburger"></div>
    </div>
      <!-- nunjucks loop-->
          
<div class="sectionWrapper">
  <div class="sectionContainer">
   
      
      <section  class="band band-b activeSection"  class="band band-b">
          <h1> ES6 import and export in browser </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Create main.js in a script folder as below that have import and react and react-dom</p>
                  <div class="codeWraper">
                    <code>--------------------scripts/main.js------------------------
&#39;use strict&#39;;

import React from &#39;react&#39;;
import ReactDOM from &#39;react-dom&#39;;

const title = &#39;My Minimal React Webpack Babel Setup is set&#39;;

ReactDOM.render(
  &lt;div&gt;{title}&lt;/div&gt;,
  document.getElementById(&#39;app&#39;)
);


 --------------------index.html------------------------
 //for runing bundle.js in a browser;

 &lt;!DOCTYPE html&gt;
 &lt;html lang=&quot;en&quot;&gt;
 &lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;title&gt;browserify outcome&lt;/title&gt;
 &lt;/head&gt;
 &lt;body&gt;
 &lt;script src=&quot;bundle.js&quot;&gt;&lt;/script&gt;
 &lt;/body&gt;
 &lt;/html&gt;

 ------------------ ------------------ ------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>ES6 import and export in browser: 
                 Some of the features of ES6 dont work directly in browser just yet. Therefore we need use transpilers and compilers to make it work.Below Is is simple set up using:
                 1) babel-cli = transpiler to ES5 or node.js code in command line
                 2) babel-preset-env = preset needed for transpiling could be diffrent as react etc.
                 2) babel-preset-react = preset needed for transpiling react into ES5 node.
                 3) browserify = compiler of node.js code to use in browser, allows to use module.exports and require(modules) features in a browser</p>
                  <div class="codeWraper">
                    <code>--------------- project set up ---------------

npm init -f //start package.json with defaults 

--------------- install babel-cli ---------------

//babel-cli to use in command line only for this example

npm i babel-cli --save or -S (to list in dependencies);

--------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>npm i babel-preset-env -S 
               it will traspile your ES6 code into node.js code if you use export/import module feature (require in node.js)
               npm i babel-preset-react -S it will transpile react code into node.js code with require features</p>
                  <div class="codeWraper">
                    <code>--------------- install babel presets---------------

npm i babel-preset-env -S 
npm i babel-preset-react -S 

--------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>U need to use preset previously installed. U could also make separte file called .babelrc as :

                --------------- .babelrc file as option---------------

                {
                  &quot;presets&quot;: [&quot;env&quot;,&quot;react&quot;]
                }
                --------------------------------------------------

                but it is possible to set it in package.json so why not ;P</p>
                  <div class="codeWraper">
                    <code>--------------- package.json part---------------

&quot;babel&quot;: {
    &quot;presets&quot;: [
      &quot;env&quot;, &quot;react&quot;
    ]
}
--------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-5">
                <div class="band-inner">

                  <p>In this exaple we going to run evertying in command line but in real project you would use gulp, grunt or node commands in package.json</p>
                  <div class="codeWraper">
                    <code>--------------- run bubel for folder scripts ---------------

//using local install babel ./node_modules/.bin/babel

./node_modules/.bin/babel  ./scripts --experimental --source-maps-inline -d ./lib

--------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-6">
                <div class="band-inner">

                  <p>run browserfy to the main file:
               now we have traspiled version of files so it is time to compile main.js and run in browser</p>
                  <div class="codeWraper">
                    <code>----run browserify only on main.js (since the other depend on it exporting) ----

//using local install browserify ./node_modules/.bin/browserify

./node_modules/.bin/browserify lib/main.js -o bundle.js

----------------run bundle.js in browser ----------------------

open index.html 

//full example folder: simple_setup

---------------- ---------------- ----------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> React Components </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>Functional Component is a stateless component that calls a function that returns either jsx or React.create() element</p>
                  <div class="codeWraper">
                    <code>------------------Functional Component no jsx by-------------------------

React.createElement(HTMLElement,{ name: props.name },&quot;content&quot; or children);

const FunctionalComponent = (props) =&gt; {
      return React.createElement(
        &quot;p&quot;,
        { name: props.name },
        &quot;I am functional component&quot;
      );
  };
} 

ReactDOM.render(&lt;FunctionalComponent name=&quot;Greg&quot; /&gt;,document.getElementById(&#39;app&#39;));</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>In order to have Predifined Select option when you load or
                update the Select component you need to have selected prop present 
                with the values below:

               &lt;option selected={defaultV === option}&gt;{option}&lt;/option&gt;</p>
                  <div class="codeWraper">
                    <code>//---------------

interface IProps {
  options: (number | string)[];
  eventHandler: (e: React.ChangeEvent) =&gt; void;
  defaultV?: number | string;
}

const SelectOptions = ({ options, eventHandler, defaultV }: IProps) =&gt; {

  console.log(&#39;defaultV&#39;, defaultV)

  return (
    &lt;select onChange={eventHandler}&gt;
      { options.map((option, i) =&gt; &lt;option key={`option${i}`} value={option} selected={defaultV === option}&gt;{option}&lt;/option&gt;)}
    &lt;/select&gt;
  );
}

export default SelectOptions;

//---------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>In order to have only DefaultValue option when you load or
                update the Select component you need to have defaultValue prop present in 
                Select with the values below. React calls this uncontrolled-component with 
                that behaviour With an uncontrolled component, you often want React to specify the initial value, but leave subsequent updates uncontrolled.To handle this case, you can specify a defaultValue attribute instead of value. Changing the value of defaultValue attribute after a component has mounted will not cause any update of the value in the DOM. defaultValue will not change.

               &lt;select defaultValue={defaultValue}&lt;/select&gt;</p>
                  <div class="codeWraper">
                    <code>//---------------

interface IProps {
  options: (number | string)[];
  eventHandler: (e: React.ChangeEvent) =&gt; void;
  defaultV?: number | string;
}

const SelectOptions = ({ options, eventHandler, defaultV }: IProps) =&gt; {

  console.log(&#39;defaultV&#39;, defaultV)

  return (
    &lt;select onChange={eventHandler} defaultValue={defaultV}&gt;
      { options.map((option, i) =&gt; &lt;option key={`option${i}`} value={option}&gt;{option}&lt;/option&gt;)}
    &lt;/select&gt;
  );
}

export default SelectOptions;

//---------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-4">
                <div class="band-inner">

                  <p>Functional compoent in again Stateless compoents that accepts props as function argument and returns JSX syntax</p>
                  <div class="codeWraper">
                    <code>------------------------- Functional Stateless component-----------

 const FunctionalComponent = (props) =&gt; &lt;p&gt;I am functional component&lt;/p&gt;

ReactDOM.render(&lt;FunctionalComponent name=&quot;Greg&quot; /&gt;,document.getElementById(&#39;app&#39;));

-----------------------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-5">
                <div class="band-inner">

                  <p>StateFull Class Component: it creates a component that accpets props and allows you to define &#39;state&#39; and ref. Use only if you need that you need to change the state. You dont need to use JSX but it is preferable.</p>
                  <div class="codeWraper">
                    <code>class Hello extends React.Component {
  constructor(props){
    super(props);
    this.state={value:0}
  }
  render() {
    return &lt;div&gt;Hello {this.props.toWhat} &lt;/div&gt;;
  }
}

ReactDOM.render(
  &lt;Hello toWhat=&quot;World&quot; /&gt;,
  document.getElementById(&#39;root&#39;)
);</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> dynamic import </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>dynamic import allows you to import component on dymand as 
               the button click example below:</p>
                  <div class="codeWraper">
                    <code>import React, { useState } from &#39;react&#39;;

const Location = () =&gt; {
  const [DynamicComponentLoaded, setDynamicComponent]
    = useState&lt;null | (() =&gt; JSX.Element)&gt;(null)

  const loadComponent = async () =&gt; {
    const module = await import(&#39;../components/functional/DynamicLocationPage&#39;)
    //this method only works for default exports
    setDynamicComponent(() =&gt; module.default)

  }

  return (
    &lt;div&gt;
      {!!DynamicComponentLoaded ?
        &lt;DynamicComponentLoaded /&gt;
        : &lt;button onClick={loadComponent}&gt;Load Location Component dynamically&lt;/button&gt;}
    &lt;/div&gt;
  );

}

export default Location;</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>dynamic import allows you to import component on dymand as 
               the button click example below:</p>
                  <div class="codeWraper">
                    <code>import React from &#39;react&#39;;

class Location extends React.Component {

  // :(() =&gt; JSX.Element) this react construction type needed for react jsx component execution
  //as &lt;DynamicComponentLoaded /&gt; in TS
  state: { DynamicComponentLoaded: null | (() =&gt; JSX.Element) } = {
    DynamicComponentLoaded: null
  }


  loadComponent = () =&gt; {
    import(&#39;../components/functional/DynamicLocationPage&#39;).then((module) =&gt; {
      //this method only works for default exports
      this.setState({ DynamicComponentLoaded: module.default })
    })
  }

  render() {
    const { DynamicComponentLoaded } = this.state;
    return (
      &lt;div&gt;
        {!!DynamicComponentLoaded ?
          &lt;DynamicComponentLoaded /&gt;
          : &lt;button onClick={this.loadComponent}&gt;Load Location Component dynamically&lt;/button&gt;}
      &lt;/div&gt;
    );
  }
}

export default Location;</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
      
      <section   class="band band-b" class="band band-b">
          <h1> JSX syntax </h1> 
          
              <div class="band-container partition first" part="part-1">
                <div class="band-inner">

                  <p>JSX could be set on single line and it needs {variable,js expresion} to interpolate that into syntax</p>
                  <div class="codeWraper">
                    <code>---------------- jsx single Line--------------

  const info = &#39;info&#39;;
  const fn = value=&gt; `myValue ${value}`

  const jsxExample = &lt;div&gt;{info} {fn(&#39;set&#39;)} {5+5} &lt;/div&gt;

  ReactDOM.render(
    jsxExample,
    document.getElementById(&#39;root&#39;)
  );
------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-2">
                <div class="band-inner">

                  <p>for clarity JSX could and should be set on multiple lines with () and it accepts {variable,js expresion} to interpolate that into syntax</p>
                  <div class="codeWraper">
                    <code>---------------- jsx multiple Line needs () parenthesis--------------

const info = &#39;info&#39;;
const fn = value=&gt; `myValue ${value}`

const jsxExample = (
                    &lt;div&gt;
                      {info}
                      {fn(&#39;set&#39;)} 
                      {5+5} 
                    &lt;/div&gt;
                    );

ReactDOM.render(
  jsxExample,
  document.getElementById(&#39;root&#39;)
);
------------------------------------------------</code>
                  </div>
                </div>
              </div>
            
              <div class="band-container partition " part="part-3">
                <div class="band-inner">

                  <p>U could nest your jsx and render them into one jsx</p>
                  <div class="codeWraper">
                    <code>---------------- jsx multiple Line--------------

const nestAndRenderArray = [1,2,3,4];
//create jsx outside
const outside = nestAndRenderArray.map( arrEl =&gt; &lt;p key={arrEl+3} &gt; myElements: {arrEl} &lt;/p&gt;);

const jsxExample = (
            &lt;div&gt;
                &lt;div&gt;
                    {&lt;p&gt;{5+5}&lt;/p&gt;}
                 &lt;/div&gt;
                      {   nestAndRenderArray.map( arrEl =&gt;
                            &lt;p key={arrEl} &gt; myElements: {arrEl} &lt;/p&gt;)
                      }
                &lt;div&gt;
                    {outside}
                &lt;/div&gt;
            &lt;/div&gt;
        );

ReactDOM.render(
  jsxExample,
  document.getElementById(&#39;root&#39;)
);
------------------------------------------------</code>
                  </div>
                </div>
              </div>
            

            

      </section>
  
  
    <section class="band band-b activeSection">
      <h1></h1>

      



        

    </section>
  
  </div>
</div>

       <!-- nunjucks loop-->
  </div>
</div>
<script src="scripts/nav-links.js"></script>
<script src="scripts/tooltips_links_over.js"></script>
<script src="scripts/search_nav.js"></script>
 </body></html>